<include file="Public/header" />
<link rel="stylesheet" href="__PUBLIC__/css/publick.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/gongsijieshao.css"/>

	<div class="content">
		<div class="jianjie-1"><img  src="__PUBLIC__/img/gongsijianjie-banner1.png" alt="" /></div>
		<p class="jianjie-2">乔孚舒适家居系统股份有限公司于2000年在上海成立，主要为中国家庭提供健康舒适类产品如：空调、采暖、热水、水处理、新风除霾、除湿、除尘、智能控制、安防监控等，其他还包括欧洲建材类产品、欧洲家居类产品、欧洲母婴类产品以及中国及欧洲的健康特色食品。</p>
		<p class="jianjie-2">通过多年的发展，我们在健康舒适家居领域完成了冷、暖、热、水、风、湿、尘、智等全部产品的整合工作，同时在全国大部分地区有我们的销售安装服务商，能为全国各地的家庭提供优质的产品和良好的服务，在健康舒适家居领域我们处在全国领先地位。</p>
		<div class="jianjie-1"><img  src="__PUBLIC__/img/gongsijianjie-banner2.png" alt="" /></div>
		<p class="jianjie-2">乔孚旗下目前有三家全资子公司:</p>
		<p class="jianjie-2">上品上生电子商务有限公司，主要负责线上的销售；</p>
		<p class="jianjie-2">上海孚荣新能源科技有限公司，主要负责为中国知名的地产公司提供健康舒适家居产品；</p>
		<p class="jianjie-2">德国霍孚圣公司，主要负责欧洲商品的研究及采购；</p>
		<p class="jianjie-2">无论是过去还是未来，我们都致力于提升中国家庭的生活品质，就是让中国人住的健康舒适点、穿的体面点，吃的安全点，消费感觉好一点。</p>			
	</div>
		
<include file="Public/floor" />
