<include file="Public/header" />
<meta name="viewport" content="width=640,user-scalable=no,target-densitydpi=device-dpi"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index2.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home.css"/>
<script type="text/javascript" src="__PUBLIC__/js/wow.js"></script>

		<div class="content">
			<div class="con1">
				<img src="__PUBLIC__/img/page2/banner.png" alt="" />
			</div>
			<div class="con1-1">
				<img src="__PUBLIC__/img/page2/kuai2.png" alt="" />
			      <img src="__PUBLIC__/img/page2/kuai3-img1.png" alt="" style="position: absolute;left: 0;bottom:5px;">

				
			</div>
			<div class=" con2 ">
				<!-- <img class="con2-1" src="__PUBLIC__/img/page2/kuai3-img1.png" alt="" /> -->
				<img class="con2-2 wow fadeInUp" src="__PUBLIC__/img/page2/kuai3-img2.png" alt="" />
				<p class="con2-3 wow fadeInUp">灰尘多？不方便？不能改善空气质量？</p>
				<div class="con2-4 con2-4-1 wow fadeInUp"><img  src="__PUBLIC__/img/page2/kuai3-img3.png" alt="" /></div>
				<div class="con2-5"><img  src="__PUBLIC__/img/page2/line.png" alt="" /></div>
			</div>
			<div class=" con2 con3">
				<img class="con2-2 wow fadeInUp" src="__PUBLIC__/img/page2/kuai3-img6.png" alt="" />
				<p class="con2-3 wow fadeInUp">风量小？噪音大？空气污染？</p>
				<div class="con2-4-2 wow fadeInUp"><img  src="__PUBLIC__/img/page2/kuai3-img5.png" alt="" /></div>
				<div class="con2-5"><img  src="__PUBLIC__/img/page2/line.png" alt="" /></div>
			</div>
			<div class="con2 con4">
				<img class="con2-2 wow fadeInUp" src="__PUBLIC__/img/page2/kuai3-img8.png" alt="" />
				<p class="con2-3 wow fadeInUp">风量小？噪音大？空气污染？</p>
				<div class="con2-4-3 wow fadeInUp"><img  src="__PUBLIC__/img/page2/kuai3-img7.png" alt="" /></div>
			</div>
			<div class="con5">
				<div class="con5-1 wow fadeInUp" ><img src="__PUBLIC__/img/page2/kuai5-img1.png" alt="" /></div>
				<div class="con5-2 wow fadeInUp">高效率除霾&nbsp;排除室内异味</div>
				<div class="con5-3 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai5-img2.png" alt="" /></div>
				<div class="con5-4 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai5-img3.png" alt="" /></div>
				<div class="con5-5 wow fadeInUp">低噪音 超节能 提供大面</div>
				<div class="con5-6 wow fadeInUp">积新鲜洁净的空气</div>
				<div class="con5-7 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai5-img4.png" alt="" /></div>
				<div class="con5-8 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai5-img5.png" alt="" /></div>
				<div class="con5-9 wow fadeInUp">无胶链接 避免甲醛等污染</div>
				<div class="con5-10 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai5-img6.png" alt="" /></div>
			</div>
			<div class="con6">
				<div class="con6-1 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai6-img2.png"/></div>
				<div class="con6-2 wow fadeInUp">恒风量 持续新鲜空气供给</div>
				<div class="con6-3 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai6-img3.png"/></div>
			</div>
			<div class="con7">
				<div class="con7-1 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai7-img1.png"/></div>
				<div class="con7-2 wow fadeInUp">全铝质结构 易清理节能</div>
				<div class="con7-3 wow fadeInUp">使用寿命持久</div>
				<div class="con7-4 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai7-img2.png"/></div>
			      <img src="__PUBLIC__/img/page2/kuai3-img1.png" alt="" style="position: absolute;left: 0;bottom: 0;">
				<!-- <div class="con8-4"><img src="__PUBLIC__/img/page2/kuai3-img1.png" alt="" /></div> -->
			</div>
			<div class="con8">
				<div class="con8-1 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai8-3.png" alt="" /></div>
				<div class="con8-2 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai9-img1.png"/></div>
				<div class="con8-3 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai9-img2.png"/></div>
			</div>
			<div class="con9">
				<div class="con9-1 wow fadeInUp"><img src="__PUBLIC__/img/page2/line.png"/></div>
				<div class="con9-2 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai8-img1.png"/></div>
				<div class="con9-3 wow fadeInUp"><img src="__PUBLIC__/img/page2/kuai8-img2.png"/></div>
			</div>
			<a class="con10" href="<{:U('Furnish/price',array('cid'=>$cid))}>">立即报价</a>
		</div>
	</body>
	<script>
		new WOW().init();
//		window.onscroll=function(){
//				console.log($(document).scrollTop()) 
//			if($(document).scrollTop()>=670){
//				$('.con2-4-1').addClass('con2-4-1-anima');
//				$('.con2-4-1').css("bottom","20px")
//			}
//			if($(document).scrollTop()>=1080){
//				$('.con2-4-2').addClass('con2-4-2-anima');
//				$('.con2-4-2').css("padding-top","80px")
//			}
//			if($(document).scrollTop()>=1610){
//				$('.con2-4-3').addClass('con2-4-3-anima');
//				$('.con2-4-3').css("padding-top","80px")
//			}
//			
//		}
	</script>
</html>
