{:include file="header_supermarket.tpl.html":}
<link rel="stylesheet"  type="text/css"  href="css/supermarket-index.css" >

<div class="clear"></div>

<div class="index-box">	
	<!--主导航-->
	{:include file='common/daohang_supermarket.html':}
    <!--主导航end-->
    
    {:include file="category/category_supermarket.tpl.html":}	
</div>

<div class="supermarket_index-banner">	
	<div class="supermarket_index-banner-left">	
    	<a href="javascript:;">
        	<img src="{:$bann_list['image']:}">
        </a>
    </div>
    
    <div class="supermarket_index-banner-right">
    	<div class="supermarket_index-banner-right-demo">
        	<a href="index.php?homeindex" name="supermarket_index_img_homeindex">
				<img src="images/1133.jpg">
            </a>
        </div>	
        
        <div class="clear32"></div>
        
        <div class="supermarket_index-banner-right-demo">
        	<a href="eugroup.php?euIndex" name="supermarket_index_img_euIndex">
				<img src="images/1134.jpg">
            </a>
        </div>
    </div>
</div>

<!-- 中间楼层 -->
<div class="supermarket_index-center">	
	<!--国家地区馆-->
	<div class="supermarket_index-center-floor">
    	<div class="supermarket_index-center-floor-title">
        	<div class="supermarket_index-center-floor-title-left">
            	<span>
                	国家地区馆
                </span>
            </div>
            
            <div class="supermarket_index-center-floor-title-right">
            	<a href="search.php?k" name="supermarket_search_k">
                	<img src="images/jiantou09.png">
                    
                    <span>更多</span>
                </a>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="supermarket_index-center-floor-banner">
        	<div class="clear2"></div>
            {:foreach $country_list as $k=>$v:}
            <div class="supermarket_index-center-floor-banner-demo">
                <div class="supermarket_index-center-floor-banner-demo-img">
                    <a href="search.php?cuid={:$v['id']:}" name="supermarket_search_{:$v['id']:}">
                        <img src="{:$v['image']:}">
                    </a>
                </div>
                
                <div class="supermarket_index-center-floor-banner-demo-a">
                    <a href="search.php?cuid={:$v['id']:}" name="supermarket_search_{:$v['id']:}">
                        {:$v['name']:}
                    </a>
                </div>
            </div>
            {:/foreach:}
        </div>
    </div>
    <!--国家地区馆end-->
    
    <div class="clear2"></div>
    
	{:foreach $cate_list as $k=>$v:}
    <div class="supermarket_index-center-floor">
    	<div class="supermarket_index-center-floor-title">
        	<div class="supermarket_index-center-floor-title-left">
            	<span>
                	{:$v['name']:}
                </span>
            </div>
            
            <div class="supermarket_index-center-floor-title-right">
            	<a href="baby.php?list&id={:$v['id']:},{:$v['pid']:}" name="baby_list_{:$v['id']:}">
                	<img src="images/jiantou09.png">
                    
                    <span>更多</span>
                </a>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <ul class="ui-tabs-nav"> 
		{:foreach $v['list'] as $ke=>$va:}
            <li>
                <a name="baby_nav_list_{:$ke:}" href="javascript:;"  {:if $ke eq 0:}class="colors2"{:else:}class="colors"{:/if:} id="tabs{:$k:}{:$ke:}" onclick="tabs('tabs','tabs-','{:$k:}{:$ke:}','{:$k:}','none')">
                    {:$va.name:}
                </a>
            </li>    
		{:/foreach:}
        </ul>
        
        <div class="clear"></div>
        {:foreach $v['list'] as $ke=>$va:}
        <div class="supermarket_index-center-floor-list  none{:$k:}"  id="tabs-{:$k:}{:$ke:}" {:if $ke neq 0:}style="display:none;"{:/if:}> 
			{:foreach $va['goods'] as $key=>$val:}
        	<div class="supermarket_index-center-floor-list-demo">
            	<div class="supermarket_index-center-floor-list-demo-img-bk">
                    <div class="supermarket_index-center-floor-list-demo-img" title="{:$val['goods_title']:}">
                        <a href="baby.php?detail&id={:$val['id']:}" target="_blank" name="baby_detail_{:$val['id']:}">
                            <img src="{:$val['face_image']|getImage:}">
                        </a>
                    </div>
                    {:if $val['is_hot']==1:}
                    <div class="supermarket_index-center-floor-list-demo-remai">
                    	<img src="images/remai.png"/>
                    </div>
					{:/if:}
                </div>
                
                <div class="supermarket_index-center-floor-list-demo-name" title="{:$val['goods_title']:}">
                	<a href="baby.php?detail&id={:$val['id']:}" target="_blank" name="baby_detail_{:$val['id']:}">
                    	{:$val['goods_title']:}
                    </a>
                </div>
                
                <div class="supermarket_index-center-floor-list-demo-info">   
                	<div class="supermarket_index-center-floor-list-demo-info-collection">
                        <a href="javascript:;"   onclick="chageImg({:$val['id']:})" name="baby_detail_{:$val['id']:}">
						    {:if in_array($val['id'],$concern_list):}
								 <img  id="img{:$val['id']:}" src="images/xin04.png">
							{:else:}
								 <img id="img{:$val['id']:}" src="images/xin05.png">
							{:/if:}
                        </a>
						
                    </div>
                                     
                    <div class="supermarket_index-center-floor-list-demo-info-current_price">
                    	¥{:$val['purchase']|round:1:}
                    </div>
                    
                    <div class="supermarket_index-center-floor-list-demo-info-original_cost">
                    	¥{:$val['market_price']|round:1:}
                    </div>
                    
                    
                </div>
            </div> 
            
            <div class="supermarket_index-center-floor-list-clear"></div> 
            {:/foreach:}  
             
            <div class="clear"></div>
        </div>
		{:/foreach:}   
    
		<div class="clear15"></div>    
	</div>
	{:/foreach:} 
</div>
<!-- 中间楼层end -->

<div class="clear"></div>

{:include file="footer.tpl.html":}

<script type="text/javascript">
/*点击关注商品*/
function chageImg(id){
    $.get('ajax.php?concern',{id:id,class_id:3},function(data){
        if(data.code==1){
           $('#img'+id).attr('src','images/xin04.png');
        }
		else if(data.code==2){
           $('#img'+id).attr('src','images/xin05.png');
        }
		else{
          alert(data.message);
        }
    },'json');
};
</script>

<!--点击切换滑动门-->
<script>
    function tabs(t,o,k,n,c){
	  for (var i = 0; i <  $('.'+c+n).length; i++) {		
			 var da = document.getElementById(t+n+i); 	
			 console.log(da);
			da.className = 'colors';
	  };
      var div = document.getElementById(t+k); 
	  $('.'+c+n).css('display','none');
      $('#'+o+k).css('display','block') ;
      div.className = 'colors2';
       
    }
</script>
<!--点击切换滑动门end-->
</body>
</html>