<div class="baby-navigation">
    <div class="baby-navigation-bk">
        <div class="baby-navigation" >
            <div class="baby-navigation-right">
                <div class="baby-navigation-right-01">
                    <div class="baby-navigation-right-01-img">
                        <img src="images/gouwuche.png"/>
                    </div>

                    <div class="baby-navigation-right-01-span" id="cart_total">
                        0
                    </div>
                </div>

                <div class="baby-navigation-right-02">
                    <a href="cart.php">
                        我的购物车
                    </a>
                </div>
            </div>

            <div class="baby-navigation-center">
                <div class="baby-navigation-a">
                    <a href="baby.php">
                        首页
                    </a>
                </div>

                <div class="baby-navigation-a">
                    <a href="javascript:;">
                        母婴勋章
                    </a>
                </div>

                <div class="baby-navigation-a">
                    <a href="javascript:;">
                        试用中心
                    </a>
                </div>

                <div class="baby-navigation-a">
                    <a href="javascript:;">
                        妈妈邦
                    </a>
                </div>

                <div class="baby-navigation-a">
                    <a href="javascript:;">
                        品牌特卖
                    </a>
                </div>

                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>
