{:include file="dealer/dealer_header_xin.tpl.html":}
<!--导航-->
<div class="dealer-nev-bk">
    <div class="dealer-nev">
    	<div class="dealer-nev-left">
        	<img src="images/jiantou05.png"/>
            
            <span>
            	我的中心
            </span>
        </div>
        
        <div class="dealer-nev-right">
        	<div class="dealer-nev-right-demo">
            	<a href="dealer.php?password">
                	密码管理
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?advice">
                	意见反馈
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?account">
                	账户
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?aftersale">
                	售后管理
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?order">
                	订单管理
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?center">
                	我的中心
                </a>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
</div>
<!--导航end-->

<div class="clear30"></div>

<!--中间-->
<div class="dealer-center">
	<div class="dealer_user-center">
    	<div class="dealer_user-center-title">
        	<div class="dealer_user-center-title-span">
            	我的中心
            </div>
            
            <div class="dealer_user-center-title-a">
            	<a href="dealer.php?center_info">
                	修改
                </a>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-span">
        	<span>
            	企业资料
            </span>
        </div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业名称：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	{:$dealer_info.d_company:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业法人：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	{:$dealer_info.d_legalperson:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业注册地址：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	{:$dealer_info.d_reg_address:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业办公地址：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	{:$dealer_info.d_rel_address:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业电话：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	{:$dealer_info.d_legalperson_phone:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业电商联系人：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	{:$dealer_info.d_linkman:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	联系人电话：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	{:$dealer_info.d_link_phone:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	发货地址：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	{:$dealer_info.d_pickup_address:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
</div>
<!--中间end-->

<div class="clear34"></div>
<div class="clear34"></div>


{:include file="footer.tpl.html":}
</body>
</html>
