{:include file="dealer/dealer_header_xin.tpl.html":}
<!--导航-->
<div class="dealer-nev-bk">
    <div class="dealer-nev">
    	<div class="dealer-nev-left">
        	<img src="images/jiantou05.png"/>
            
            <span>
            	密码管理
            </span>
        </div>
        
        <div class="dealer-nev-right">
        	<div class="dealer-nev-right-demo">
            	<a href="dealer.php?password">
                	密码管理
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?advice">
                	意见反馈
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?account">
                	账户
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?aftersale">
                	售后管理
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?order">
                	订单管理
                </a>
            </div>
            
            <div class="dealer-nev-right-demo">
            	<a href="dealer.php?center">
                	我的中心
                </a>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
</div>
<!--导航end-->

<div class="clear30"></div>

<!--中间-->
<div class="dealer-center">
	<div class="dealer_pwd-center">
    	<div class="dealer_pwd-center-title">
        	<span>
            	密码管理
            </span>
        </div>
        
        <div class="dealer_pwd-center-table">
        	<div class="dealer_pwd-center-table-left">
            	<div class="clear30"></div>
                
                <form action="dealer.php?apass" method="post">
                    <div class="dealer_pwd-center-table-left-input">
                        <span id="password_text01" onclick="this.style.display='none';document.getElementById('password01').style.display='block';document.getElementById('password01').focus().select();" >请输入您要修改的密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            
                        <input name="oldpass" id="password01" type="password" style="display:none;" onblur="if(this.value==''){document.getElementById('password_text01').style.display='block';this.style.display='none';checkpassword(this)}else{checkpassword(this)};"/>
                    </div>
                    
                    <div class="clear15"></div>
                    
                    <div class="dealer_pwd-center-table-left-input">
                        <span id="password_text02" onclick="this.style.display='none';document.getElementById('password02').style.display='block';document.getElementById('password02').focus().select();" >请输入新的密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            
                        <input name="newpass" id="password02" type="password" style="display:none;" onblur="if(this.value==''){document.getElementById('password_text02').style.display='block';this.style.display='none';checkpassword(this)}else{checkpassword(this)};"/>
                    </div>
                    
                    <div class="clear15"></div>
                    
                    <div class="dealer_pwd-center-table-left-input">
                        <span id="password_text03" onclick="this.style.display='none';document.getElementById('password03').style.display='block';document.getElementById('password03').focus().select();" >请确认新的密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            
                        <input name="cnewpass" id="password03" type="password" style="display:none;" onblur="if(this.value==''){document.getElementById('password_text03').style.display='block';this.style.display='none';checkpassword(this)}else{checkpassword(this)};"/>
                    </div>
                    
                    <div class="clear15"></div>
                    
                    <div class="dealer_pwd-center-table-left-sub">
                    	<div class="dealer_pwd-center-table-left-sub-delete">
                        	<input type="button" value="取消" /></input>
                        </div>
                        
                        <div class="dealer_pwd-center-table-left-sub-submit">
                        	<input type="submit" value="确定" /></input>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="dealer_pwd-center-table-img">
            	<img src="images/1055.png"/>
            </div>
            
            <div class="dealer_pwd-center-table-right">
            	<div class="dealer_pwd-center-table-right-span01">
                	您在更改密码时请注意
                </div>
                
                <div class="dealer_pwd-center-table-right-span02">
                	<img src="images/1056.png"/>密码由6~12位数字和字母组合而成
                </div>
                
                <div class="dealer_pwd-center-table-right-span02">
                	<img src="images/1056.png"/>如无法完成更改请及时与客服联系
                </div>
                
                <div class="dealer_pwd-center-table-right-span02">
                	<img src="images/1056.png"/>请您牢记更改后的密码
                </div>
            </div>
        </div>
    </div>
    
    <div class="clear"></div>
</div>
<!--中间end-->

<div class="clear34"></div>
<div class="clear34"></div>




{:include file="footer.tpl.html":}
</body>
</html>
