<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>优惠券列表</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });

  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>

</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
        <li><a href="<{:U('Admin/Index/index/main')}>">首页</a></li>
        <li><a href="#">优惠券管理</a></li>
        <li><a href="#">活动搜索</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <form action="<{:U('index')}>" method="get">
            <ul class="prosearch">
                <li>
                    <label>查询：</label>
                    <i>开始区间:</i>
                    <a><input name="start" type="number" class="dfinput" value="<{$_GET['start']}>" style="width:150px;"  /></a>
                    <i>结束区间:</i>
                    <a><input name="end" type="number" class="dfinput" value="<{$_GET['end']}>" style="width:150px;"  /></a>
                    <a><input name="" type="submit" class="sure" value="查询"/></a>
                 </li>
            </ul>
        </form>

        <!-- 添加按钮 -->
        <div class="tools">
            <ul class="toolbar">
                <li class=""><a href="<{:U('exl',array('start'=>$_GET['start'],'end'=>$_GET['end']))}>"><span><img src="__PUBLIC__/Admin/images/icon05.png" style="height: 28px;"></span>导出</a></li>
            </ul>
        </div>

        <!-- 表格 -->
        <table class="tablelist">
            <thead>
                <tr>
                    <th>编号<i class="sort"><img src="__PUBLIC__/Admin/images/px.gif" /></i></th>
                    <th>会员名称</th>
                    <th>手机号码</th>
                    <th>优惠券号</th>
					<th>注册时间</th>
                </tr>
            </thead>
            <tbody>
                <!-- 品牌遍历区 -->
                <?php foreach ($list as $key => $v): ?>
                <tr data-id="<{$v.id}>">
                    <td><?php echo (max(1,intval($_GET['p']))-1)*C('ADPOS_PAGE_SIZE') + ++$i ?></td>
                    <td><{$v.user_name}></td>
                    <td><{$v.mobile_phone}></td>
                    <td><{$v.coupon_number}></td>
					<td><{$v.reg_time|date='Y-m-d H:i:s',###}></td>
                    </td>
                </tr>
                <?php endforeach ?>
                <!-- 品牌遍历区 -->
            </tbody>
        </table>


        <!-- 分页开始 -->
        <{$page}>
        <!-- 分页结束 -->


        <div class="tip">
            <div class="tiptop"><span>提示信息</span><a></a></div>
          <div class="tipinfo">
            <span><img src="__PUBLIC__/Admin/images/i04.png" /></span>
            <div class="tipright">
            <p>是否确认真的删除吗 ？</p>
            <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
            </div>
            <div class="tipbtn">
            <input name="" id="data_id" data-id="" type="button" onclick="window.location.href='<{:U('delete')}>?id='+this.getAttribute('data-id')"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
            </div>
        </div>
    </div>
</body>
</html>
