@CHARSET "UTF-8";

.user-fuEvaluation{
	width:1000px;
	margin:0 auto;
	border:1px solid #d6d6d6;
	background:#efefef;}
	
.user-fuEvaluation-form{
	width:900px;
	margin:0 auto;}
	
.user-fuEvaluation-form-title{
	width:900px;
	line-height:25px;}

.user-fuEvaluation-form-title .span01{
	font-size:16px;
	color:#000000;
	font-weight:bold;}
	
.user-fuEvaluation-form-title .span02{
	font-size:16px;
	color:#000000;}
	
.user-fuEvaluation-form-comment_state{
	width:900px;
	line-height:23px;}
	
.user-fuEvaluation-form-comment_state-span01{
	float:left;
	font-size:18px;
	color:#000000;
	margin-right:30px;}
	
.user-fuEvaluation-form-comment_state-span02{
	float:left;
	font-size:18px;
	color:#000000;
	margin-right:20px;}
	
.user-fuEvaluation-form-comment_state-a{
	float:left;
	background:url(../images/anniu40.png);
	font-size:12px;
	color:#ffffff;
	text-align:center;
	width:79px;
	height:23px;
	line-height:23px;}
	
.user-fuEvaluation-form-comment_state-a a{
	font-size:12px;
	color:#ffffff;}
	
.user-fuEvaluation-form-info{
	width:900px;
	margin:0 auto;}
	
.user-fuEvaluation-form-info-span{
	width:900px;
	margin:0 auto;
	font-size:18px;
	color:#000000;}
	
.user-fuEvaluation-form-info-list{
	width:750px;
	margin-left:30px;
	margin-top:20px;}
	
.user-fuEvaluation-form-info-list-demo{
	float:left;
	margin-right:50px;
	font-size:14px;
	color:#000000;}
	
.user-fuEvaluation-form-info-list-demo .span02{
	color:#666;}
	
.user-fuEvaluation-form-info-list-demo span{
	margin-right:10px;}

.user-fuEvaluation-form-star{
	width:900px;
	margin:0 auto;}
	
.user-fuEvaluation-form-star-total{
	width:900px;
	margin:0 auto;
	height:29px;
	line-height:29px;}
	
.user-fuEvaluation-form-star-total-span{
	float:left;
	width:100px;
	height:29px;
	line-height:29px;
	font-size:18px;
	color:#000000;}
	
.user-fuEvaluation-form-star-total-score{
	float:left;
	width:600px;
	height:29px;
	line-height:29px;}

.user-fuEvaluation-form-star-total-score-img{
	float:left;
	width:31px;
	height:29px;
	line-height:29px;
	margin-right:5px;}

.user-fuEvaluation-form-star-total-score-img img{
	width:31px;
	height:29px;}
	
.user-fuEvaluation-form-star-list{
	width:870px;
	margin-left:30px;}
	
.user-fuEvaluation-form-star-list-demo{
	float:left;
	width:430px;
	margin-bottom:20px;}

.user-fuEvaluation-form-star-list-demo-span{
	float:left;
	width:180px;
	height:29px;
	line-height:29px;
	font-size:14px;
	color:#666;}
	
.user-fuEvaluation-form-star-list-demo-score{
	float:left;
	width:200px;
	height:29px;
	line-height:29px;}

.user-fuEvaluation-form-star-list-demo-score-img{
	float:left;
	width:31px;
	height:29px;
	line-height:29px;
	margin-right:5px;}

.user-fuEvaluation-form-star-list-demo-score-img img{
	width:31px;
	height:29px;}

.user-fuEvaluation-form-evaluate{
	width:900px;
	margin:0 auto;}
	
.user-fuEvaluation-form-evaluate-span{
	width:900px;
	height:40px;
	margin:0 auto;
	font-size:18px;
	color:#000000;}
	
.user-fuEvaluation-form-evaluate-info{
	width:900px;
	line-height:20px;
	margin:0 auto;
	font-size:12px;
	color:#000000;}

























