@charset "utf-8";
/* CSS Document */

.QualityLife-center{
	width:1100px;
	margin:0 auto;}
	
.QualityLife-center-demo-title{
	width:1100px;
	height:30px;
	line-height:30px;}
	
.QualityLife-center-demo-title-img{
	width:1100px;
	height:30px;
	background:url(../images/662.png);
	margin-bottom:-30px;}

	
.QualityLife-center-demo-title-span{
	width:1100px;
	text-align:center;}
	
.QualityLife-center-demo-title-span span{
	background:#fff;
	padding-left:30px;
	padding-right:30px;
	color:#403e3e;
	font-size:24px;}
	
.QualityLife-center-demo-detailed{
	width:1100px;}

.QualityLife-center-demo-detailed-01{
	width:1100px;}
	
.QualityLife-center-demo-detailed-01 img{
	width:1100px;}

.QualityLife-center-demo-detailed-02{
	width:1100px;}

.QualityLife-center-demo-detailed-02-01{
	width:366px;
	float:left;}
	
.QualityLife-center-demo-detailed-02-01 img{
	width:366px;}

.QualityLife-center-demo-detailed-02-02{
	width:366px;
	float:left;}
	
.QualityLife-center-demo-detailed-02-02 img{
	width:366px;}
	
.QualityLife-center-demo-detailed-02-03{
	width:366px;
	float:left;}
	
.QualityLife-center-demo-detailed-02-03 img{
	width:366px;}

.QualityLife-center-demo-detailed-03{
	width:1100px;}

.QualityLife-center-demo-detailed-03-01{
	float:left;
	width:306px;}

.QualityLife-center-demo-detailed-03-01 img{
	width:306px;}

.QualityLife-center-demo-detailed-03-02{
	float:left;
	width:244px;}

.QualityLife-center-demo-detailed-03-02 img{
	width:244px;}
	
.QualityLife-center-demo-detailed-03-03{
	float:left;
	width:244px;}

.QualityLife-center-demo-detailed-03-03 img{
	width:244px;}
	
.QualityLife-center-demo-detailed-03-40{
	float:left;
	width:300px;}

.QualityLife-center-demo-detailed-03-04 img{
	width:300px;}

































