@charset "utf-8";
/* CSS Document */

		*{margin:0;padding:0;border:0}
        #main{width:100%;height:230px;}
        #head{height:200px;}
        #head li{float:left;list-style:none;height:171px;width:161px;text-align:center;margin-left:20px;margin-top:10px;}
		img:hover{ color:#CCC; opacity:.5;}
		p{margin-top:10px; display:inline-block;}