<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.1.js"></script>
</head>
<body>
	<div class="content">
		<div class="head" style="font-size: 18px">
			<a class="head-1 head-son" href="javascript:history.go(-1);">
				<img class="chuizhicenter" src="__PUBLIC__/img/back.png" alt="">
			</a>

			<a class="head-2 head-son" href="<{:U('Index/index')}>">
					上品上生
				</a>
			<a class="head-3 head-son" href="<{:U('Order/index')}>" >
				<img class="chuizhicenter" src="__PUBLIC__/img/people-s.png" alt="">
			</a>
		</div>
