<link rel="stylesheet" type="text/css" href="__PUBLIC__/Dealer/css/quotedprice.css">
</head>
<body>
	<header>设置</header>
	<section class="container">
	    <div class="setitem-list">
			<a href="<{:U('Set/companyInfo')}>" class="sys-item"><span class="span04"></span>公司信息</a>
			<a href="<{:U('Set/employeeManage')}>" class="sys-item"><span class="span02"></span>员工管理</a>
			<a href="<{:U('Index/setup')}>" class="sys-item"><span class="span01"></span>清单设置</a>
		</div>
		<a class="my-btm-btn" href="<{:U('User/goOut')}>">退出登陆</a>
	</section>

</body>
</html>