<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script language="JavaScript" src="__PUBLIC__/Common/js/jquery.cookie.min.js"></script>

<script type="text/javascript">
$(function(){
    //导航切换
    $(".menuson .header").click(function(){
        var $parent = $(this).parent();
        $(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();

        $parent.addClass("active");
        if(!!$(this).next('.sub-menus').size()){
            if($parent.hasClass("open")){
                $parent.removeClass("open").find('.sub-menus').hide();
            }else{
                $parent.addClass("open").find('.sub-menus').show();
            }
        }
    });

    // 三级菜单点击
    $('.sub-menus li').click(function(e) {
        $(".sub-menus li.active").removeClass("active")
        $(this).addClass("active");
    });

    $('.title').click(function(){
        var title = trim($(this).text());
        
        var $ul = $(this).next('ul');
        $('dd').find('.menuson').slideUp();
        if($ul.is(':visible')){
            $(this).next('.menuson').slideUp();
        }else{
            $(this).next('.menuson').slideDown();
        }
    });

    function trim( text )
    {
      if (typeof(text) == "string")
      {
        return text.replace(/^\s*|\s*$/g, "");
      }
      else
      {
        return text;
      }
    }
})
</script>
</head>
<body style="background:#fff3e1;min-width:187px">
	<div class="lefttop"><span></span>通讯录</div>

    <dl class="leftmenu">
        <?php foreach ($pri_list as $k => $v): ?>
		<dd>
	        <div class="title">
	        <span><img src="__PUBLIC__/Admin/images/leftico01.png" /></span><{$v.name}>
	        </div>
	    	<ul class="menuson" >
            <?php foreach ($v['list'] as $kk => $vv): ?>
	    		<li><div class="header"><cite></cite><a href="<{:U($vv['url'])}>" target="rightFrame"><{$vv.name}></a><i></i></div></li>
            <?php endforeach ?>
	        </ul>
	    </dd>
        <?php endforeach ?>
    </dl>

</body>
</html>
