<include file="header" />

<!--中间-->
<div class="dealer-center">
	<div class="dealer_user-center">
    	<div class="dealer_user-center-title">
        	<div class="dealer_user-center-title-span">
            	我的中心
            </div>
            
            <div class="dealer_user-center-title-a">
            	<a href="dealer.php?center_info">
                	修改
                </a>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-span">
        	<span>
            	企业资料
            </span>
        </div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业名称：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	<{$dealer_info.d_company}>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业法人：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	<{$dealer_info.d_legalperson}>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业注册地址：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	<{$dealer_info.d_reg_address}>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业办公地址：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	<{$dealer_info.d_rel_address}>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业电话：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	<{$dealer_info.d_legalperson_phone}>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	企业电商联系人：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	<{$dealer_info.d_linkman}>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	联系人电话：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	<{$dealer_info.d_link_phone}>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="dealer_user-center-demo">
        	<div class="dealer_user-center-demo-left">
            	发货地址：
            </div>
            
            <div class="dealer_user-center-demo-right">
            	<{$dealer_info.d_pickup_address}>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
</div>
<!--中间end-->

<div class="clear34"></div>
<div class="clear34"></div>

<include file="Public:footer"/>
</body>
</html>