<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>国家列表</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });

  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>

</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
        <li><a href="<{:U('Admin/Index/index/main')}>">首页</a></li>
        <li><a href="<{:U('index')}>">国家列表</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <form action="<{:U('index')}>" method="get">
            <ul class="prosearch">
                <li>
                    <label>查询：</label>
                    <i>国家名称：</i>
                    <a><input name="name" type="text" value="" class="scinput" /></a>
                    <a><input name="" type="submit" class="sure" value="查询"/></a>
                 </li>
            </ul>
        </form>

        <!-- 添加按钮 -->
        <div class="tools">
            <ul class="toolbar">
                <li class=""><a href="<{:U('add')}>"><span><img src="__PUBLIC__/Admin/images/t01.png"></span>添加</a></li>
            </ul>
        </div>

        <!-- 表格 -->
        <table class="tablelist">
            <thead>
                <tr>
                    <th>编号<i class="sort"><img src="__PUBLIC__/Admin/images/px.gif" /></i></th>
                    <th>国家名称</th>
                    <th>国旗图片</th>
                    <th>是否显示</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- 品牌遍历区 -->
                <?php foreach ($list as $key => $val): ?>
                <tr id='data<{$val.id}>'>
                    <td><{$val.id}></td>
                    <td><{$val.name}></td>
                    <td><img height="30px" src="__PUBLIC__/Uploads/<{$val.image}>" /></td>
                    <td>
                        <?php if($val['is_show']==1):?>
                        <a href="javascript:;" id="show<{$val.id}>" class="toggleShow blue" onclick="os(<{$val.id}>)">已显示</a>
                        <?php else: ?>
                        <a href="javascript:;" id="show<{$val.id}>" class="toggleShow red" onclick="os(<{$val.id}>)">已隐藏</a>
                        <?php endif ?>
                    </td>
                    <td><{$val.sort}></td>
                    <td>
                        <a href="<{:U('edit',array('id'=>$val['id']))}>" class="tablelink">编辑</a>
                        <a href="javascript:;" class="tablelink click" onclick="del(<{$val.id}>)"> 删除</a>
                    </td>
                </tr>
                <?php endforeach ?>
                <!-- 品牌遍历区 -->
            </tbody>
        </table>
        
        <!-- 分页开始 -->
        <{$page}>
        <!-- 分页结束 -->

        <div class="tip">
            <div class="tiptop"><span>提示信息</span><a></a></div>
          <div class="tipinfo">
            <span><img src="__PUBLIC__/Admin/images/i04.png" /></span>
            <div class="tipright">
            <p>是否确认真的删除吗 ？</p>
            <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
            </div>
            <div class="tipbtn">
            <input name="" id="data_id" data-id="" type="button" onclick="doDel()"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
            </div>
        </div>


    </div>
    <input type="hidden" id='idid' value='' />
</body>
</html>


<script>
    function del(i){
        $('#idid').val(i);
    }

    function doDel(){
        var id = $('#idid').val();
        $.get("<{:U('doDel')}>",{'id':id},function(data){
            if(data==1){
                $('#data'+id).html('');
            }else{
                alert('删除失败');
            }
        })
    }

    function os(i){
        var op = $('#show'+i).html();
        $.get("<{:U('editShow')}>",{'id':i},function(data){
            if (data==1) {
                if (op=='已隐藏') {
                    document.getElementById('show'+i).className = 'toggleShow blue';
                    $('#show'+i).html('已显示');
                }else{
                    document.getElementById('show'+i).className = 'toggleShow red';
                    $('#show'+i).html('已隐藏');
                }
            }
        })
    }
</script>