	<div class="box-wk">
        <div class="box">
            <div class="box-title">
				商品分类
            </div>
                        
            <div style="width:100%;height:36px;"></div>
        
            <ul class="box-ul">
                <div class="clear15"></div>
                
                <!--健康舒适家居-->
                <li>
					<div class="box-dh">
                        <a href="index.php?homeindex" target="_blank" name="index_nav_homeindex">
                            健康舒适家居
                        </a> 
                    </div>
                    
                    <ul class="box-list-ul">    
                        <div class="box-bk">    
                            <div class="box-bk-demo01">                                
                                <div class="box-01">
                                    <a href="furnish.php?id=1&cat_id=9" name="furnish_id=1&cat_id=9">
                                        <div class="box-02">                
                                        	中央新风
                                        </div>
                                    </a>
                                    
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=1" name="price_cid=1">
                                            	热回收新风
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=2" name="price_cid=2">
                                            	热回收新风+除湿
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=3" name="price_cid=3">
                                            	热回收新风+加湿
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=4" name="price_cid=4">
                                            	热回收新风除霾（膜除霾）
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=5" name="price_cid=5">
                                            	热回收新风除霾+除湿（膜除霾）
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=6" name="price_cid=6">
                                            	热回收新风除霾+加湿（膜除霾）
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=7" name="price_cid=7">
                                            	热回收新风除霾（电除霾）
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=8" name="price_cid=8">
                                            	热回收新风除霾+除湿（电除霾）
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=9" name="price_cid=9">
                                            	热回收新风除霾+加湿（电除霾）
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box-01">
                                    <a href="furnish.php?id=2&cat_id=10" name="furnish_id=2&cat_id=10">
                                        <div class="box-02">              
                                        	中央水处理
                                        </div>
                                    </a> 
                                    
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=10" name="price_cid=10">
                                            	前置过滤+净水+超滤
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=11" name="price_cid=11">
                                            	前置过滤+净水+纯水
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=12" name="price_cid=12">
                                            	前置过滤+净水+纯水+开水+龙头
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=13" name="price_cid=13">
                                            	前置过滤+净水+软水+超滤
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=14" name="price_cid=14">
                                            	前置过滤+净水+软水+纯水
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=15" name="price_cid=15">
                                            	前置过滤+净水+软水+纯水+开水+龙头
                                            </a>
                                        </div>
                                    </div>
                                </div>    
                            </div>    
                            
                            <div class="box-bk-demo02">                               
                                <div class="box-01">
                                    <a href="furnish.php?id=3&cat_id=11" name="furnish_id=3&cat_id=11">
                                        <div class="box-02">
                                        	中央空调
                                        </div>
                                    </a>
                                    
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=16" name="price_cid=16">
                                            	中央氟空调
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=17" name="price_cid=17">
                                            	中央水空调
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=18" name="price_cid=18">
                                            	地源水空调
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box-01">
                                    <a href="furnish.php?id=4&cat_id=12" name="furnish_id=4&cat_id=12">
                                        <div class="box-02">          
                                        	中央空调+采暖
                                        </div>
                                    </a>
                                    
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=19" name="price_cid=19">
                                            	中央水空调+湿法地板采暖
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=20" name="price_cid=20">
                                            	中央水空调+干法地板采暖
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=21" name="price_cid=21">
                                            	地源水空调+湿法地板采暖
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=22" name="price_cid=22">
                                            	地源水空调+干法地板采暖
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box-01">
                                    <a href="furnish.php?id=5&cat_id=13" name="furnish_id=5&cat_id=13">
                                        <div class="box-02">
                                        	中央采暖+循环热水
                                        </div>
                                    </a>      
                                    
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=23" name="price_cid=23">
                                            	壁挂炉湿法地板采暖+水箱循环热水
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=24" name="price_cid=24">
                                            	壁挂炉干法地板采暖+水箱循环热水
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=25" name="price_cid=25">
                                            	壁挂炉湿法地板采暖+水箱循环热水+太阳能
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=26" name="price_cid=26">
                                            	壁挂炉干法地板采暖+水箱循环热水+太阳能
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=27" name="price_cid=27">
                                            	壁挂炉散热器采暖+水箱循环热水
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=28" name="price_cid=28">
                                            	壁挂炉散热器采暖+水箱循环热水+太阳能
                                            </a>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                            
                            <div class="box-bk-demo03">
                                <div class="box-01">
                                    <a href="furnish.php?id=6&cat_id=14" name="furnish_id=6&cat_id=14">
                                        <div class="box-02">
                                        	中央采暖+非循环热水
                                        </div>
                                    </a>
                                    
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=29" name="price_cid=29">
                                            	壁挂炉湿法地板采暖+非循环热水
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=30" name="price_cid=30">
                                            	壁挂炉干法地板采暖+非循环热水
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=31" name="price_cid=31">
                                            	壁挂炉散热器采暖+非循环热水
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box-01">
                                    <a href="furnish.php?id=8&cat_id=16" name="furnish_id=8&cat_id=16">
                                        <div class="box-02">
                                        	中央吸尘
                                        </div>
                                    </a>
                                    
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=32" name="price_cid=32">
                                            	中央气动吸尘
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=33" name="price_cid=33">
                                            	中央电动吸尘
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box-01">
                                    <a href="furnish.php?id=7&cat_id=15" name="furnish_id=7&cat_id=15">
                                        <div class="box-02">
                                        	循环热水
                                        </div>
                                    </a>
                                    
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=36" name="price_cid=36">
                                            	容积式燃气热水器
                                            </a>
                                        </div>
                                        
                                        <div class="box-02-a">
                                        	<a href="price.php?cid=37" name="price_cid=37">
                                            	容积式电热水器
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
                <!--健康舒适家居end-->
                
                <!--欧洲建材代购-->
              <!--<li>
                    <div class="box-dh">
                        <a href="eugroup.php?euIndex" target="_blank" name="index_nav_euIndex">
                            欧洲建材代购
                        </a> 
                    </div>
                    
                    <ul class="box-list-ul">
                        <div class="box-bk02" >
                            <div class="box-bk-demo04" style="width:960px;float:none;">
                            	{:foreach $eu_tree as $key=>$v:}
                                <div class="box-01" style="float:left;width:180px;">
                                    <div class="box-02">
										<a href="javascript:;" class="box-01-a">
                                        	{:$v['name']:}
                                        </a>
                                    </div>
                                    
                                    {:foreach $v['list'] as $val:}
                                    <div>
                                        <div class="box-02-a">
                                        	<a href="search.php?cid={:$val['id']:}" name="search_cid={:$val['id']:}">
                                            	{:$val['name']:}
                                            </a>
                                        </div>
                                    </div>
                                    {:/foreach:}
                                </div>
                                {:if ($key+1)%5==0:}<div class="clear"></div>{:/if:}
                            	{:/foreach:}
                            </div>
                        </div>
                    </ul>
                </li>
				  -->  
                <!--欧洲建材代购end-->                
                
                <!--海外超市-->
				<!--<li>
                    <div class="box-dh">
                        <a href="baby.php?index" target="_blank" name="index_nav_baby">
                            海外超市
                        </a> 
                    </div>
                    
                    <ul class="box-list-ul">
                        <div class="box-bk02" >
                            <div class="box-bk-demo04" style="width:960px;float:none;">
                                {:foreach $ov_tree as $key=>$v:}
                                <div class="box-01" style="float:left;width:180px;">
                                    <div class="box-02">
                                        <a href="javascript:;" class="box-01-a">
                                        	{:$v['name']:}
                                        </a>
                                    </div>
                                    
                                    {:foreach $v['list'] as $val:}
                                    <div>
                                        <div class="box-02-a">
                                            <a href="baby.php?list&id={:$val['pid']:},{:$val['id']:}" name="baby_list_id={:$val['pid']:},{:$val['id']:}">
                                            	{:$val['name']:}
                                            </a>
                                        </div>
                                    </div>
                                    {:/foreach:}
                                </div>
                                {:if ($key+1)%5==0:}<div class="clear"></div>{:/if:}
                                {:/foreach:}
                            </div>
                        </div>
                    </ul>
                </li>-->
                <!--海外超市end-->
                
                <!--赠品专区-->
				<!-- <li>
                    <div class="box-dh">
                        <a href="eugroup.php?giveaway" target="_blank" name="index_nav_giveaway">
                            赠品专区
                        </a> 
                    </div>
                </li> -->
                <!--赠品专区end-->
                
                <!--分割线-->
                <!-- <div class="fenge">
                	<div class="fenge-background">
                    </div>
                </div>    -->   
                <!--分割线end-->          
                
                <!--设计安装服务-->
                <li>
                    <div class="box-dh">
                        <a href="index.php?show" target="_blank" name="index_nav_show">
                            设计安装服务
                        </a> 
                    </div>
                </li>
                <!--设计安装服务end-->
                
                <!--机电售后服务-->
                <li>
                    <div class="box-dh">
                        <a href="index.php?article&id=48" target="_blank" name="index_nav_article">
                            机电售后服务
                        </a> 
                    </div>
                </li>
                <!--机电售后服务end-->               
            </ul>
		</div>
	</div>




















