@charset 'utf-8';

/* 样式参考联想移动官网 http://m.lenovo.com.cn/ */

/* CSS Document */

/*公用部分*/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em, a, span, input {
    font-family: 'PingFangSC-Regular';
    margin: 0;
    padding: 0;
}

/*在移动端给overflow:hidden 最好给 overflow-x：hidden;同时给到元素 height:100%;*/

/*-webkit-overflow-scrolling:touch;解决在苹果机测试时上下滑动页面不卡顿*/
html, body {
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
html {
    min-width: 320px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul li {
    list-style: none;
}

/*-webkit-tap-highlight-color:transparent;真机点击去除黑色背景*/
a {
    text-decoration: none;
    color: #434343;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
em, i {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
input, textarea {
    outline: none;
}
.fl {
    float: left;
}

/* 左浮动，与右浮动 */
.fr {
    float: right;
}
.clearfix:after {
    font-size: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}
.clearfix {
    zoom: 1;
}

/*文本超出一行显示省略号*/
.ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.ell2 {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/*盒图宽高=content+border  布局时明明一排的几个div的宽度和为总宽度却出现混乱，给每个div一个 box-sizing属性，属性值为：border-box；*/
.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: PingFangSC-Regular;
}

/*头部 */
header {
    font-size: .4rem;
    line-height: .88rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: .88rem;
    text-align: center;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#111e94), to(#061178));
    background-image: -webkit-linear-gradient(top, #111e94 0%, #061178 100%);
    background-image: -o-linear-gradient(top, #111e94 0%, #061178 100%);
    background-image: linear-gradient(-180deg, #111e94 0%, #061178 100%);
}
header a {
    line-height: .88rem;
    position: absolute;
    left: 0;
    width: .88rem;
    height: .88rem;
    text-align: center;
    background: url(../img/backbtn.png) center center no-repeat;
    background-size: 30% 50%;
}

/* 主体 */
section {

    /* max-width:20.48rem; */
    margin: 0 auto;
    padding: .88rem .3rem;
}
.redbg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1c7f), to(#eb267c));
    background-image: -webkit-linear-gradient(top, #ff1c7f 0%, #eb267c 100%);
    background-image: -o-linear-gradient(top, #ff1c7f 0%, #eb267c 100%);
    background-image: linear-gradient(-180deg, #ff1c7f 0%, #eb267c 100%);
}
.redfont {
    color: #ff1c7f !important;
}

/*底部*/
footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: .88rem;
    border-top: .02rem solid #efefef;
    background: #fff;
}
footer li {
    float: left;
    width: 20%;
}
footer a {
    font-size: .18rem;
    display: block;
    width: 1rem;
    margin: 0 auto;
    padding-top: .56rem;
    text-align: center;
}
footer .active a {
    color: #ff1c7f !important;
}
footer .active .f-btn01 {
    background: url('../img/my_active.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .active .f-btn02 {
    background: url('../img/sys_active.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .active .f-btn03 {
    background: url('../img/order_active.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .active .f-btn04 {
    background: url('../img/aftersale_active.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .active .f-btn05 {
    background: url('../img/set_active.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .f-btn01 {
    background: url('../img/my.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .f-btn02 {
    background: url('../img/sys.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .f-btn03 {
    background: url('../img/order.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .f-btn04 {
    background: url('../img/aftersale.png') center .06rem no-repeat;
    background-size: 50% auto;
}
footer .f-btn05 {
    background: url('../img/set.png') center .06rem no-repeat;
    background-size: 50% auto;
}
.page {
    font-size: .32rem;
    margin: .2rem 0;
}
.page p {
    float: left;
    margin-right: .2rem;
}
.page a {
    color: #ff0080;
}
.page a:hover {
    cursor: pointer;
}
.my-btm-btn {
    font-size: .36rem;
    line-height: .9rem;
    display: block;
    float: none !important;
    width: 100%;
    height: .9rem;
    margin: .8rem auto 1.2rem auto;
    text-align: center;
    color: #fff;
    border: none 0;
    border-radius: .9rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1c7f), to(#eb267c));
    background-image: -webkit-linear-gradient(top, #ff1c7f 0%, #eb267c 100%);
    background-image: -o-linear-gradient(top, #ff1c7f 0%, #eb267c 100%);
    background-image: linear-gradient(-180deg, #ff1c7f 0%, #eb267c 100%);
}

/* 搜索条样式 */
.search-strip {
    height: .6rem;
    margin: .4rem 0 .4rem 0;
}
.search-strip input, .search-strip button {
    font-size: .32rem;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: .6rem;
    vertical-align: top;
    border: 1px solid #061178;
}
.search-strip button {
    width: 1.32rem;
    height: .6rem;
    color: #fff;
    background: #061178;
}
.search-strip input {
    width: calc(100% - 1.32rem);
}
.newaddbtn-box {
    overflow: hidden;
    margin: .4rem 0;
}
.newaddbtn-box a {
    font-size: .36rem;
    line-height: .9rem;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    height: .9rem;
    text-align: center;
    border-radius: .9rem;
}
.newaddbtn-box .newadd-submit {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1c7f), to(#eb267c));
    background-image: -webkit-linear-gradient(top, #ff1c7f 0%, #eb267c 100%);
    background-image: -o-linear-gradient(top, #ff1c7f 0%, #eb267c 100%);
    background-image: linear-gradient(-180deg, #ff1c7f 0%, #eb267c 100%);
}
.newaddbtn-box .newadd-cancel {
    color: #ff0080;
    border: .02rem solid #ff0080;
}

/* 栅格系统 */
.container {
    margin: 0 auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1200px;
    }
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1 {
    width: 8.3333333333333333%;
}
.col-xs-2 {
    width: 16.666666666666667%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-4 {
    width: 33.333333333333333%;
}
.col-xs-5 {
    width: 41.666666666666667%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-7 {
    width: 58.333333333333333%;
}
.col-xs-8 {
    width: 66.666666666666667%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-10 {
    width: 83.333333333333333%;
}
.col-xs-11 {
    width: 91.666666666666667%;
}
.col-xs-12 {
    width: 100%;
}
@media (min-width:768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-1 {
        width: 8.3333333333333333%;
    }
    .col-sm-2 {
        width: 16.666666666666667%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.333333333333333%;
    }
    .col-sm-5 {
        width: 41.666666666666667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.333333333333333%;
    }
    .col-sm-8 {
        width: 66.666666666666667%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.333333333333333%;
    }
    .col-sm-11 {
        width: 91.666666666666667%;
    }
    .col-sm-12 {
        width: 100%;
    }
}
@media (min-width:992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.3333333333333333%;
    }
    .col-md-2 {
        width: 16.666666666666667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.333333333333333%;
    }
    .col-md-5 {
        width: 41.666666666666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333333333333%;
    }
    .col-md-8 {
        width: 66.666666666666667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.333333333333333%;
    }
    .col-md-11 {
        width: 91.666666666666667%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-ml {
        margin-left: 1rem;
    }
    .col-md-fr {
        float: right;
    }
    .my-btm-btn {
        width: 50%;
        margin: 2rem auto 1.2rem auto;
    }
}
@media (min-width:1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.3333333333333333%;
    }
    .col-lg-2 {
        width: 16.666666666666667%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.333333333333333%;
    }
    .col-lg-5 {
        width: 41.666666666666667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.333333333333333%;
    }
    .col-lg-8 {
        width: 66.666666666666667%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.333333333333333%;
    }
    .col-lg-11 {
        width: 91.666666666666667%;
    }
    .col-lg-12 {
        width: 100%;
    }
}