<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品批量上下架</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
<script src="__PUBLIC__/Plugin/laydate/laydate.js"></script>
<script src="__PUBLIC__/Plugin/jquery/jquery.colorpicker.js"></script>


<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
        width : 345
    });
    $(".select2").uedSelect({
        width : 167
    });
    $(".select3").uedSelect({
        width : 100
    });

});
</script>

<script type="text/javascript">
//修改材料商品上架下架时间
function change_goods_time(goods_id){
	//alert(goods_id);
	//var is_putaway=$("[name=is_putaway_"+goods_id+"]").val();
	var starttime=$("[name=starttime_"+goods_id+"]").val();
	var endtime=$("[name=endtime_"+goods_id+"]").val();
	//alert(goods_id+'|'+starttime+'|'+endtime);
	/* $.get('?goods_edit&goods_id='+goods_id+'&starttime='+starttime+'&endtime='+endtime,function(data){
		if(data.replace(/^\s+|\s+$/g,'')=='success'){
			alert('操作成功');
		}else if(data.replace(/^\s+|\s+$/g,'')=='lose'){
			alert('操作失败');
		}
	}); */
	 $.ajax({
         url:"<{:U('goods_edit')}>",
         data:{starttime:starttime,endtime:endtime,goods_id:goods_id},
         success:function(data){
             if(data>0){
            	 alert('操作成功');
             }else{
            	 alert('操作失败');
             }
         }
     });
}
//修改系统商品上架下架时间
function change_quote_time(quote_id){
	//var is_putaway=$("[name=is_putaway_"+quote_id+"]").val();
		var starttime=$("[name=start_time_"+quote_id+"]").val();
		var endtime=$("[name=end_time_"+quote_id+"]").val();
	/* $.get('?quote_edit&quote_id='+quote_id+'&starttime='+starttime+'&endtime='+endtime,function(data){
		if(data.replace(/^\s+|\s+$/g,'')=='success'){
			alert('操作成功');
		}else if(data.replace(/^\s+|\s+$/g,'')=='lose'){
			alert('操作失败');
		} */
		$.ajax({
	         url:"<{:U('quote_edit')}>",
	         data:{starttime:starttime,endtime:endtime,quote_id:quote_id},
	         success:function(data){
	             if(data>0){
	            	 alert('操作成功');
	             }else{
	            	 alert('操作失败');
	             }
	         }
	});
}
</script>
<script type="text/javascript">

 $(function(){
    //选中材料商品全部
    $('.goodsAll').click(function(){
    	$('#goodsList').find('tr').each(function(){
            if($(this).find(':checkbox').attr('checked')){
                $(this).find(':checkbox').attr('checked',false);
            }else{
                $(this).find(':checkbox').attr('checked',true);
            }
        });
    });
  //选中系统商品全部
    $('.quoteAll').click(function(){
    	$('#quoteList').find('tr').each(function(){
            if($(this).find(':checkbox').attr('checked')){
                $(this).find(':checkbox').attr('checked',false);
            }else{
                $(this).find(':checkbox').attr('checked',true);
            }
        });
    });
}) 
</script>
</head>
<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="<{:U('Admin/Index/Index/index')}>">首页</a></li>
    <li>健康和舒适家居</li>
    <li><a href="<{:U('index',array('tab'=>1))}>">商品批量上下架</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    
    <div id="usual1" class="usual"> 
    
    <div class="itab">
  	<ul> 
    <li><a href="#tab1"  class="<?php echo $tab==1?'selected':''?>">材料商品</a></li> 
    <li><a href="#tab2"  class="<?php echo $tab==2?'selected':''?>">系统商品</a></li> 
  	</ul>
    </div> 
    
  	<div id="tab1" class="tabson">
    <form action="<{:U('goods_edit_all')}>" method="post" enctype="multipart/form-data">
    <div class="rightinfo">
	    
	    <table class="imgtable" id="goodsList">
	    
	    <thead>
	    <tr>
	    <th width="60px;"><a href="javascript:void(0)" class="goodsAll" ><input type="checkbox" name='goods' value=''/>全选</a></th>
	    <th width="60px;">编号</th>
	    <th>商品名称</th>
	    <th>型号</th>
	    <th style='display:none'>是否上架</th>
	    <th>上架时间</th>
	    <th>下架时间</th>
	    <th width="150px;">操作</th>
	    </tr>
	    </thead>
	    
	    <tbody>
	    <?php foreach ($goods_list as $v):?>
	    <tr>
	    <td><input type="checkbox" name='goods[]' value="<{$v['goods_id']}>"/></td>
	    <td><{$v['goods_id']}></td>
	    <td><{$v['goods_name']}></td>
	    <td><{$v['goods_model']}></td>
	    <td style='display:none'><input name="is_putaway_<{$v.goods_id}>" type="radio" value="1" <{if $v.is_putaway eq 1}>checked="checked"<{else}><{/if}> />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="is_putaway_<{$v.goods_id}>" type="radio" value="0" <{if $v.is_putaway eq 0}>checked="checked"<{else}><{/if}>/>否</td>

	    <td><input class="inline laydate-icon"  type='text' id="start_<{$v['goods_id']}>" name="starttime_<{$v['goods_id']}>" value="<{$v['starttime']}>" style="width:200px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba;"/></td>
	    <td><input class="inline laydate-icon"  type='text' id="end_<{$v['goods_id']}>" name="endtime_<{$v['goods_id']}>" value="<{$v['endtime']}>"style="width:200px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba;"/></td>
	    <td><input type='button' value='修改' onclick="change_goods_time(<{$v['goods_id']}>)"/></td>
	    </tr>
	    <?php endforeach ?>
	    <tr>
	    <th  align="left" nowrap="true" colspan="9"><input class="inline laydate-icon"  type='text' id="start" name='batchtime'value=''style="width:150px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba;"/><input type='submit' name='batch' value='批量上架'/><input type='submit' name='batch' value='批量下架'/></th>
	    </tr>
	    </tbody>
	    </table>
	    <{$goods_page}>
    </div>
    </form>
    </div> 
    
    
  	<div id="tab2" class="tabson">
  	<form action="<{:U('quote_edit_all')}>" method="post" enctype="multipart/form-data">
     <div class="rightinfo">
	    
	    <table class="imgtable" id='quoteList'>
	    
	    <thead>
	    <tr>
	    <th width="60px;"><a href="javascript:void(0)" class="quoteAll" ><input type="checkbox" name='quote' value=''/>全选</a></th>
	    <th width="60px;">编号</th>
	    <th>系统名称</th>
	    <th style='display:none'>是否上架</th>
		<th>上架时间</th>
	    <th>下架时间</th>
	    <th width="150px;">操作</th>
	    </tr>
	    </thead>
	    
	    <tbody>
	    <?php foreach ($quote_list as $v){?>
	    <tr>
	    <td><input type="checkbox" name='quote[]' value='<{$v.quote_id}>'/></td>
	    <td><{$v.quote_id}></td>
	    <td><{$v.quote_name}></td>
	    <td style='display:none'><input name="is_putaway_<{$v.quote_id}>" type="radio" value="1" <{if $v.is_putaway eq 1}>checked="checked"<{else}><{/if}> />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="is_putaway_<{$v.quote_id}>" type="radio" value="0" <{if $v.is_putaway eq 0}>checked="checked"<{else}><{/if}>/>否</td>

		<td><input class="inline laydate-icon" type='text' id="start_quote_<{$v.quote_id}>" name='start_time_<{$v.quote_id}>'value="<?php echo date('Y-m-d H:i:s',$v['starttime'])?>"style="width:200px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba;"/></td>
	    <td><input class="inline laydate-icon" type='text' id="end_quote_<{$v.quote_id}>" name='end_time_<{$v.quote_id}>'value="<?php echo date('Y-m-d H:i:s',$v['endtime'])?>"style="width:200px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba;"/></td>
	    <td><input type='button' value='修改' onclick='change_quote_time(<{$v.quote_id}>)'/></td>
	    </tr>
	    <?php } ?>
	    <tr>
	    <th  align="left" nowrap="true" colspan="9"><input class="inline laydate-icon"  type='text' id="end" name='batchtime'value=''style="width:150px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba;"/><input type='submit' name='batch' value='批量上架'/><input type='submit' name='batch' value='批量下架'/></th>
	    </tr>
	    
	    </tbody>
	    </table>
		<{$quote_page}>
    </div> 
    </form> 
    
    </div>  
       
	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
    
    </div>

<script type="text/javascript">
   
    !function(){
		laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
		laydate({elem: '#demo'});//绑定元素
	}();

	//日期范围限制
	var start = {
	    elem: '#start',
	    format: 'YYYY/MM/DD hh:mm:ss',
	    min: laydate.now(), //设定最小日期为当前日期
	    max: '2099-06-16', //最大日期
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	         end.min = datas; //开始日选好后，重置结束日的最小日期
	         end.start = datas //将结束日的初始值设定为开始日
	    }
	};
	var end = {
		    elem: '#end',
		    format: 'YYYY/MM/DD hh:mm:ss',
		    min: laydate.now(),
		    max: '2099-06-16',
		    istime: true,
		    istoday: false,
		    choose: function(datas){
		        start.max = datas; //结束日选好后，充值开始日的最大日期
		    }
		};
	
	laydate(start);
	laydate(end);
</script>

<?php foreach ($goods_list as $v):?>
<script type="text/javascript">
   
    !function(){
		laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
		laydate({elem: '#demo'});//绑定元素
	}();

	//日期范围限制
	var start = {
	    elem: "#start_<{$v['goods_id']}>",
	    format: 'YYYY/MM/DD hh:mm:ss',
	    min: laydate.now(), //设定最小日期为当前日期
	    max: '2099-06-16', //最大日期
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	         end.min = datas; //开始日选好后，重置结束日的最小日期
	         end.start = datas //将结束日的初始值设定为开始日
	    }
	};

	var end = {
	    elem: "#end_<{$v['goods_id']}>",
	    format: 'YYYY/MM/DD hh:mm:ss',
	    min: laydate.now(),
	    max: '2099-06-16',
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	        start.max = datas; //结束日选好后，充值开始日的最大日期
	    }
	};
	laydate(start);
	laydate(end);
</script>
<?php endforeach ?>

<?php foreach ($quote_list as $v){?>
 <script type="text/javascript">	
	!function(){
		laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
		laydate({elem: '#demo'});//绑定元素
	}();
	//日期范围限制
	var start1 = {
	    elem: "#start_quote_$v['quote_id']",
	    format: 'YYYY-MM-DD hh:mm:ss',
	    min: laydate.now(), //设定最小日期为当前日期
	    max: '2099-06-16', //最大日期
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	         end.min = datas; //开始日选好后，重置结束日的最小日期
	         end.start = datas //将结束日的初始值设定为开始日
	    }
	};

	var end1 = {
	    elem: "#end_quote_$v['quote_id']",
	    format: 'YYYY-MM-DD hh:mm:ss',
	    min: laydate.now(),
	    max: '2099-06-16',
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	        start.max = datas; //结束日选好后，充值开始日的最大日期
	    }
	};
	laydate(start1);
	laydate(end1);
 </script> 
<?php }?>
</body>


</html>
