<link rel="stylesheet" href="__PUBLIC__/css/about.css" />
<!--中间-->
<div class="about-center">
	<div class="about-center-left">
    	<div class="about-center-left-nav">
        	<div class="about-center-left-nav-title">
            	<span>
                	关于我们
                </span>
            </div>
            
            <div class="about-center-left-nav-list">                        
                <div class="about-center-left-nav-list-demo01" >
                    <a href="javascript:;" name="about_left_a2" class="left-a1 left-a" onclick="addwordcolor(this,0)" style="color:#1ca6b9">
                        公司简介
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01" >
                    <a href="javascript:;" name="about_left_a3" class="left-a2 left-a" onclick="addwordcolor(this,751)">
                        业务范畴
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01" >
                    <a href="javascript:;" name="about_left_a4" class="left-a3 left-a" onclick="addwordcolor(this,1401)">
                        发展历史
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01" >
                    <a href="javascript:;" name="about_left_a5" class="left-a4 left-a" onclick="addwordcolor(this,1901)"> 
                        文化及价值观
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01" >
                    <a href="javascript:;" name="about_left_a6" class="left-a5 left-a" onclick="addwordcolor(this,2201)">
                        品牌合作
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01" >
                    <a href="javascript:;" name="about_left_a7" class="left-a6 left-a" onclick="addwordcolor(this,3201)">
                        开发商合作
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01" >
                    <a href="javascript:;" name="about_left_a8" class="left-a7 left-a" onclick="addwordcolor(this,3701)">
                        服务网点
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01" >
                    <a href="javascript:;" name="about_left_a1" class="left-a8 left-a" onclick="addwordcolor(this,4480)">
                        企业成就
                    </a>  
                </div>
            </div>
        </div>
    </div>
		 <!--<a name="a2"></a>-->
    <div class="about-center-right" >
    	<!--公司简介-->
    
    	
        <div class="about-center-profile" >
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="__PUBLIC__/img/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        公司简介
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear2"></div>
            
            <div class="about-center-profile-details">
            	<div class="clear2"></div>
                
                <div class="about-center-profile-details-left">
                    <div class="about-center-profile-details-left-img" style="margin-bottom:20px;">
                        <img src="__PUBLIC__/img/20160428085627_424.jpg" />
                    </div>
                    
                    <div class="clear"></div>
                    
                    <div class="about-center-profile-details-left-logo">
                        <div class="about-center-profile-details-left-logo-demo">
                            <img src="__PUBLIC__/img/1212.jpg"/>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="about-center-profile-details-right">
                    <div class="about-center-profile-details-right-bk">
                        <div >
                            <p>
                                乔孚舒适家居系统股份有限公司于2000年在上海成立，主要为中国家庭提供健康舒适类产品如：空调、采暖、热水、水处理、新风除霾、除湿、除尘、智能控制、安防监控等，其他还包括欧洲建材类产品、欧洲家居类产品、欧洲母婴类产品以及中国及欧洲的健康特色食品。
                            </p>
                            <p>
                                通过多年的发展，我们在健康舒适家居领域完成了冷、暖、热、水、风、湿、尘、智等全部产品的整合工作，同时在全国大部分地区有我们的销售安装服务商，能为全国各地的家庭提供优质的产品和良好的服务，在健康舒适家居领域我们处在全国领先地位。
                            </p>
                            <p>
                                乔孚旗下目前有两家全资子公司:
                            </p>
                            <p>
                                上品上生电子商务有限公司，主要负责线上的销售；
                            </p>
                            <p>
                                上海孚荣新能源科技有限公司，主要负责为中国知名的地产公司提供健康舒适家居产品；
                            </p>
                           
                            <p>
                                无论是过去还是未来，我们都致力于提升中国家庭的生活品质，就是让中国人住的健康舒适点、穿的体面点，吃的安全点，消费感觉好一点。
                            </p>
                            
                            <div class="clear"></div>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--公司简介end-->
        
        <!--<a name="a3"></a>-->

        <div class="clear3"></div>
        <div class="clear3"></div>
        
        <!--业务范畴-->
        <div class="about-center-business">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="__PUBLIC__/img/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        业务范畴
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear2"></div>
            
            <div class="about-center-business-list">
                <div class="about-center-business-list-demo">
                    <div class="about-center-business-list-demo-img">
                        <img src="__PUBLIC__/img/36.jpg" />
                    </div>
                    
                    <div class="clear2"></div>
                    
                    <div class="about-center-business-list-demo-word">
                        2000年在上海成立，主要负责健康舒适家居产品的技术研发，产品整合，销售安装服务网络的构建，产品标准的制定、推广及培训工作。
                    </div>
                    
                    <div class="clear2"></div>
                    
                    <div class="about-center-business-list-demo-a" style="display: none">
                        <a href="javascript:;" >
                            了解详情
                        </a>
                    </div>
                </div>
                
                <div class="about-center-business-list-demo">
                    <div class="about-center-business-list-demo-img">
                        <img src="__PUBLIC__/img/37.jpg" />
                    </div>
                    
                    <div class="clear2"></div>
                    
                    <div class="about-center-business-list-demo-word">
                        主要负责线上销售工作，包括空调、采暖、热水、水处理、新风除霾、除湿、除尘、智能控制、安防监控等健康舒适家居产品，其他还有欧洲建材类产品、欧洲家居类产品、欧洲母婴类产品以及中国及欧洲的健康特色食品等。
                    </div>
                    
                    <div class="clear2"></div>
                    
                    <div class="about-center-business-list-demo-a" style="display: none">
                        <a href="javascript:;" >
                            了解详情
                        </a>
                    </div>
                </div>
                
                <div class="about-center-business-list-demo">
                    <div class="about-center-business-list-demo-img">
                        <img src="__PUBLIC__/img/38.jpg" />
                    </div>
                    
                    <div class="clear2"></div>
                    
                    <div class="about-center-business-list-demo-word">
                         主要负责为中国的知名房地产公司提供空调、采暖、热水水处理、新风除霾、除湿、除尘等健康舒适家居产品设计和安装工作，合作房地产包括万科、金地、华润、保利、招商、新世界、嘉华、凯德、鹏欣、江苏国信等知名地产公司。
                    </div>
                    
                    <div class="clear2"></div>
                    
                    <div class="about-center-business-list-demo-a" style="display: none">
                        <a href="javascript:;" >
                            了解详情
                        </a>
                    </div>
                </div>
                
           <!--      <div class="about-center-business-list-demo">
                    <div class="about-center-business-list-demo-img">
                        <img src="__PUBLIC__/img/39.jpg" />
                    </div>
                    
                    <div class="clear2"></div>
                    
                    <div class="about-center-business-list-demo-word">
                        2013年在德国慕尼黑成立，主要负责欧洲商品的研究和引进工作。包括健康舒适家居类产品，欧洲建材类产品、欧洲家居类产品、欧洲母婴类产品、欧洲的健康特色食品等。
                    </div>
                    
                    <div class="clear2"></div>
                    
                    <div class="about-center-business-list-demo-a" style="display: none">
                        <a href="javascript:;" >
                            了解详情
                        </a>
                    </div>
                </div> -->
            </div>
            
            <div class="clear"></div>
        </div>
        <!--业务范畴end-->

        <!--<a name="a4"></a>-->
        
        <div class="clear3"></div>
        <div class="clear3"></div>
        
        <!--发展历史-->
        <div class="about-center-history">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="__PUBLIC__/img/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        发展历史
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear2"></div>
            
            <div class="about-center-history-tabs"> 
                <ul class="tab_conbox" id="tab_conbox2">
                <foreach  name="aboutus_list" item="v">
                    <li class="tab_con">
                        <div class="about-center-history-tabs-word">
                            <div class="about-center-history-tabs-word-bk">
                                <{$v.content|htmlspecialchars_decode}>
                            </div>
                        </div>
                        
                        <div class="about-center-history-tabs-img">				
                            <img src="<{$v['image']|getimage}>" />					
                        </div>
                        
                        <div class="clear"></div>
                    </li>
                </foreach>  
                    
                    <div class="clear"></div>
                </ul>
        
                <ul class="tabs" id="tabs2">
               <foreach  name="aboutus_list" item="v">
                    <li>
                        <a href="javascript:;">
                            <{$v.title}>
                        </a>
                    </li>  
                </foreach>  
                      
                </ul>
                
                <div class="clear2"></div>
            </div>
        </div>    
        <!--发展历史end-->
        
        <!--<a name="a5"></a>-->
        
        <div class="clear3"></div>
        <div class="clear3"></div>
        
        <!--文化及价值观-->
        <div class="about-center-culture">
            <div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="__PUBLIC__/img/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        文化及价值观
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear2"></div>
            
            <div class="about-center-culture-list">
                <div class="about-center-culture-list-bk">
                    <div class="about-center-culture-list-demo">
                        <div class="about-center-culture-list-demo-title">
                            <div class="about-center-culture-list-demo-title-img">
                                <img src="__PUBLIC__/img/40.jpg" />
                            </div>
                            
                            <div class="about-center-culture-list-demo-title-name">
                                愿景
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="about-center-culture-list-demo-word">
                            致力于提升中国家庭的生活品质
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="about-center-culture-list-demo">
                        <div class="about-center-culture-list-demo-title">
                            <div class="about-center-culture-list-demo-title-img">
                                <img src="__PUBLIC__/img/41.jpg" />
                            </div>
                            
                            <div class="about-center-culture-list-demo-title-name">
                                目标
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="about-center-culture-list-demo-word">
                            用我们高品质的产品和服务，让中国家庭住的舒适点、穿的体面点、吃的安全点、感觉好一点！
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
                
                
            </div>
        </div>
        <!--文化及价值观-->
        
        <!--<a name='a6'></a>-->
        
        <div class="clear3"></div>
        <div class="clear3"></div>

        <!--品牌合作-->
        <div class="about-center-banner">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="__PUBLIC__/img/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        品牌合作
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear2"></div>
            
            <div class="about-center-banner-list">    
              
				<foreach  name="cbrandList" item="val">
                <div class="about-center-banner-list-demo">
                	<a href="<{:U('Index/cbrand',array('id'=>$val['brand_id']))}>" target="_blank" name="about_banner_<{$val.brand_id}>">
                    	<img src="<{$val.logo|getimage}>"/>
                    </a>
                </div>
                </foreach>            
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--品牌合作end-->
                    
        <!--<a name="a7"></a>-->
        
        <div class="clear3"></div>
        <div class="clear3"></div>
        
		<!--开发商合作-->
        <div class="about-center-editor">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="__PUBLIC__/img/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        开发商合作
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear2"></div>                        
            
            <div class="about-center-editor-word"><!--此处为后台编辑器编辑内容-->
                <img src="__PUBLIC__/img/1023.jpg"/>
            </div>
            
            <div class="clear"></div>
            
            <div class="about-center-title">
                <a href="__APP__/Index/developer" target='_black'>
                    查看案例
                </a>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--开发商合作end-->
        
        <!--<a name="a8"></a>-->
        
        <div class="clear3"></div>
        <div class="clear3"></div>
        
        <!--服务网点-->
        <div class="about-center-editor">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="__PUBLIC__/img/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        服务网点
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear2"></div>
            
            <div class="about-center-editor-word" align="center"><!--此处为后台编辑器编辑内容-->
                <img src="__PUBLIC__/img/20160527065714_31086.jpg"/>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--服务网点end-->
        
        <!--<a name="a1"></a>-->
        
        <div class="clear3"></div>
        <div class="clear3"></div>
        
        <!--企业成就-->
        <div class="about-center-editor">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="__PUBLIC__/img/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        企业成就
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear2"></div>
            
            <div class="about-center-editor-word"><!--此处为后台编辑器编辑内容-->
                <img src="__PUBLIC__/img/20160428172036_61138.jpg"/>
                </br></br></br>
                <img src="__PUBLIC__/img/20160520160820_21054.jpg"/>
                </br></br></br>
                <img src="__PUBLIC__/img/1025.jpg"/>
                <!-- <img src="__PUBLIC__/img/1026.jpg"/> -->
            </div>
            
            <div class="clear"></div>
        </div>
        <!--企业成就end-->
        
        <div class="clear3"></div>
	</div>  
        
    <div class="clear"></div>
</div>
<!--中间end-->

<div class="clear1"></div>


<script type="text/javascript" src="__PUBLIC__/js/huadongmen.js"></script><!--滑动门-->
<script type="text/javascript" src="__PUBLIC__/js/daohang_aboutus.js"></script><!--左侧菜单置顶-->


<!--点击左导航更换颜色-->
<script>
//$(function(){
//  $(".about-center-left-nav-list-demo01").click(function(){
//      $(this).removeClass("about-center-left-nav-list-demo01");
//      $(this).addClass("about-center-left-nav-list-demo02");
//      $(this).siblings().removeClass("about-center-left-nav-list-demo02");
//      $(this).siblings().addClass("about-center-left-nav-list-demo01");
//  });
//});
//$(function(){
//  $(".about-center-left-nav-list-demo02").click(function(){
//      $(this).removeClass("about-center-left-nav-list-demo01");
//      $(this).addClass("about-center-left-nav-list-demo02");
//      $(this).siblings().removeClass("about-center-left-nav-list-demo02");
//      $(this).siblings().addClass("about-center-left-nav-list-demo01");
//  });
window.onscroll=function(){
	var scrolltop=$(document).scrollTop();
	if(scrolltop>=0&&scrolltop<=750){
		
		addcolor("left-a1");
	}else if(scrolltop>750&&scrolltop<=1400){
		addcolor("left-a2");
		
	}
	else if(scrolltop>1400&&scrolltop<=1900){
		addcolor("left-a3");
	}
	else if(scrolltop>1900&&scrolltop<=2200){
		addcolor("left-a4");
	}
	else if(scrolltop>2200&&scrolltop<=3200){
		addcolor("left-a5");
	}
	else if(scrolltop>3200&&scrolltop<=3700){
		addcolor("left-a6");
	}
	else if(scrolltop>3700&&scrolltop<=4479){
		addcolor("left-a7");
	}
	else if(scrolltop>4479){
		addcolor("left-a8");
	}
}
function addcolor(n){
		$(".left-a").css("color","#383838");
		$("."+n).css("color","#1ca6b9");
}

function addwordcolor(n,m){
	console.log(n)

	$(document).scrollTop(m);
	
}
</script>
<!--点击左导航更换颜色end-->


