
.content{
	width: 100%;
	height: auto;
	box-sizing:border-box;
	padding:0 30px;
	margin:40px 0 200px 0;
	background-color: #fff;
}
.content p{
	font-family:"Microsoft Yahei";
	color:#333;
}
.content .title{
    font-size:30px;
    margin-bottom: 30px;
}
.content .item{
    font-size:24px;
    color:#666;
    margin-bottom:10px;
}
.content .wenxinQR{
	display:block;
	margin:250px auto auto auto;
}