/*.head{
	font-size: 36px;
	color: #333333;
	text-align: center;
	width: 100%;
	height: 90px;
	line-height: 90px;
}*/
.content{
	width: 100%;
	height: auto;
	font-size: 23px;
	color: #5a5757;
}
.con1{
	width: 100%;
	height: 930px;
}
.con1-1{
	width: 100%;
	/*height: 335px;*/
	margin-top: 10px;
	background-color: #fff;
	position:relative;
}
.con2{
	width: 100%;
	height: 463px;
	background-color: #fff;
	position: relative;
}
.con2-1{
	width: 100%;
	height: auto;
}
.con2-2{
	width: auto;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 40px;
}
.con2-3{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 36px;
}
.con2-4{
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	bottom: 40px;
	}
.con2-4-1{
	bottom:35px;
}
.con2-5{
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	bottom: 0;
}
.con2-4-1-anima{
	animation:con2-4-anima 1s;
}
@keyframes con2-4-1-anima{
	from{bottom: 0px;}
	to{bottom: 20px;}
}
.con2-4-2{
	text-align: center;
	padding-top: 60px;
	
}
.con2-4-2-anima{
	animation:con2-4-2-anima 1s;
}
@keyframes con2-4-2-anima{
	from{padding-top: 100px;}
	to{padding-top: 80px;}
}
.con2-4-3{
	text-align: center;
	padding-top: 70px;
}
.con2-4-3-anima{
	animation:con2-4-3-anima 1s;
}
@keyframes con2-4-3-anima{
	from{padding-top: 100px;}
	to{padding-top: 80px;}
}

/*快5*/
.con5{
	width: 100%;
	height: 1230px;
	background: #eaeef0;
	position: relative;
}
.con5 div{
	width: auto;
	height: auto;
}
.con5-1{
	position: absolute;
	right: 0;
	top: 60px;
}
.con5 .con5-2{
	position: absolute;
	right: 0;
	top: 134px;
	width:280px;
	text-align: left;
}
.con5-3{
	position: absolute;
	left: 0;
	top: 134px;
	text-align: left;
}
.con5-4{
	position: absolute;
	left: 0;
	top: 468px;
}
.con5 .con5-5{
	width: 43.7%;
	height: auto;
	position: absolute;
	left: 0;
	top:540px;
	text-align: right;
}
.con5 .con5-6{
	width: 43.7%;
	height: auto;
	position: absolute;
	left: 0;
	top:570px;
	text-align: right;
}
.con5-7{
	position: absolute;
	right: 0;
	top: 590px;
}
.con5-8{
	position: absolute;
	right: 0;
	bottom: 320px;
}
.con5 .con5-9{
	position: absolute;
	right: 0;
	width:280px;
	bottom: 270px;
}
.con5-10{
	position: absolute;
	left: 0;
	bottom: 80px;
}
/*第六块*/
.con6{
	width: 100%;
	height: 681px;
	position: relative;
	background-image: url(../img/page2/kuai6-img1.png);
}
.con6-3{
	position: absolute;
	left: 0;
	top: 60px;
}
.con6-2{
	color: #fff;
	position: absolute;
	left: 0;
	top:146px;
}
.con6-1{
	position: absolute;
	right: 100px;
    bottom: 80px;
}

/*第七块*/
.con7{
	width: 100%;
	height: 660px;
	background-color: #eff2f4;
	position: relative;
}
.con7-1{
	position: absolute;
	right:26%;
	top:60px;
}
.con7-2{
	position: absolute;
	right: 50%;
	margin-right:-150px;
	top:124px;
	text-align: center;
	width:300px;
}
.con7-3{
	position: absolute;
	right: 50%;
	margin-right:-150px;
	top:150px;
	text-align: center;

	width:300px;

}
.con7-4{
	position: absolute;
	left:20%;

	bottom:100px;
}
.con8-4{
	position: absolute;
	bottom: -5px;
	background-color: #fff;
}
/*第八块*/
.con8{
	width: 100%;
	height: 668px;
	background-color: #fff;
	position: relative;
}
.con8-1{
	position: absolute;
	top: 38px;
	left: 8%;
}
.con8-2{
	position: absolute;
	top: 120px;
	left: 8%;
}

.con8-3{
	position: absolute;
	bottom: 50px;
	left: 5%;
}
/*第9块*/
.con9{
	width: 100%;
	height: 577px;
	position: relative;
	margin-bottom: 90px;
	background-color: #fff;
}
.con9-1{
	text-align: center;
}
.con9-2{
	position: absolute;
	top: 50px;
	left: 8%;
}
.con9-3{
	text-align: center;
	position: absolute;
	bottom: 80px;
}
.con10{
	display: block;
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: center;
	background: #e83428;
	color: #fff;
	opacity: 0.9;
	position: fixed;
	bottom: 0;
	font-size: 30px;
}


