
.content{
	width: 100%;
	height: 1100px;
}
.login-con1{
	font-size: 36px;
	color: #333;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 70px;
}
.login-con2{
	width: 78%;
	height: 75px;
	margin: 0 auto;
	background: url(../img/login-fenggexian2.png) no-repeat;
	background-position: bottom;
}
.login-con3{
	padding-top: 48px;
}

.img-left{
	width: 13%;
	height: 46px;
	display: block;
	float: left;
	text-align: center;
	background: url(../img/login-fengexian1.png) no-repeat;
	background-position: right	
}
.img-left>img{
	margin-top:4px;
}
.input-right{
	float: left;
	width: 86%;
	height: 48px;
	font-size: 28px;
	border: none;
	background: none;
	text-indent: 1em;
}
.login-con4 .input-right{
	width: 43%;
	height: 48px;
}
.login-con4>a{
	display: block;
	width: 32.6%;
	height: 98px;
	position: absolute;
	top: 23px;
	right: 0;
	text-align: center;
	background-size: 100% 100%;
	font-size: 24px;
	line-height: 98px;
}
.login-con4{
	position: relative;
	background-size: 65% 2px;
	background-position: left bottom;
}

.login-con5{
	width: 78%;
	height: 100px;
	background: #da001d;
	border-radius:7px ;
	margin: 93px auto;
	margin-bottom: 0;
}
.login-con5 input{
	border: none;
	font-size: 35px;
	color: #fff;
	width: 100%;
	height: 100%;
	background: #da001d;
	border-radius:7px ;
	margin: 0 auto;
}
.login-con6{
	display: block;
	width: 51%;
	height: auto;
	color: #999;
	font-size: 24px;
	margin: 27px auto;
}
.modal{
	width: 100%;
	min-height:1000px ;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	display: none;
}
.modal p{
	width: 40%;
	height: 70px;
	background: #fff;
	border-radius: 5px;
	line-height: 70px;
	text-align: center;
	color: #333;
	font-size: 30px;
}

