<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订单-列表</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
<script src="__PUBLIC__/Plugin/laydate/laydate.js"></script>
<script src="__PUBLIC__/Plugin/jquery/jquery.colorpicker.js"></script>


<script language="javascript">
$(function(){
    //导航切换
    $(".imglist li").click(function(){
        $(".imglist li.selected").removeClass("selected")
        $(this).addClass("selected");
    })
    $(".select3").uedSelect({
        width : 152
    });
})
</script>
</head>
<body class="sarchbody">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">欧洲建材出售统计</a></li>
        </ul>
    </div>
<style type="text/css">
.seachform1 li{
margin-bottom: 10px; 
  }  
</style>
    <div class="rightinfo">
    <form action="" id="search-form2" class="navbar-form form-inline" method="post" onsubmit="return false">
            <ul class="seachform1" style="width:100%">
                <li><label>商品名称</label><input style="width: 200px;" name="goods_title" type="text" value="" placeholder='' class="scinput1"></li>
                <li><label>商品编号</label><input name="goods_sn" type="text" value="" class="scinput1"></li>
                <li>
                    <label>出售日期</label>
                    <input name="starttime" id="start_time" placeholder=" 开始日期" class="laydate-icon" style="height:33px;"/>
                    <input name="endtime" id="end_time" placeholder=" 结束日期" class="laydate-icon" style="height:33px;"/>
                </li>
                <li><label>商品分类</label>
                    <div class="vocation">
                    <select class="select3" id='selt' name="cate_id">
                    <option value="">全部分类</option>
                    <?php foreach ($cate_list as $cate): ?>
                    <option value="<{$cate.id}>" ><?php echo str_repeat('——',$cate['lev']) ?> <{$cate.name}></option>
                    <?php endforeach ?>
                    </select>
                </div>
                </li>
                <li ><label>&nbsp;</label><input type="submit" onclick="ajax_get_table('search-form2',1)" name="send" class="scbtn" value="查询">  
                <input type="button"   onclick="daochu('search-form2')" class="scbtn1" value="导出">
            </ul>
        </form>
        <div id="ajax_return"> </div>
           
    </div>
    
    <script>
    $(document).ready(function(){
        // ajax 加载商品列表
        ajax_get_table('search-form2',1);

    });


    // ajax 抓取页面 form 为表单id  page 为当前第几页
    function ajax_get_table(form,page){
        cur_page = page; //当前页面 保存为全局变量
            $.ajax({
                type : "POST",
                url:"<{:U('ajaxIndex')}>"+'?p='+page,//+tab,
                data : $('#'+form).serialize(),// 你的formid
                success: function(data){
                    $("#ajax_return").html('');
                    $("#ajax_return").append(data);
                }
            });
        }  

    function daochu(form){
        var goods_title=$("input[name='goods_title']").val();
        var goods_sn=$("input[name='goods_sn']").val();
        var starttime=$("input[name='starttime']").val();
        var endtime=$("input[name='endtime']").val();
        var cate_id=$('#selt option:selected').val();
        window.location.href="<{:U('ajaxIndex')}>"+'?goods_title='+goods_title+'&goods_sn='+goods_sn+'&starttime='+starttime+'&endtime='+endtime+'&cate_id='+cate_id+'&tab=daochu'; 
    //     window.location.href="index.php/Admin/Overseas/Sell/ajaxIndex"; 
    }      
</script> 
    <script>
        /*日期时间框插件***********************************/
        !function(){
          laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
        }();
        var start = {
            elem: '#start_time',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: '2000-00-00 00:00:00', //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas){
                 end.min = datas; //开始日选好后，重置结束日的最小日期
                 end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end_time',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: '2000-00-00 00:00:00',
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
        /*日期时间框插件***********************************/
    </script>
</body>

</html>
