<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
<script src="__PUBLIC__/Plugin/laydate/laydate.js"></script>
<script src="__PUBLIC__/Plugin/jquery/jquery.colorpicker.js"></script>

<script charset="utf-8" src="__ROOT__/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="__ROOT__/editor/lang/zh_CN.js"></script>
<script charset="utf-8" src="__ROOT__/editor/plugins/code/prettify.js"></script>
<script>
  var editor;
  KindEditor.ready(function(K) {
      editor = K.create('.editor_id', {
          cssPath : '__ROOT__/editor/plugins/code/prettify.css',
          uploadJson : "__ROOT__/editor/php/upload_json.php",
          // uploadJson : "__ROOT__/editor/php/upload_json.php?ymd=<?php /*echo $ymd.'&filename='.$filename*/ ?>",
          fileManagerJson : '__ROOT__/editor/php/file_manager_json.php',
          allowFileManager : true
      });
      prettyPrint();
  });
</script>
</head>
<body>

        <div class="place">
        <span>位置：</span>
         <ul class="placeul">
        <li><a href="">首页</a></li>
        <li><a href="">售后管理</a></li>
        <li><a href="">机电保养</a></li>
        <li><a href="">添加</a></li>
        </ul>
        </ul>
        </div>
        <div class="formbody">
        <form action="<{:U('doAdd')}>" method="post" enctype="multipart/form-data">
        <ul class="forminfo">

            <li><label>系统</label><input name="name" type="text" class="dfinput" value='' required='required'/></li>

            <li><label>保养内容</label><textarea name='content' class="dfinput" style="width:345px;height:200px;"></textarea><i>不能超过255个字符</i></li>

            <li><label>保养周期</label><input name="period" type="text" class="dfinput" value='' required='required'/></li>
            <li><label>单次保养费用</label><input name="price" type="text" class="dfinput" value='' required='required'/></li>

            <li><label>系统描述</label>
                <textarea class="editor_id" name="details" style="width:850px;height:400px;"></textarea>
            </li>

            <li><label>保养图片<b>*</b></label>
            <input name="u_img" type="file"/><i></i></li>

            <li>
              <label>是否上下架</label>
              <label><input type="radio" name="is_use" value='1'>是</label> <label><input type="radio" name="is_use" value='2'>否</label>
          </li>

            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="添加"/></li>
        </ul>
        </form>
        </div>

<script>
    function tab(o){
        for (var i = 1; i < 5; i++) {
            $('#tab'+i).css('display','none');
            document.getElementById('t'+i).className = '';
        };
        $('#tab'+o).css('display','block');
        document.getElementById('t'+o).className = 'selected';
    }
</script>

<script type="text/javascript">
    /*日期时间框插件***********************************/
    !function(){
      laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
    var start = {
        elem: '#start_time',
        format: 'YYYY/MM/DD hh:mm:ss',
        min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
             end.min = datas; //开始日选好后，重置结束日的最小日期
             end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end_time',
        format: 'YYYY/MM/DD hh:mm:ss',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
    /*日期时间框插件***********************************/
</script>
</body>
</html>

