<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
<script src="__PUBLIC__/Plugin/laydate/laydate.js"></script>
<script src="__PUBLIC__/Plugin/jquery/jquery.colorpicker.js"></script>
<script charset="utf-8" src="__ROOT__/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="__ROOT__/editor/lang/zh_CN.js"></script>
<script charset="utf-8" src="__ROOT__/editor/plugins/code/prettify.js"></script>
<script>
  var editor;
  KindEditor.ready(function(K) {
      editor = K.create('.editor_id', {
          cssPath : '__ROOT__/editor/plugins/code/prettify.css',
          uploadJson : "__ROOT__/editor/php/upload_json.php",
          // uploadJson : "__ROOT__/editor/php/upload_json.php?ymd=<?php /*echo $ymd.'&filename='.$filename*/ ?>",
          fileManagerJson : '__ROOT__/editor/php/file_manager_json.php',
          allowFileManager : true
      });
      prettyPrint();
  });
</script>
</head>
<body>
<div class="place"> <span>位置：</span>
    <ul class="placeul">
        <li><a href="">首页</a></li>
        <li><a href="">健康舒适家居</a></li>
        <li><a href="<{:U('index')}>">报价清单</a></li>
        <li><a href="">编辑清单</a></li>
    </ul>
</div>
<!-- 选项卡 -->
<div class="itab">
    <ul>
        <li><a href="javascript:;" onclick="tab(1)" id='t1' class="<?= !empty($tab)?'':'selected' ?>">通用信息</a></li>
        <li><a href="javascript:;" onclick="tab(2)" id='t2'>系统相册</a></li>

       

        <!-- <li><a href="javascript:;" onclick="tab(3)" id='t3'>概述</a></li>
        <li><a href="javascript:;" onclick="tab(4)" id='t4'>原理</a></li>
        <li><a href="javascript:;" onclick="tab(5)" id='t5'>产品优势</a></li>
        <li><a href="javascript:;" onclick="tab(6)" id='t6'>参数</a></li>
        <li><a href="javascript:;" onclick="tab(7)" id='t7'>施工标准</a></li>
        <li><a href="javascript:;" onclick="tab(8)" id='t8'>售后</a></li> -->

        <li><a href="javascript:;" onclick="tab(3)" id='t3'>困惑与需求</a></li>
        <li><a href="javascript:;" onclick="tab(4)" id='t4'>产品与品牌</a></li>

        <li style="display:none"><a href="javascript:;" onclick="tab(5)" id='t5' class='<if condition= " !empty($tab) ">selected</if>'>功能及需求</a></li>
    </ul>
</div>

<div class="formbody">
    <form action="<{:U('edit_save')}>" method="post" enctype="multipart/form-data" >
        <input type="hidden" name="quote_id" value="<?=$quote['quote_id']?>"/>
        <input type="hidden" name="quote_names" value="<{$quote.quote_name}>"/>

        <ul class="forminfo">
            <div id='tab1' style="<?= !empty($tab)?'display:none':'display:block' ?>">
                <li>
                    <label>名称</label>
                    <input name="quote_name" type="text" class="dfinput" value='<{$quote.quote_name}>'required='required'/>
                    <i>标题不能超过30个字符</i></li>
                <li>
                    <label>别名</label>
                    <input name="alias" type="text" class="dfinput" value='<{$quote.alias}>'required='required'/>
                    <i>例如：C100</i></li>
                <li>
                    <label>分类</label>
                    <select name='cat_id' style="width:345px; height:32px; line-height:32px; border-top:solid 1px #c3ab7d; border-left:solid 1px #c3ab7d; border-right:solid 1px #e7d5ba; border-bottom:solid 1px #e7d5ba; background: rgba(0, 0, 0, 0) url('../images/inputbg.gif') repeat-x scroll 0 0;">
                        <?php foreach($cate as $v){ ?>
                        <option value="<?=$v['cat_id'] ?>" <?php if($quote['cat_id'] == $v['cat_id']){echo 'selected';} ?> >
                        <?=$v['cat_name'] ?>
                        </option>
                        <?php } ?>
                    </select>
                </li>
                <li>
                    <label>打折比例</label>
                    <input name="sale" type="text" class="sinput" value='<{$quote.sale}>' required='required'/>%
                    <i>例如：30%</i></li>
                <li>
                <li>
                    <label>优惠券可用金额比例</label>
                    <input name="coupon" type="text" class="sinput" value='<{$quote.coupon}>' required='required'/>%
                    <i>例如：30%</i></li>
                <li>
                    <label>积分金额比例</label>
                    <input name="gift" type="text" class="sinput" value='<{$quote.gift}>' required='required'/>%
                    <i>例如：30%</i></li>
                <li>
                    <label>第二次支付比例</label><input name="ecprice" type="text" class="sinput" value='<{$quote.ecprice}>' required='required'/>%
                    <i>第一次为500元，第三次为100%-第二次比例-500</i></li>
                <li >
                    <label>是否上架</label>
                    <cite>
                    <input name="is_putaway" type="radio" value="1" <?= $quote['is_putaway'] == 1?'checked="checked"':'' ?>/>
                    是&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="is_putaway" type="radio" value="0" <?= $quote['is_putaway'] == 0?'checked="checked"':'' ?>/>
                    否</cite></li>
                <li style='display:none'>
                    <label>上下架时间</label>
                    <input name="starttime" id="start_time" placeholder="请输入开始日期" class="laydate-icon" style="height:33px;" value="<?= date('Y-m-d H:i:s',$quote['starttime']) ?>">
                    <input name="endtime" id="end_time" placeholder="请输入结束日期" class="laydate-icon" style="height:33px;"  value="<?= date('Y-m-d H:i:s',$quote['endtime']) ?>">
                </li>
                <li>
                    <label>系统原图</label>
                    <img style="max-width:100px;max-height:100px;" src="__PUBLIC__/Uploads/<?=$quote['img'] ?>" /></li>
                <li>
                    <label>系统图片</label>
                    <input type='hidden' name='oldimg'value="<?php if(!empty($quote['img'])){echo $quote['img'];} ?>"/>
                    <input name="img" type="file" />
                    <i></i> </li>
                
                <li>
                    <label>视频1</label>
                    <input name="video_img" type="file" value="<?php if(!empty($quote['video_img'])){echo $quote['video_img'];} ?>"/>
                    <i></i></li>
                <li>
                    <label>视频2</label>
                    <input name="video" type="file" value="<?php if(!empty($quote['video'])){echo $quote['video'];} ?>"/>
                    <i></i></li>
                <li>
                    <label>系统描述</label>
                    <textarea class="editor_id" name="text" style="width:850px;height:400px;"><?php if(!empty($quote['text'])){echo $quote['text'];} ?></textarea>
                </li>
                
                <li>
                    <label>产品手册</label>
                    <input name="manual" type="file" />
                    <i></i></li>
                </div>

            <div id="tab2" style="display:none;">
                <li>
                    <label>系统相册</label>
                    <?php foreach ($quote['images'] as $k=>$v){ ?>
                    <div id='images<?=$k?>' style="float:left;width:180px;height:200px;border:1px solid #ccc;margin-right:20px;margin-bottom:20px;"> 
                        <div style="width:160px;height:160px;margin-left:10px;margin-top:10px;">
                            <img id="preview<?=$k?>" src="__PUBLIC__/Uploads/<?=$v ?>" style="width:160px;height:160px;" />
                        </div>
                        
                        <input type='hidden' name='oldimages<?= $k ?>'value="<?= $v ?>"/>
                        
                        <div style="width:180px;height:30px;line-height:30px;margin-left:40px;">
                            <div style="width:40px;height:30px;line-height:30px;float:left;overflow:hidden;">
                                <div style="width:40px;text-align:center;height:30px;line-height:30px; z-index:1; position:relative;">
                                    <span onclick="">修改</span>
                                </div>
                                
                                <div style="width:40px;height:30px;z-index:2; position:relative;top:-30px;filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;">
                                    <input name="editimg[<?=$k?>]" id='doc<?=$k?>' onchange="f('<?=$k?>')" type="file" style="width:40px;height:30px;">
                                </div>
                            </div>
                            
                            <div style="float:left;text-align:center;width:90px;">
                                <span><font style="cursor:pointer" onclick="delimage('<?= $v ?>','<?=$quote['quote_id']?>','images<?=$k?>')">删除</font></span>
                            </div>
                        </div>
                    </div>
                    <?php } ?>
                </li>
                
                <li>
                    <label>系统相册添加</label>
                    <input name="images[]"  multiple="true" type="file"  accept=".png,.jpeg,.jpg,.gif"/>
                    <i></i> 
                </li>

                <li>
                    <label>产品功能图</label>
                    <img style="max-width:100px;max-height:100px;" src="__PUBLIC__/Uploads/<?=$quote['product_img'] ?>" /></li>
                <li>

                <li>
                    <label>产品功能图添加</label>
                    <input name="product_img" type="file"  accept=".png,.jpeg,.jpg,.gif"/>
                    <i></i> 
                </li>
            </div>
        
            <!-- <div id="tab3" style="display:none;">
                <li class="forminfo">
                    <textarea class="editor_id" name="summary" style="width:850px;height:400px;"><{$quote.summary}></textarea>
                </li>
            </div>
            <div id="tab4" style="display:none;">
                <li class="forminfo">
                    <textarea class="editor_id" name="principle" style="width:850px;height:400px;"><{$quote.principle}></textarea>
                </li>
				<li>
                    <label>视频原图</label>
                    <img style="max-width:100px;max-height:100px;" src="__PUBLIC__/Uploads/<?=$quote['video_img'] ?>" /></li>
				<li>
                    <label>原理视频图片</label>
                    <input name="principle_video_img" type="file" value="<?php if(!empty($quote['principle_video_img'])){echo $quote['principle_video_img'];} ?>"/>
                    <i></i></li>
                <li>
                    <label>原理视频</label>
                    <input name="principle_video" type="file" value="<?php if(!empty($quote['principle_video'])){echo $quote['principle_video'];} ?>"/>
                    <i></i></li>
            </div>
           <div id="tab5" style="display:none;">
                <li class="forminfo">
                    <textarea class="editor_id" name="advantage" style="width:850px;height:400px;"><{$quote.advantage}></textarea>
				
                </li>
            </div>
            <div id="tab6" style="display:none;">
                <li class="forminfo">
                    <textarea class="editor_id" name="parameter" style="width:850px;height:400px;"><{$quote.parameter}></textarea>
                </li>
            </div>
            <div id="tab7" style="display:none;">
                <li class="forminfo">
                    <textarea class="editor_id" name="standard" style="width:850px;height:400px;"><{$quote.standard}></textarea>
                </li>
            </div>
            <div id="tab8" style="display:none;">
                <li class="forminfo">
                    <textarea class="editor_id" name="customer" style="width:850px;height:400px;"><{$quote.customer}></textarea>
                </li>
            </div> -->
            <div id="tab3" style="display:none;">
                <li class="forminfo">
                    <textarea class="editor_id" name="puzzled" style="width:850px;height:400px;"><{$quote.puzzled}></textarea>
                </li>
            </div>
            <div id="tab4" style="display:none;">
                <li class="forminfo">
                    <textarea class="editor_id" name="product" style="width:850px;height:400px;"><{$quote.product}></textarea>
                </li>
            </div>

            <li id="tabsub"  style="<?= !empty($tab)?'display:none':'display:block' ?>">
                <label>&nbsp;</label><input name="" type="submit" class="btn" value="确认编辑"/>
            </li>
        </ul>
    </form>
</div>
    <div id="tab5"  style="<?= !empty($tab)?'display:block':'display:none' ?>">
        <div class="rightinfo">
            <form action="<{:U('edit')}>" method="get">
                <ul class="prosearch">
                    <li>
                        <label>查询：</label>
                        <i>关键字搜索:</i>
                        <a><input name="name" type="text" value="<{$_GET['name']}>" class="scinput" /></a>
                        <a>
                            <i>满足需求类型:</i>
                            <div class="edit-title-05"> 
                                <div class="vocation">
                                    <select class="select3" name="type">
                                        <option value="">请选择</option>
                                        <option value="健康">健康</option>
                                        <option value="舒适">舒适</option>
                                        <option value="安全">安全</option>
                                        <option value="节能">节能</option>
                                        <option value="智能">智能</option>
                                        <option value="便捷使用">便捷使用</option>
                                        <option value="便捷维护">便捷维护</option>
                                    </select>
                                </div>
                            </div>  
                        </a>
                        <input type="hidden" name="quote_id" value="<{$quote.quote_id}>">
                        <input type="hidden" name="tab" value="9">
                        <a><input name="" type="submit" class="sure" value="查询"/></a>
                        <a><input name="" type="reset" class="sure" value="重置"/></a>
                     </li>
                </ul>
            </form>

            <!-- 添加按钮 -->
            <div class="tools">
                <ul class="toolbar">
                    <li class=""><a href="<{:U('demand_add',array('quote_id'=>$quote['quote_id']))}>"><span><img src="__PUBLIC__/Admin/images/t01.png"></span>添加</a></li>
                </ul>
            </div>

            <!-- 表格 -->
            <table class="tablelist">
                <thead>
                    <tr>
                        <th>展示序号</th>
                        <th>功能名称</th>
                        <th>功能图片</th>
                        <th>满足需求类型</th>
                        <th>功能解释</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 品牌遍历区 -->
                    <?php foreach ($explain as $key => $val): ?>
                    <tr style="border-bottom:2px solid #F2BF74;">
                        <td><{$val.number}></td>
                        <td><{$val.name}></td>
                        <td style="height:55px;"><img src="<?= getimage($val['img']) ?>" width='40px'></td>
                        <td>
                            <?php foreach ($val['type'] as $k => $v): ?>
                                <span <?= $k=='0'?'':'style="border-top:1px solid #F2BF74;"' ?> ><?= !empty($v)?$v:'无'; ?></span>
                            <?php endforeach ?>
                        </td>
                        <td>
                            <?php foreach ($val['explain'] as $k => $v): ?>
                                <span <?= $k=='0'?'':'style="border-top:1px solid #F2BF74;"' ?>><?= !empty($v)?$v:'无'; ?></span>
                            <?php endforeach ?>
                        </td>
                        <td>
                            <a href="<{:U('demandEdit',array('id'=>$val['id']))}>" class="tablelink">编辑</a>
                            <a href="javascript:;" class="tablelink click" onclick="de(<{$val.id}>)"> 删除</a>
                        </td>
                    </tr>
                    <?php endforeach ?>
                    <!-- 品牌遍历区 -->
                </tbody>
            </table>

            <!-- 分页开始 -->
            <{$page}>
            <!-- 分页结束 -->

            <div id="tip" class="tip">
                <div class="tiptop"><span>提示信息</span><a onclick='c()'></a></div>
                <div class="tipinfo">
                    <span><img src="__PUBLIC__/Admin/images/i04.png" /></span>
                    <div class="tipright">
                        <p>是否确认删除？</p>
                        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                    </div>
                </div>
                <div class="tipbtn">
                    <form action="<{:U('demandDel')}>" method="post">
                        <input type="hidden" id='did' name='id' value=''>
                        <input type="hidden" name='quote_id' value="<?=$quote['quote_id']?>">
                        <input name="" type="submit" class="sure" value="确定" />&nbsp;
                        <input name="" type="button" onclick='c()' class="cancel" value="取消" />
                    </form>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function de(id){
        $('#tip').css('display','block');
        $('#did').val(id);
    }
    function c(){
        $('#tip').css('display','none');
    }
</script>
<script>
    function tab(o){
        for (var i = 1; i < 6; i++) {
            $('#tab'+i).css('display','none');
            document.getElementById('t'+i).className = '';
        };
        $('#tab'+o).css('display','block');
        document.getElementById('t'+o).className = 'selected';
        if (o==5) {
            $('#tabsub').css('display','none');
            var str=location.href; //取得整个地址栏
            window.location.href=str.replace(/.html/, "/tab/9.html"); 
        }else $('#tabsub').css('display','block');
    }
</script>
<script>
    function f(k) {
        var docObj = document.getElementById("doc"+k);
        var imgObjPreview = document.getElementById("preview"+k);
        if (docObj.files && docObj.files[0]) {
            imgObjPreview.style.display = 'block';
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        }
        return true;
    }
</script>
<script>
    function delimage(img,id,i){
        $.get('<{:U("deleteimages")}>',{'img':img,'id':id},function(data){
            if (data==1) {
                $('#'+i).css('border','');
                $('#'+i).html('');
            }else{
                alert('删除失败');
            }
        })
    }
</script>
<script type="text/javascript">
   
    /*日期时间框插件***********************************/
    !function(){
      laydate.skin('dahong');//切换皮肤，请查看skins下面皮肤库
    }();
    var start = {
        elem: '#start_time',
        format: 'YYYY/MM/DD hh:mm:ss',
        min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
             end.min = datas; //开始日选好后，重置结束日的最小日期
             end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end_time',
        format: 'YYYY/MM/DD hh:mm:ss',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
    /*日期时间框插件***********************************/
</script>

<style>

	
.edit-title-05{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	color:#000;
    border-top: solid 1px #c3ab7d;
    border-left: solid 1px #c3ab7d;
    border-right: solid 1px #e7d5ba;
    border-bottom: solid 1px #e7d5ba;
	margin-right:50px;}
	
.edit-title-05 select{
	width:100px;
	height:30px;
	line-height:30px;
	border:none;
	background:none;
	color:#000;}
	


</style>
</body>
</html>
