<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/dibandetail.css" />
	
<!--content-->
<div class="content" >
	<div class="zhankong"></div>
	<div class="con-top">
		<div class="con-top-left">
			<p>
				<img id="img1" src="<?= C(TP_APP_URL).'/Public/Uploads/'.$data['c_img'] ?>" alt="" />
			</p>
			<p>
				
				<a class="simg"  onclick="addborder(<{$k}>,'<?= C(TP_APP_URL).'/Public/Uploads/'.$data['c_img'] ?>')"><img src="<?= C(TP_APP_URL).'/Public/Uploads/'.$data['c_img'] ?>" alt="" /></a>

			</p>
			<p>
				<a href="javascript:;" onclick='fenxiang()'>分享</a>
				<span onclick="changecolor()"><a id="shoucang" <?php if(!empty($collect)){ ?> class='bianse' <?php } ?> href="javascript:;">★</a>收藏商品</span>
				<span>(<a href="javascript:;" id='count'><{$count}></a>人气)</span>
				<div style='display: none;margin-left: 20px;' class="bdsharebuttonbox" data-tag="share_1">
					<a class="bds_mshare" data-cmd="mshare"></a>
					<a class="bds_qzone" data-cmd="qzone" href="#"></a>
					<a class="bds_tsina" data-cmd="tsina"></a>
					<a class="bds_baidu" data-cmd="baidu"></a>
					<a class="bds_renren" data-cmd="renren"></a>
					<a class="bds_tqq" data-cmd="tqq"></a>
					<a data-cmd="more">更多</a>
				</div>
			</p>
		</div>
		<div class="con-top-right">
			<p class="con-top-right-1"><{$data.c_name}></p>
			<p class="con-top-right-2"></p>
			<p class="con-top-right-3"><span>价格</span><span>￥：<span id='price1'><{$data.old_price}></span></span></p>
			<p class="con-top-right-4"><span>促销价</span><span>￥：<span id='price2'><{$data.price}></span></span></p>
			
			<p class="con-top-right-6"><span>数量</span><span class="jiajiancount"><input type="text" class="inputcount" id='num' value='1' onchange="thisNum(this.value)" /><span class="jiajianbtn"><a class="jia" onclick="addcount()">+</a><a class="jian" onclick="jiancount()">-</a></span>件</span></p>
			<p class="fuwu fuwu1 con-top-right-7"><span>适用机型</span><span><{$data.product_name}></span></p>
			<p class="fuwu fuwu1 con-top-right-7"><span>处理量</span><span><{$data.parameter}></span></p>
			<p class="fuwu fuwu1 con-top-right-7"><span>更换周期</span><span><{$data.cycle}></span></p>
			<p class="con-top-right-9"><a href="javascript:;" id='ljg' target="_blank" onclick='shopCar(1)'>立即购买</a><a href="javascript:;" name="加入购物车" onclick='shopCar(2)'>加入购物车</a></p>
		</div>
	</div>
	
	<div class="con-bottom">
		<ul class="con-bottom-tab">
			<li class="tabli" style="color: red;border-color: red;">产品详情</li>
			<!-- <li onclick="dibandetailtabs(this,1)" class="tabli">累计评价 <span><?= $commentCount ?></span></li> -->
		</ul>
		<div class="tabs tabs1" id="tab1">
			<div class="tab1-con1" id="tab1con1">
				<?= html_entity_decode($data['content'],ENT_QUOTES,'UTF-8'); ?>
			</div>
		</div>
	</div>
</div>

<script src="__PUBLIC__/js/headfoot.js"></script>

<script>
//	加减数量bg
	function addcount(){
		var add=parseInt($("#num").val());
		add=add+1;
		if(add<=0){
			$("#num").val(0);
		}else{
			$("#num").val(add);
		}
	}
	function jiancount(){
		var add=parseInt($("#num").val());
		add=add-1;
		if(add<=1){
			$("#num").val(1);
		}else{
			$("#num").val(add);
		}
	}
//	加减数量end

	
	function shopCar(tz){
		var num = $('#num').val();
		if (num < 1) {
			alert('数量不能小于1');
			return;
		}
		$.post("<{:U('Customer/addCart')}>",{'id':<{$_GET.id}>,'num':num}, function(data){
			if(data=='-1'){
				alert('该商品已下架');
			}else if(data=='-2'){
				alert('添加失败');
			}else{
				if (tz==2) {
					if(confirm('添加成功,是否前往购物车')){
					    window.location.href="<{:U('Cart/index')}>";
					}else{
					    return false;
					}
				}else if(tz==1){
					window.open("<{:U('Order/index')}>?goods_id="+data+"&num="+num);
				}
			}
		})
	}


	$('.page a').click(function(){
		var p = $(this).attr('data-page');
		$.get("<{:U('page')}>",{'id':<{$_GET.id}>,'p':p},function(data){
			$('#page').html(data);
		})
	})

	window.onscroll=function(){
			var tabtop=$("#tab1")[0].offsetTop;
			var doctop=$(window).scrollTop();
			var stop=tabtop-doctop;
			if(doctop>=stop){
				$(".tab1-fixed").css("position","fixed");
				$(".tab1-fixed").css("top",300+"px");
				$(".tab1-fixed").css("right",208+"px");
			}else{
				$(".tab1-fixed").css("position","absolute");
				$(".tab1-fixed").css("top",0+"px");
				$(".tab1-fixed").css("right",0+"px");
			}
			
		}
	function tabfixed(n){
		for(var i=0;i<7;i++){
			if(i==n){
				$(".fixspan").eq(i).attr("src","__PUBLIC__/img/danxuan-btn2.jpg");
				$(".fixa").eq(i).css("color","red");
			}else{
				$(".fixspan").eq(i).attr("src","__PUBLIC__/img/danxuan-btn.jpg");
				$(".fixa").eq(i).css("color","#666");
			}
		}
	}
	function dibandetailtabs(n,z){
		$(".tabli").css("border-color","#666").css("color","#666");
		$(n).css("border-color","red").css("color","red");
		if(z==0){
			$(".tabli").eq(1).css("border-left","none");
			$(".tabli").eq(0).css("border-right","1px solid red");
			$(".tabs1").css("display","block")	
		}else{
			$(".tabli").eq(0).css("border-right","none");
			$(".tabli").eq(1).css("border-left","1px solid red");
			$(".tabs1").css("display","none")
			$(".tabs2").css("display","block")
		}
	}
	function addborder(n,dizhi){
		for(var i=0;i<5;i++){
			if(i==n){
				$(".simg").eq(i).css("border-color","red")
				$("#img1").attr("src",dizhi)
			}else{
				$(".simg").eq(i).css("border-color","#fff")
			}
			
		}
	}
	function changecolor(){
		var attr   = new Array();
		var length = <?= count($list) ?>;
		for (var i = 0; i < length; i++) {
			attr[i] = $('#attr'+i).val();
			var is_null = $('#attr'+i).val();
			var key  = $('.key'+i+' span').html();
			if (is_null=='') {
				alert('请选择'+key);
				return;
			}
		}	
		$.post('<{:U("collect")}>',{'attr':attr,'id':<?= $_GET['id'] ?>},function(data){
			if (data == 1) {
				$("#shoucang").addClass("bianse");
				var count = parseInt($("#count").text()) + parseInt(1);
				$("#count").text(count);
				alert('收藏成功');
			}else alert(data);
		})
	}
	function imgaddborder(t,k){
		$('.val'+k).removeClass("imgborder");
		$(t).addClass("imgborder");
		var	v = $(t).html();
		$('#attr'+k).val(v);
		var length = $('.imgborder').length;
		var price  = 0;
		for (var i = 0; i < length; i++) {
			var pr = $('.imgborder').eq(i).attr('price')
			if (pr != undefined) price += parseFloat(pr);
		}
		var market_price = $('#market_price').val();
		var shop_price   = $('#shop_price').val();
		var price1 		 = parseFloat(market_price) + price;
		var price2   	 = parseFloat(shop_price) + price;
		$('#price1').html(price1.toFixed(2));
		$('#price2').html(price2.toFixed(2));
	}


	function thisNum(t){
		if (t<1 || isNaN(t)) $('#num').val('1');
		var re=/^[0-9]+$/;
		var reg=new RegExp(re);
		if(!reg.test(t)) {  
		    $('#num').val(Math.ceil(t));
		}
	}

	function activeimg(t){	
		var count = $(t).attr("index");
		var img   = $(t).attr("src");
		var reimg = $(t).parent().next().children().attr("src");
		// $(".bigimg").attr("src",img);
		$(t).parent().next().children().attr("src",img);
		if (img == reimg) {
			$(t).parent().next().children().attr("src",'');
			$(t).parent().next().css("display","none");
			$(t).parent().parent().next().next().css("margin-top","30px");
			$(t).parent().parent().next().css("margin-top","30px");
		}else{
			$(t).parent().next().css("display","block");
			$(t).parent().parent().next().next().css("margin-top","150px");
			$(t).parent().parent().next().css("margin-top","150px");
		}
	}

	function fenxiang(){
		$('.bdsharebuttonbox').toggle();
	}

</script>

<script>
	window._bd_share_config = {
		common : {
			bdUrl : "http://www.myspss.com__APP__/<{$_SESSION['url']}>", 
		},
		share : [{
			"bdSize" : 16
		}],
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>