<link rel="stylesheet" href="__PUBLIC__/css/shouhouhome.css" />
		<!--content-->
		<div class="cus-index-con">
			<div class="con-top">
				<img src="<{$image}>">
			</div>
			<div class="con-bottom">
				<ul>
					<li>
						<a href="<{:U('Customer/upkeep')}>"><p></p></a>
						<!-- <p>整机保养，重要零件保养整机保养，重要零件保养</p>
						<p>整机保养，重要零件保养整机保养，重要零件保养</p>
						<p>整机保养，重要零件保养整机保养，重要零件保养</p> -->
					</li>
					<li>
						<a href="<{:U('Customer/consumable')}>"><p></p></a><!-- 
						<p>整机保养，重要零件保养整机保养，重要零件保养</p>
						<p>整机保养，重要零件保养整机保养，重要零件保养</p>
						<p>整机保养，重要零件保养整机保养，重要零件保养</p> -->
					</li>
					<li>
						<a href="<{:U('Customer/maintain')}>"><p></p></a><!-- 
						<p>整机保养，重要零件保养整机保养，重要零件保养</p>
						<p>整机保养，重要零件保养整机保养，重要零件保养</p>
						<p>整机保养，重要零件保养整机保养，重要零件保养</p> -->
					</li>
				</ul>
			</div>
		</div>
