
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片空间-列表</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script language="javascript">
$(function(){
    //导航切换
    $(".imglist li").click(function(){
        $(".imglist li.selected").removeClass("selected")
        $(this).addClass("selected");
    })
})
</script>
</head>


<body>

    <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">欧洲团代购</a></li>
    <li><a href="#">图片空间</a></li>
    </ul>
    </div>

    <div class="rightinfo">

    <ul class="imglist">
        <?php foreach ($image_list as $image): ?>
        <li data-id="<{$image.id}>">
            <span style="height:164px;"><img width="168" height="170" src="<{$image.url}>"></span>
            <p>
                <a href="javascript:;" onclick="deleteImage(this)">删除</a>
            </p>
        </li>
        <?php endforeach ?>
    </ul>

    <{$page}>


    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>

      <div class="tipinfo">
        <span><img src="__PUBLIC__/Admin/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>

        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>

    </div>




    </div>
    <script>
    //删除图片ajax
    function deleteImage(obj){
        var id = $(obj).parent().parent().attr('data-id');
        var that = $(obj);
        if(!id) return;
        $.ajax({
            url:"<{:U('Admin/Eugroup/Goods/deleteImage')}>",
            data:{id:id},
            success:function(data){
                if(data>0){
                    //删除成功, 删除dom
                    that.parent().parent().remove();
                }
            }
        });
    }
    </script>
</body>

</html>
