<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>

</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    </ul>
    </div>
    
    <div class="mainindex">
    
    
    <div class="welinfo">
    <span><img src="images/sun.png" alt="天气" /></span>
    <b>您好，【{:$smarty.cookies.adminUserName:}】 ，欢迎使用信息管理系统！</b>
    {:if $permission neq 0:}
    <a href="index.php?info&user_id={:$smarty.cookies.adminUserId:}">修改信息</a>
    {:/if:}
    </div>
    
    <div class="welinfo">
    <span><img src="images/time.png" alt="时间" /></span>
    <i>您上次登录的时间：{:'Y-m-d H:i:s'|date:{:$smarty.cookies.last_login:}:}</i>）
    </div>
    
    <div class="xline"></div>
    
    <ul class="iconlist">
     {:if $permission eq 0:}
    <li><img src="images/ico01.png" /><p><a href="index.php?permission">管理员设置</a></p></li>
    {:/if:}
    <li><img src="images/ico03.png" /><p><a href="#">数据统计</a></p></li>
            
    </ul>
    <div class="xline"></div>
    <div class="box"></div>
    </div>
    
    

</body>

</html>

















	

