<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>暖扬扬管理页面</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="js/skins/danlan/laydate.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="js/jquery.js"></script>
<script language="JavaScript" src="js/common.js"></script>
<script src="js/laydate.js"></script>
<script type="text/javascript" charset="utf-8" src="ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
	 <div class="place">
	    <span>位置：</span>
	    <ul class="placeul">
	    <li><a href="index.php">首页</a></li>
	    <li><a href="">健康舒适家居</a></li>
	    <li><a href="">用户问题</a></li>
	    <li><a href="" style="color:red;">已解决问题</a></li>
	    </ul>
	    <span style="float:right;margin-right:20px;"><a href="problem.php?probl">全部问题</a></span>
	    <span style="float:right;"><a href="problem.php?prob_ok">已解决问题</a></span>
	    <span style="float:right;"><a href="problem.php?prob_no">待解决问题</a></span>
	    </div>
	

		<!-- 全部问题 -->
	    <div class="rightinfo">
	    
	    <table class="imgtable">
	    
	    <thead>
	    <tr>
	    <th width="60px;">编号</th>
	    <th>用户姓名</th>
	    <th>用户电话</th>
	    <th>地址</th>
	    <th>内容</th>
	    <th>提问时间</th>
	    <th width="90px;">状态</th>
	    <th>备注</th>
	    <th width="250px;">操作（<font color="red">如有需要可以在框内添加备注</font>）</th>
	    </tr>
	    </thead>
	    
	    <tbody>
	    {:foreach $data as $v:}
	    <tr>
	    <td>{:$v.problem_id:}</td>
	    <td>{:$v.name:}</td>
	    <td>{:$v.phone:}</td>
	    <td>{:$v.province:} {:$v.city:} {:$v.area:} {:$v.address:}</td>
	    <td>{:$v.content:}</td>
	    <td>{:$v.time:}</td>
	    <td><a href="problem.php?state_ok={:$v.state:}&id={:$v.problem_id:}">{:if $v['state'] eq 0:}等待解决{:else:}已解决{:/if:}</a></td>
	    <td>{:$v.note:}</td>
	    <td>
	    	<form action="./problem.php" method="get">
	    		<input class='quinput' type='text' name="note_ok">
	    		<input class='quinput' type='hidden' name="problem_id" value="{:$v.problem_id:}">
				<button style="cursor:pointer">添加备注</button>&nbsp&nbsp&nbsp&nbsp
				<a href="problem.php?delete_ok={:$v.problem_id:}">删除</a>
	    	</form>
	    	
	    </td>
	    </tr>
	    {:/foreach:}
	    </tbody>
	    </table>
	     	<div class="page">
				{:$page:}
			</div>
	    </div>

</body>
</html>

	
    

