<include file="Public/head"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Dealer/css/quotedprice.css">
</head>
<body>
	<header><a href="javascript:history.back();"></a>查看清单</header>
	<section class="container">
		<form action="<{:U('doGoodsAdd')}>" method="post" id='form1'>
		<div class="search-strip col-md-7 col-md-fr">
			<input type="text" id='key' name="" placeholder="产品名称/产品编码/产品型号">
			<button onclick='search()'>搜索</button>
		</div>
		<ul class="newadd-list">
			<?php foreach ($list as $k => $v): ?>
			<li>
				<p>产品名称：<{$v.name}></p>
				<p>产品型号：<{$v.model}></p>
				<p>分类：<{$type}></p>
				<div class="sys-item">数量
					<p class="fr btn-box">
						<span class="minusbtn">-</span>
						<span class="shownum"><input type="text" name="num[<{$v['id']}>]" value="0"></span>
						<span class="addbtn">+</span>

					</p>
				</div>
			</li>
			<?php endforeach ?>
			<script>
				//减法
				$('.minusbtn').click(function(){
					var num = Math.round(($(this).next().children().val()-1)*100)/100;
					if (num <= 0) var num = 0;
					$(this).next().children().val(num);
				})
				//加法
				$('.addbtn').click(function(){
					var num = parseFloat($(this).prev().children().val())+parseFloat(1);
					$(this).prev().children().val(num);
				})

				$('.shownum').children().change(function(){
					var num = $(this).val();
					if (num <= 0 || isNaN(num)) $(this).val(0);
				})
			</script>
		</ul>
        <div class="newaddbtn-box">
        	<input type="hidden" name="id" value='<{$_GET.id}>'>
        	<!-- <button class="fl newadd-submit">提交</button> -->
        	<a href="javascript:;" class="fl newadd-submit">提交</a>
        	<a href="javascript:history.back();" class="fr newadd-cancel">取消</a>
        </div>
        </form>
	</section>

	<include file="Public/foot"/>

	<script type="text/javascript">
		$('.newadd-submit').click(function(){
			$('#form1').submit();
		})

		function search(){
			var key = $('#key').val();
			var type = <{$_GET['type']}>;
			$.get('<{:U("search")}>',{'key':key,'type':type},function(re){
				$('.newadd-list').html(re);
			})
		}
	</script>
</body>
</html>