<include file="Public/head"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Dealer/css/quotedprice.css">
</head>
<body>
	<header><a href="javascript:history.back();"></a>查看清单</header>

	<section  class="container">
		<div class="list-mianji">
			<p class="sys-title">
				房屋面积
			</p>
			<p class="sys-item">
				<span class="col-xs-6 col-sm-4 col-md-3">使用面积: <{$areaAll}>㎡</span>
				<span class="col-xs-6 col-sm-4 col-md-3">建筑面积: <{$build}>㎡</span>
			</p>
			<?php for ($i=0; $i <count($houseArea) ; $i++) { ?>
		    <?php if ($i != 4 && $houseArea[$i]['0'] != '0'): ?>
		    <div class="offer-quote-02">
		        <p class="sys-item">
		            <?php foreach ($houseArea[$i] as $k => $v): ?>
		                <span class="col-xs-6 col-sm-4 col-md-3">
		                    <?php if ($i == 0){ ?>卧 &nbsp; 室
		                    <?php }elseif($i == 1){ ?>客 &nbsp; 厅
		                    <?php }elseif($i == 2){ ?>厨 &nbsp; 房
		                    <?php }elseif($i == 3){ ?>卫生间
		                    <?php }elseif($i == 5){ ?>阁 &nbsp; 楼
		                    <?php }elseif($i == 6){ ?>地下室
		                    <?php } ?>
		                    <{$k+1}>: &nbsp; <{$v}>㎡
		                </span>
		            <?php endforeach ?>
		        </p>
		        <div class="clear"></div>
		    </div>
		    <?php endif ?>
		    <?php } ?>

		</div>
		<div class="list-price">
			<p class="sys-title">
				产品报价
			</p>
			<p class="sys-item">
				主材费用
				<span class="sys-money">￥<{$data.zprice}>元</span>
			</p>
			<p class="sys-item">
				单价
				<span class="sys-money">￥<?= ceil($data['zprice']/$data['build']*100)/100?>元/㎡</span>
			</p>
			<p class="sys-item">
				辅材及施工费用
				<span class="sys-money">￥<?= $data['price']-$data['zprice']?>元</span>
			</p>
			<p class="sys-item">
				单价
				<span class="sys-money">￥<?= ceil(($data['price']-$data['zprice'])/$data['build']*100)/100?>元/㎡</span>
			</p>
		</div>
		<p class="main-title"><{$data.name}></p>
		<div class="list-sys">
			<form action="<{:U('editNum')}>" method="post">
			<?php foreach ($list as $k => $v): ?>
				<p class="sys-title"><{$type[$k]}>
					<?php if ($count==1): ?> 
						<a href="<{:U('goodsAdd',['type'=>$k,'id'=>$_GET['id']])}>" class="newadd-btn">新增</a>
					<?php endif ?>
				</p>
				<?php foreach ($v as $key => $val): ?>
					<p class="sys-item"><{$val['name']}></p>
					<div class="list-sysbox">
						<img src="<{$val['img']|getimage}>">
						<div>
							<p class="ell">产品编码：<{$val['sn']}></p>
							<p class="ell">产品型号：<{$val['model']}></p>
							<p class="ell">产品品牌：<{$val['brand']}></p>
							<p class="ell">标准数量：<{$val['num']}></p>
						</div>
					</div>
					<?php if ($count==1): ?>
						<div class="sys-item">数量
							<p class="fr btn-box">
								<span class="minusbtn">-</span>
								<span class="shownum">
									<input class='count' typeId="<{$k}>" num="<?= !empty($val['edit'])?$val['edit']:$val['num'] ?>" price="<{$val['price']}>" type="text" name="num[<{$val['id']}>]" value="<?= !empty($val['edit'])?$val['edit']:$val['num'] ?>">
								</span>
								<span class="addbtn">+</span>
							</p>
						</div>
					<?php endif ?>
				<?php endforeach ?>
				<p class="sys-item">
				总计金额
				<input type="hidden" id="count<{$k}>" value=''>
				<span class="sys-money">￥<span class='price<{$k}>'><?= ceil($money[$k])?></span></span>
			</p>
			
			<?php endforeach ?>
		</div>
		<input type="hidden" name="id" value="<{$_GET.id}>">
		<?php if ($count==1): ?>
			<button class="my-btm-btn">提交</button>
		<?php endif ?>
		</form>
	</section>
	
	<include file="Public/foot"/>

	<script type="text/javascript">
		//减法
		$('.minusbtn').click(function(){
			var num = Math.round(($(this).next().children().val()-1)*100)/100;
			if (num <= 0) var num = 0;
			$(this).next().children().val(num);
		})
		//加法
		$('.addbtn').click(function(){
			var num = parseFloat($(this).prev().children().val())+parseFloat(1);
			$(this).prev().children().val(num);
		})

		$('.shownum').children().change(function(){
			var num = $(this).val();
			if (num <= 0 || isNaN(num)) $(this).val(0);
		})
	</script>
</body>
</html>