
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css"/>
		<link rel="stylesheet" href="__PUBLIC__/css/zhuce.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/changepass.css" />
		<div class="zhuce">
			<div class="zhuce-con">
				<div class="zhuce-con-left"></div>
				<div class="zhuce-con-right div01">
					<li class="right-tit">找回密码</li>
					<li class="right-pub"><span></span><input type="text" id='tel' name='mobile_phone' onkeyup='checkmobilephones()' onchange='checkmobilephone()' placeholder="请输入手机号"><div id='telError'></div></li>
					<li class="right-yanzheng right-pub"><span></span><input type="text" id='msg' name='msg' onkeyup='msgs()' placeholder="请输入验证码"><button id="huoqu" type='button' onclick="fasong()">获取验证码</button><div id='msgError'></div></li>
					<li class="wancheng">
						<input type="button" onclick='buttons01()' value="下一步">
					</li>
				</div>
				<div class="zhuce-con-right div02" style='display:none;'>
					<li class="right-tit">找回密码</li>					
					<li class="right-pass right-pub"><span></span><input type="password" id='pass' name='password' onchange="checkpassword()" placeholder="请输入新密码"><div id='passError'></div></li>
					<li class="right-pass right-pub"><span></span><input type="password" id='repass' name='repassword' onkeyup='checkrepasswords()' onchange="checkrepassword()" placeholder="请再次输入密码"><div id='repassError'></div></li>
					<li class="wancheng">
						<input type="button" onclick='buttons()' id='button' value="完成">
					</li>
				</div>
			</div>
		</div>

		<div id="mask-bg">
        	<div class="verificationBox">
        		<p class="closeBtn" onclick="closebox()">x</p>
        		请输入图形验证码!
        		<div><input id="verifycode" type="text" name="verify" placeholder="请输入验证码"> <img id="img-ma" src="<{:U('verify')}>" onclick="this.src = '<{:U('verify')}>'"></div>
        		<a id="ma-sure-btn" href="javascript:;" onclick="gain()">确定</a>
        	</div>
        </div>

		<script>
		//TP验证码
		function mask(){
			var bgmask=$("#mask-bg");
			var imgcode=$("#img-ma");
			bgmask.show();
			// 获取
		}
		// 关闭弹出框
		function closebox(){
			verify();
			$("#mask-bg").hide();
		}
			function checkmobilephones(){
				var tel = $("#tel").val();
				if (tel.length==11) checkmobilephone();
			}

			function checkmobilephone(){
		        var re=/^[1][34578][0-9]{9}$/;
		        var tel = $("#tel").val();
		        var reg=new RegExp(re);
		        if(reg.test(tel)){
		             //判断手机号码是否注册过
		            $.post("<{:U('checkRegister')}>",{'tel':tel},function(data){
		                if(data==1){
		                    $("#telError").text("");
		                    result1 = true;
		                    var msg = $("#msg").val();
		                    if (msg.length==4) msgs();
		                }else{    
		                	$("#telError").text("您还未注册过");
		                    result1 = false;
		                }
		            })
		        }else if(tel==""){
		            $("#telError").text("请输入您的手机号码");
		            result1 = false;
		        }else{
		            $("#telError").text("请输入正确的手机号码");
		            result1 = false;
		        }
		    }

		    function checkpassword(){
		        var re=/^\w{6,15}$/;
		        var pass = $("#pass").val();
		        var reg=new RegExp(re);
		        if(reg.test(pass)){
		            $("#passError").text("");
		            result2 = true;
		            checkrepassword();
		        }else if(pass==""){ 
		            $("#passError").text("请输入您的密码！");
		            result2 = false;
		        }else{
		            $("#passError").text("请正确填写您的密码！");
		            result2 = false;
		        }
		    }

			function verify(){
		    	$('#verifycode').val('');
				$('#img-ma').attr('src','<{:U('verify')}>');
		    }

		    function checkrepasswords(){
		        var pass   = $("#pass").val();
		        var repass = $("#repass").val();
		        if (pass.length == repass.length) checkrepassword();
		    }

		    function checkrepassword(){
		        var pass   = $("#pass").val();
		        var repass = $("#repass").val();
		        if (pass != repass && repass != '') {
		        	$("#repassError").text("两次密码不一致请重新输入！");
		        	result3 = false;
		        }else{
		        	$("#repassError").text("");
		        	result3 = true;
		        }
		    }


		    function gain(){
				var tel=$("#tel").val();
				var veri = $("#verifycode").val();
				$.post('<{:U("message")}>',{'tel':tel,'verify':veri},function (data){
				  	if(data==1){
				  		closebox();
			     		daojishi();
					}else if(data==2){
						verify();
					}
			    })
			}

			function msgs(){
				var msg = $("#msg").val();
				if (msg.length==4) {
					var tel = $("#tel").val();
					$.post('<{:U("verification")}>',{'msg':msg,'tel':tel},function (data){
						if (data==1) {
							$("#msgError").text('');
							result4 = true;
						}else{
							$("#msgError").text(data);
							result4 = false;
						} 
				    })
				}else{
					result4 = false;
				}
			}
			
			function fasong(){
				if (result1 == true) {
					var y = $("#huoqu").html();
					if (y=='获取验证码' || y=='重新发送') {
						num=60;
						mask();
					}
				}
			}
			function daojishi(){
				num=num-1;
				$("#huoqu").css("background","url(__PUBLIC__/img/dumiao.jpg)");
				$("#huoqu").html(num+"S");
				if(num<1){
					$("#huoqu").html("重新发送");
				}else{
					setTimeout("daojishi()",1000);
				}
			}

			function buttons(){
				if (result1 == true && result2 == true && result3 == true && result4 == true) {
					var tel    = $("#tel").val();
					var pass   = $("#pass").val();
		        	var repass = $("#repass").val();
		        	var msg    = $("#msg").val();
					$.post("<{:U('doChangePass')}>",{'mobile_phone':tel,'password':pass,'repassword':repass,'msg':msg},function(data){
						if (data.info != undefined) alert(data.info);
						else window.location.href = data;
					})
				}
			}

			//验证验证码
			function buttons01(){
				if (result1 == true && result4 == true) {
					var tel = $("#tel").val();
		        	var msg = $("#msg").val();
					$.post("<{:U('verifyMsg')}>",{'mobile_phone':tel,'msg':msg},function(data){
						if (data==1){
							$('.div01').css('display','none');
							$('.div02').css('display','block');
						}
					})
				}
			}

			function keydown(e) {
				event=e||window.event;
				var currKey=event.keyCode||event.which||event.charCode;//支持IE、FF 
				if (currKey == 13) {
					buttons();
				}
			} 
			document.onkeydown = keydown;
			

			if ($("#tel").val() != '') 	checkmobilephone();
			if ($("#msg").val() != '') 	msgs();
		</script>
