<!-- 左边 -->
	<div class="clear"></div>
    
	<div class="user-left">
        <div class="user-left-01">
            <span>
              我的中心
            </span>
        </div>
        
        <div class="clear33"></div>
        
        <div class="user-left-03">    
            <span>
              订单管理
            </span>
        </div>
        
        <div class="user-left-02">      
            <span>
              健康舒适家居
            </span>
        </div>
    
        <div class="user-left-05">      
            <a href="__APP__/User/homeOrder.html" target="_blank">
              我的订单
            </a>
        </div>
    
        <div class="user-left-05">      
            <a href="__APP__/User/hEvaluateList.html">
              评价订单
            </a>
        </div>
         <div class="user-left-05">      
            <a href="__APP__/User/wxOrder.html">
              订单跟踪
            </a>
        </div>
        
        <div class="user-left-02">      
            <span>
              健康舒适建材
            </span>
        </div>
    
        <div class="user-left-05">      
            <a href="__APP__/User/euOrderList.html" target="_blank">
              我的订单
            </a>
        </div>
    
        <div class="user-left-05">      
            <a href="__APP__/User/euEvaluateList.html">
              评价订单
            </a>
        </div>
    
        <div class="user-left-03">      
            <span>
              关注中心
            </span>
        </div>
    
        <div class="user-left-02">      
            <a href="__APP__/User/concern">
              关注的商品
            </a>
        </div>    
    
        <div class="user-left-03">      
            <span>
              资产中心
            </span>
        </div>
    
        <div class="user-left-02">      
            <a href="__APP__/User/actCoulist.html">
              优惠券
            </a>
        </div>
        
        <!-- <div class="user-left-02">      
            <a href="__APP__/User/integral.html">
              积分
            </a>
        </div> -->
        
        
        <div class="user-left-03">      
            <span>
              售后服务
            </span>
        </div>
    
        <div class="user-left-02">      
            <a href="__APP__/User/upkeep.html">
				机电保养
            </a>			
        </div>
		<div class="user-left-02">      
            <a href="__APP__/User/consumable.html">
				机电耗材
            </a>			
        </div>
		<div class="user-left-02">      
            <a href="__APP__/User/maintain.html">
				机电维修
            </a>			
        </div>
        <div class="user-left-03">      
            <span>
              设置
            </span>
        </div>
        
        <div class="user-left-02">      
            <a href="<{:U('User/changePsd')}>">
              修改密码
            </a>
        </div>
    
        <div class="user-left-02">      
            <a href="<{:U('User/info')}>">
              个人信息
            </a>
        </div>
    
        <div class="user-left-02">      
            <a href="<{:U('User/address')}>">
              收货地址
            </a>
        </div>
  
  </div><!-- 左边 -->