<link rel="stylesheet"  type="text/css"  href="__PUBLIC__/css/user.css" ><!-- 个人中心页面调用CSS -->

<div class="user-center">
	<include file="User:left" />
	<div class="user-right">
		<ul class="user_wxorder-title">

			<li>
				<a  class="redfont" href="">订单详情</a>
			</li>
			<li>
				<a href="">查看清单</a>
			</li>
		</ul>
		
		<div class="wxlist-box">
			<p>选择系统</p>
			<div class="wxlist-listbox">
				<a href="wxListdetails.html">上品中央水处理系统</a>
				<a href="wxListdetails.html">上品中央水处理系统</a>
				<a href="wxListdetails.html">上品中央水处理系统</a>
				<a href="wxListdetails.html">上品中央水处理系统</a>
				
			</div>
			
			
		</div>

		
		<div class="clear3"></div>
	</div>
</div>