<link rel="stylesheet"  type="text/css"  href="__PUBLIC__/css/user.css" ><!-- 个人中心页面调用CSS -->

<div class="user-center">
	<include file="User:left" />
	<div class="user-right">
		<ul class="user_wxorder-title">

			<li>
				<a  class="redfont" href="">订单详情</a>
			</li>
			<li>
				<a href="">查看清单</a>
			</li>
		</ul>
		
		<div class="wxpersonnel-box">
			<div class="wxpersonnel-info">
				<img src="">
				<p>姓名：张师傅</p>
				<p>号码：15805199988</p>
			</div>
			<div class="wxpersonnel-imglist">
				<p>相关资质</p>
				<div class="wxpersonnel-imgbox">
					<img src="">
					<img src="">
					<img src="">
					<img src="">
				</div>
			</div>
			
		</div>

		
		<div class="clear3"></div>
	</div>
</div>