<link rel="stylesheet"  type="text/css"  href="__PUBLIC__/css/user.css" ><!-- 个人中心页面调用CSS -->

<div class="user-center">
	<include file="User:left" />
	<div class="user-right">
		<ul class="user_wxorder-title">

			<li>
				<a  class="redfont" href="<{:U('wxOrderdetails',['oid'=>$oid])}>">订单详情</a>
			</li>
			<li>
				<a href="<{:U('wxListdetails',['oid'=>$oid])}>">查看清单</a>
			</li>
		</ul>
		
		<div class="wxprocess-box">
			<?php foreach ($list as $key => $val): ?>
			<div class="wxprocess-imglist">
				<p class="wxprocess-time"><{$key}></p>
				<div class="wxprocess-imgbox">
					<?php foreach ($val as $k => $v): ?>
						<a href="<{:U('wxLook',['id'=>$v['id'],'oid'=>$oid])}>"><img src="<?= C('WECHAT_URL') ?>/Public/Uploads/<{$v.img}>" alt=""></a>
					<?php endforeach ?>
				</div>
			</div>
			<?php endforeach ?>
		</div>

		
		<div class="clear3"></div>
	</div>
</div>