<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>类型-添加</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- 当前位置 -->
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">商品类型</a></li>
            <li><a href="#">添加</a></li>
        </ul>
    </div>

    <form action="<{:U('insert')}>" method="post">
        <div class="formbody">
            <div class="formtitle"><span>基本信息</span></div>
            <ul class="forminfo">
                <!-- 类型名称 -->
                <li><label>类型名称</label><input name="name" type="text" class="dfinput" /><i>标题不能超过20个字符</i></li>

                <!-- 是否使用 -->
                <li><label>是否使用</label><cite><input name="is_use" type="radio" value="1" checked="checked" />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="is_use" type="radio" value="0" />否</cite></li>

                <!-- 添加按钮 -->
                <li><label>&nbsp;</label>
                <input name="class_id" type="hidden" value="2"/>
                <input name="" type="submit" class="btn" value="添加"/>
                </li>
            </ul>
        </div>
    </form>

</body>
</html>
