{:include file="header.tpl.html":}
<link rel="stylesheet" type="text/css" href="css/about.css"/>
<script type="text/javascript" src="js/huadongmen.js"></script><!--滑动门-->
<script type="text/javascript" src="./js/daohang_aboutus.js"></script><!--左侧菜单置顶-->

<!-- banner轮播图片+导航菜单 -->
<div class="index-box">
	{:include file="common/daohang.html":}
    <!--主导航end-->
    
    {:include file="category/category.tpl.html":}
</div>
<!-- banner轮播图片+导航菜单end -->

<div class="clear"></div>

<a name="a2"></a>
<div class="clear2"></div>
<div class="clear2"></div>

<!--中间-->
<div class="about-center">
	<div class="about-center-left">
    	<div class="about-center-left-nav">
        	<div class="about-center-left-nav-title">
            	<span>
                	关于我们
                </span>
            </div>
            
            <div class="about-center-left-nav-list">                        
                <div class="about-center-left-nav-list-demo02">
                    <a href="#a2" name="about_left_a2">
                        公司简介
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01">
                    <a href="#a3" name="about_left_a3">
                        业务范畴
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01">
                    <a href="#a4" name="about_left_a4">
                        发展历史
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01">
                    <a href="#a5" name="about_left_a5">
                        文化及价值观
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01">
                    <a href="#a6" name="about_left_a6">
                        品牌合作
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01">
                    <a href="#a7" name="about_left_a7">
                        开发商合作
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01">
                    <a href="#a8" name="about_left_a8">
                        设计安装服务网点
                    </a>  
                </div>
                
                <div class="about-center-left-nav-list-demo01">
                    <a href="#a1" name="about_left_a1">
                        企业成就
                    </a>  
                </div>
            </div>
        </div>
    </div>
	
    <div class="about-center-right">
    	<!--公司简介-->
        <div class="about-center-profile">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="images/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        公司简介
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear27"></div>
            
            <div class="about-center-profile-details">
            	<div class="clear27"></div>
                
                <div class="about-center-profile-details-left">
                    <div class="about-center-profile-details-left-img" style="margin-bottom:20px;">
                        <img src="images/20160428085627_424.jpg" />
                    </div>
                    
                    <div class="clear"></div>
                    
                    <div class="about-center-profile-details-left-logo">
                        <div class="about-center-profile-details-left-logo-demo">
                            <img src="images/1212.jpg"/>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="about-center-profile-details-right">
                    <div class="about-center-profile-details-right-bk">
                        <div >
                            <p>
                                乔孚舒适家居系统股份有限公司于2000年在上海成立，主要为中国家庭提供健康舒适类产品如：空调、采暖、热水、水处理、新风除霾、除湿、除尘、智能控制、安防监控等，其他还包括欧洲建材类产品、欧洲家居类产品、欧洲母婴类产品以及中国及欧洲的健康特色食品。
                            </p>
                            <p>
                                通过多年的发展，我们在健康舒适家居领域完成了冷、暖、热、水、风、湿、尘、智等全部产品的整合工作，同时在全国大部分地区有我们的销售安装服务商，能为全国各地的家庭提供优质的产品和良好的服务，在健康舒适家居领域我们处在全国领先地位。
                            </p>
                            <p>
                                乔孚旗下目前有三家全资子公司:
                            </p>
                            <p>
                                上品上生电子商务有限公司，主要负责线上的销售；
                            </p>
                            <p>
                                上海孚荣新能源科技有限公司，主要负责为中国知名的地产公司提供健康舒适家居产品；
                            </p>
                            <p>
                                德国霍孚圣公司，主要负责欧洲商品的研究及采购；
                            </p>
                            <p>
                                无论是过去还是未来，我们都致力于提升中国家庭的生活品质，就是让中国人住的健康舒适点、穿的体面点，吃的安全点，消费感觉好一点。
                            </p>
                            
                            <div class="clear"></div>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--公司简介end-->
        
        <a name="a3"></a>

        <div class="clear2"></div>
        <div class="clear2"></div>
        
        <!--业务范畴-->
        <div class="about-center-business">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="images/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        业务范畴
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear27"></div>
            
            <div class="about-center-business-list">
                <div class="about-center-business-list-demo">
                    <div class="about-center-business-list-demo-img">
                        <img src="images/36.jpg" />
                    </div>
                    
                    <div class="clear27"></div>
                    
                    <div class="about-center-business-list-demo-word">
                        2000年在上海成立，主要负责健康舒适家居产品的技术研发，产品整合，销售安装服务网络的构建，产品标准的制定、推广及培训工作。
                    </div>
                    
                    <div class="clear27"></div>
                    
                    <div class="about-center-business-list-demo-a" style="display: none">
                        <a href="javascript:;" >
                            了解详情
                        </a>
                    </div>
                </div>
                
                <div class="about-center-business-list-demo">
                    <div class="about-center-business-list-demo-img">
                        <img src="images/37.jpg" />
                    </div>
                    
                    <div class="clear27"></div>
                    
                    <div class="about-center-business-list-demo-word">
                        主要负责线上销售工作，包括空调、采暖、热水、水处理、新风除霾、除湿、除尘、智能控制、安防监控等健康舒适家居产品，其他还有欧洲建材类产品、欧洲家居类产品、欧洲母婴类产品以及中国及欧洲的健康特色食品等。
                    </div>
                    
                    <div class="clear27"></div>
                    
                    <div class="about-center-business-list-demo-a" style="display: none">
                        <a href="javascript:;" >
                            了解详情
                        </a>
                    </div>
                </div>
                
                <div class="about-center-business-list-demo">
                    <div class="about-center-business-list-demo-img">
                        <img src="images/38.jpg" />
                    </div>
                    
                    <div class="clear27"></div>
                    
                    <div class="about-center-business-list-demo-word">
                         主要负责为中国的知名房地产公司提供空调、采暖、热水水处理、新风除霾、除湿、除尘等健康舒适家居产品设计和安装工作，合作房地产包括万科、金地、华润、保利、招商、新世界、嘉华、凯德、鹏欣、江苏国信等知名地产公司。
                    </div>
                    
                    <div class="clear27"></div>
                    
                    <div class="about-center-business-list-demo-a" style="display: none">
                        <a href="javascript:;" >
                            了解详情
                        </a>
                    </div>
                </div>
                
                <div class="about-center-business-list-demo">
                    <div class="about-center-business-list-demo-img">
                        <img src="images/39.jpg" />
                    </div>
                    
                    <div class="clear27"></div>
                    
                    <div class="about-center-business-list-demo-word">
                        2013年在德国慕尼黑成立，主要负责欧洲商品的研究和引进工作。包括健康舒适家居类产品，欧洲建材类产品、欧洲家居类产品、欧洲母婴类产品、欧洲的健康特色食品等。
                    </div>
                    
                    <div class="clear27"></div>
                    
                    <div class="about-center-business-list-demo-a" style="display: none">
                        <a href="javascript:;" >
                            了解详情
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--业务范畴end-->

        <a name="a4"></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>
        
        <!--发展历史-->
        <div class="about-center-history">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="images/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        发展历史
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear27"></div>
            
            <div class="about-center-history-tabs"> 
                <ul class="tab_conbox" id="tab_conbox2">
                {:foreach $aboutus_list as $v:}
                    <li class="tab_con">
                        <div class="about-center-history-tabs-word">
                            <div class="about-center-history-tabs-word-bk">
                                {:$v['content']|htmlspecialchars_decode:}
                            </div>
                        </div>
                        
                        <div class="about-center-history-tabs-img">				
                            <img src="{:$v['image']:}" />					
                        </div>
                        
                        <div class="clear"></div>
                    </li>
                {:/foreach:}    
                    
                    <div class="clear"></div>
                </ul>
        
                <ul class="tabs" id="tabs2">
                {:foreach $aboutus_list as $v:}
                    <li>
                        <a href="javascript:;">
                            {:$v['title']:}
                        </a>
                    </li>  
                {:/foreach:}   
                      
                </ul>
                
                <div class="clear12"></div>
            </div>
        </div>    
        <!--发展历史end-->
        
        <a name="a5"></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>
        
        <!--文化及价值观-->
        <div class="about-center-culture">
            <div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="images/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        文化及价值观
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear27"></div>
            
            <div class="about-center-culture-list">
                <div class="about-center-culture-list-bk">
                    <div class="about-center-culture-list-demo">
                        <div class="about-center-culture-list-demo-title">
                            <div class="about-center-culture-list-demo-title-img">
                                <img src="images/40.jpg" />
                            </div>
                            
                            <div class="about-center-culture-list-demo-title-name">
                                愿景
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="about-center-culture-list-demo-word">
                            致力于提升中国家庭的生活品质
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="about-center-culture-list-demo">
                        <div class="about-center-culture-list-demo-title">
                            <div class="about-center-culture-list-demo-title-img">
                                <img src="images/41.jpg" />
                            </div>
                            
                            <div class="about-center-culture-list-demo-title-name">
                                目标
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="about-center-culture-list-demo-word">
                            用我们高品质的产品和服务，让中国家庭住的舒适点、穿的体面点、吃的安全点、感觉好一点！
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
                
                
            </div>
        </div>
        <!--文化及价值观-->
        
        <a name='a6'></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>

        <!--品牌合作-->
        <div class="about-center-banner">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="images/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        品牌合作
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear27"></div>
            
            <div class="about-center-banner-list">    
                {:foreach $cbrandList as $v:}
                <div class="about-center-banner-list-demo">
                	<a href="index.php?cbrandInfo&id={:$v['brand_id']:}" target="_blank" name="about_banner_{:$v['brand_id']:}">
                    	<img src="{:$v['logo']:}"/>
                    </a>
                </div>
                {:/foreach:}            
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--品牌合作end-->
                    
        <a name="a7"></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>
        
		<!--开发商合作-->
        <div class="about-center-editor">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="images/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        开发商合作
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear27"></div>                        
            
            <div class="about-center-editor-word"><!--此处为后台编辑器编辑内容-->
                <img src="images/1023.jpg"/>
            </div>
            
            <div class="clear"></div>
            
            <div class="about-center-title">
                <a href="index.php?developer" target='_black'>
                    查看案例
                </a>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--开发商合作end-->
        
        <a name="a8"></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>
        
        <!--服务网点-->
        <div class="about-center-editor">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="images/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        服务网点
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear27"></div>
            
            <div class="about-center-editor-word" align="center"><!--此处为后台编辑器编辑内容-->
                <img src="images/20160527065714_31086.jpg"/>
            </div>
            
            <div class="clear"></div>
        </div>
        <!--服务网点end-->
        
        <a name="a1"></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>
        
        <!--企业成就-->
        <div class="about-center-editor">
        	<div class="about-center-right-title">
                <div class="about-center-right-title-img">
                    <img src="images/1034.jpg">
                </div>
                
                <div class="about-center-right-title-span">
                    <span>
                        企业成就
                    </span>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear27"></div>
            
            <div class="about-center-editor-word"><!--此处为后台编辑器编辑内容-->
                <img src="images/20160428172036_61138.jpg"/>
                </br></br></br>
                <img src="images/20160520160820_21054.jpg"/>
                </br></br></br>
                <img src="images/1025.jpg"/>
                <!-- <img src="images/1026.jpg"/> -->
            </div>
            
            <div class="clear"></div>
        </div>
        <!--企业成就end-->
        
        <div class="clear2"></div>
	</div>  
        
    <div class="clear"></div>
</div>
<!--中间end-->

<div class="clear1"></div>
<div class="clear3"></div>

<!-- 底部列表 -->
{:include file="footer.tpl.html":}
<!-- 根部链接end -->

<!--标签切换-->
<script>
    function tabs(t,o,k,n,c){
	//console.log(t,o,k,n);
	$('.'+c+n).css('display','none');
	  for (var i = 0; i <  $('.'+c+n).length; i++) {
			
			 var di = document.getElementById(t+n+i); 
			di.className = 'colors'
	 };
    var div = document.getElementById(t+k); 
     $('#'+o+k).css('display','block') 
       div.className = 'colors2'
       
    }
</script>
<!--标签切换-->
<!--点击左导航更换颜色-->
<script>
$(function(){
    $(".about-center-left-nav-list-demo01").click(function(){
        $(this).removeClass("about-center-left-nav-list-demo01");
        $(this).addClass("about-center-left-nav-list-demo02");
        $(this).siblings().removeClass("about-center-left-nav-list-demo02");
        $(this).siblings().addClass("about-center-left-nav-list-demo01");
    });
});
$(function(){
    $(".about-center-left-nav-list-demo02").click(function(){
        $(this).removeClass("about-center-left-nav-list-demo01");
        $(this).addClass("about-center-left-nav-list-demo02");
        $(this).siblings().removeClass("about-center-left-nav-list-demo02");
        $(this).siblings().addClass("about-center-left-nav-list-demo01");
    });
});
</script>
<!--点击左导航更换颜色end-->


</body>
</html>