<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet"  type="text/css"  href="./css/deale_index.css" >
</head>

<body>
   <!--head头-->
	
		<div class="head">
		  <div class="head_top">
        	<div class="head_top_bk">
        		<a href="#">关于我们</a>
                <span>欢迎幻想之城</span>
                <a href="#">我的关注</a>
                <span>热线:4001070365</span>
          </div>
          
        </div>
		<div class="haed_01">
        
            </br>
        	<div class="haed_02"><h1><font>欢迎您</font>XXX公司</h1> <span>健康家</span> <span>舒适家</span> <span>幸福家</span></div>
        </div>
        <div class="daohang">
            <div class="nev">
                    <div class="nev_1">＞订单信息</div>
                    <div class="nev_2">
                        <ul>
	                         <a href="user.php?mycenter"><li style="padding-left:25px;">我的中心</li></a>
	                         <a href="user.php?mainmaterials"> <li>订单管理</li></a>
	                         <a href="user.php?aftersale"><li>售后管理</li></a>
	                         <li>账号</li>
	                         <a href="user.php?mysuggest"><li>意见反馈</li></a>
	                         <a href="user.php?passwordmanger"> <li>密码管理</li></a>
                        </ul>
                    </div>
            </div>
        </div>
   </div> 
   
   
   
    <!--head尾-->
    
    <!--ceonet中间头-->
        <div class="mima">
      	  <p>售后订单</p>
        </div>
          
           
        <div class="clear"></div>
        
      <div class="ceoney">   
      	<p><span>开始时间：</span><input -webkit-speech="" x-webkit-grammar="builtin:translate" type="text" style="color: rgb(196, 196, 196); " onfocus="if(this.value==this.defaultValue){this.value='';};this.style.color='black';" onblur="if(this.value==''){this.value=this.defaultValue;this.style.color='#c4c4c4';}" name="keyboard" value="时间选择器"></p>
        <p><span>结束时间：</span><input -webkit-speech="" x-webkit-grammar="builtin:translate" type="text" style="color: rgb(196, 196, 196); " onfocus="if(this.value==this.defaultValue){this.value='';};this.style.color='black';" onblur="if(this.value==''){this.value=this.defaultValue;this.style.color='#c4c4c4';}" name="keyboard" value="时间选择器"></p>
           <p class="biso">
                <span>结算状态：</span>
                 <select name="selectAge" class="xiala">   
                   <option value="1"><span>未结算</span></option>
                   <option value="3">未结算</option>   
                   <option value="4">30-35</option>   
                   <option value="5">Over35</option>   
                  </select>   
           </p>
            <div class="biso">
           <span>进度状态：</span>
           <select name="selectAge" class="xiala">   
               <option value="1">未结算</option>
               <option value="3">未结算</option>   
               <option value="4">30-35</option>   
               <option value="5">Over35</option>   
              </select>  
              </br>
             <input type="submit" value="搜索">
            </div>
          
      </div>   

            
              <div class="clear"></div>
              <div class="sez" id="sez_id">
                        <div class="sez_b">
                            <ul class="ul_1">
                                <li>订单号</li>
                                <li>联系人</li>
                                <li>电话</li>
                                <li>地址</li>
                            </ul>
                            <ul class="ul_2">
                                <li>跟单人</li>
                                <li>结算状态</li>
                                <li>进度状态</li>
                                <li>时间Ｖ</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">001</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">002</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">003</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">004</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">005</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                      
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">006</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                       </br>
                      <div class="lianjie"><a href="">上一页</a> <a href="">3</a> <a href="">2</a> <a href="">1</a> <a href="">下一页</a></div>
                      
                      
              </div>
                  
      </br>
                 <div class="texi" style=" background:#f7f38f;"><a href=""><p>维修工单</p></a></div>
              <div class="sez" id="sez_id">
                        <div class="sez_b">
                            <ul class="ul_1">
                                <li>订单号</li>
                                <li>联系人</li>
                                <li>电话</li>
                                <li>地址</li>
                            </ul>
                            <ul class="ul_2">
                                <li>跟单人</li>
                                <li>结算状态</li>
                                <li>进度状态</li>
                                <li>时间Ｖ</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">001</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">002</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">003</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">004</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">005</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                      
                        <div class="sez_c">
                            <ul class="ul_3">
                                <li class="bule">006</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li style="width:250px;">浦江镇联航路1188号20号楼C座103室</li>
                            </ul>
                            <ul class="ul_4">
                                <li>陈晨</li>
                                <li>未结算</li>
                                <li>已设计</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                        
                  	  </div>
                           </br>
                      <div class="lianjie"><a href="">上一页</a> <a href="">3</a> <a href="">2</a> <a href="">1</a> <a href="">下一页</a></div>
                      
                      
              </div>
       
        <div class="clear"></div>
           <!--ceonet中间结束-->
        
        
    
       <!-- 底部列表 -->
      
       
       
<div class="foot">
  <div class="foot-list">
    <div class="foot-list-gw">
      <div class="foot-list-gw-title">
        购物指南
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          购物流程
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          会员介绍
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          常见问题
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          联系客服
        </a>
      </div>
    </div>

    <div class="foot-list-gw">
      <div class="foot-list-gw-title">
        配送方式
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          国内配送
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          海外配送
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          标准配送
        </a>
      </div>


    </div>

   <div class="foot-list-gw">
      <div class="foot-list-gw-title">
        支付方式
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          在线支付
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          分期付款
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          邮局汇款
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          公司转账
        </a>
      </div>
    </div>

    <div class="foot-list-gw">
      <div class="foot-list-gw-title">
        售后服务
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          售后政策
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          退款说明
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          返修/退换货
        </a>
      </div>

      <div class="foot-list-gw-conner">
        <a href="#">
          取消订单
        </a>
      </div>
    </div>

  
    <div class="clear"></div>
  </div>
</div>
<!-- 底部列表end -->


<div class="clear"></div>

<!-- 根部链接 -->
<div class="root">
   <div class="root-center">
	  <div class="root-list">
	    <a href="#">
	      关于我们
	    </a>
	  </div>

	  <div class="root-list">
	    <a href="#">
	      联系我们
	    </a>
	  </div>

	  <div class="root-list">
	    <a href="#">
	      人才招聘
	    </a>
	  </div>

	  <div class="root-list">
	    <a href="#">
	      招商加盟
	    </a>
	  </div>

	  <div class="root-list">
	    <a href="#">
	      商务合作
	    </a>
	  </div>

	  <div class="root-list">
	    <a href="#">
	      友情链接
	    </a>
	  </div>

	  <div class="root-list">
	    <a href="#">
	      备案号码
	    </a>
	  </div>

	  <div class="root-list">
	    <a href="#">
	      各类证件
	    </a>
	  </div>

	  <div class="clear"></div>
   </div>
</div>
<!-- 根部链接end --> 
        
        
        
        
</body>
</html>
