<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link rel="stylesheet"  type="text/css"  href="css/deale1_index.css" >
</head>

<body>
   <!--head头-->
	<div class="head">
				  <div class="head_top">
        	<div class="head_top_bk">
        		<a href="#">关于我们</a>
                <span>欢迎幻想之城</span>
                <a href="#">我的关注</a>
                <span>热线:4001070365</span>
            </div>
        </div>
		<div class="haed_01">
        
            </br>
        	<div class="haed_02"><h1><font>欢迎您</font>XXX公司</h1> <span>健康家</span> <span>舒适家</span> <span>幸福家</span></div>
        </div>
        <div class="daohang">
            <div class="nev">
                    <div class="nev_1">＞账户余额</div>
                    <div class="nev_2">
                        <ul>
                            <li style="padding-left:25px;">我的中心</li>
                            <li>订单管理</li>
                            <li>售后管理</li>
                            <li>账号</li>
                            <li>意见反馈</li>
                            <li>密码管理</li>
                        </ul>
                    </div>
            </div>
        </div>
   </div> 
   
   
   
    <!--head尾-->
    
    <!--ceonet中间头-->
    <div class="clear3"></div>
    <div style=" width:100%; background:#ecf0f5; float:left;">
        <div class="zh_ye">
      	  <p><span>账户余额</span><a href="">申请提现</a></p>
        
      	  <div class="xiace">
              <span>总金额 &nbsp;(元) &nbsp;:<span style="color:#f00; text-align:left;margin-left: 0px;">￥38600</span> </span>
             <div class="mingzi">
             	<ul>
                	 <li>
              <a href ="javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
    订单详情</a>
    <div id="light" class="ping">
     <div class="white_content">
 <a style=" font-size:18px; border:none; color:#f00;" href="javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
退出</a>                 

					 
   <div class="yej">
  	<div class="timu"><h3>结算规则</h3></div>
  	<div class="zhzt">
     <ul>
    	<li>1.施工费为销售价格3%急计算</li>
        <li>2.合作伙伴利润为销售价格5%</li>
        <li>3.施工费用15%作为平台服务佣金</li>
        <li>4.施工费用85%分三次支付，第一次支付在深化设计后，占应付款20%，第二次支付占辅材施工后，占30%，第三次在主设备调试后，占应付款50%</li>
        <li>5.利润分配二次支付，第一次在辅材施工后，占应付款40%,第二次在主设备调试后，占应付款60%</li>
        <li>6.每次申请结算日为每月25号</li>
        <li>7.申请结算得到确认核实后，应将发票寄往新感觉财务部，在收到发票后，财务部给予转款</li>
    </ul>
    </div>
  </div>
 </div>
 </div>
   
    </li>
                     <li>
                                           
                   <a href ="javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                    申请结算</a>
                    <div id="light" class="ping">
                     <div class="white_content">
                 <a style=" font-size:36px; border:none; color:#f00;" href="javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
                ×</a>                 
                
                                     
                   <div class="yej">
                    <div class="timu"><h3>结算规则</h3></div>
                    <div class="zhzt">
                     <ul>
                        <li>1.施工费为销售价格3%急计算</li>
                        <li>2.合作伙伴利润为销售价格5%</li>
                        <li>3.施工费用15%作为平台服务佣金</li>
                        <li>4.施工费用85%分三次支付，第一次支付在深化设计后，占应付款20%，第二次支付占辅材施工后，占30%，第三次在主设备调试后，占应付款50%</li>
                        <li>5.利润分配二次支付，第一次在辅材施工后，占应付款40%,第二次在主设备调试后，占应付款60%</li>
                        <li>6.每次申请结算日为每月25号</li>
                        <li>7.申请结算得到确认核实后，应将发票寄往新感觉财务部，在收到发票后，财务部给予转款</li>
                    </ul>
                    </div>
                  </div>
                 </div>
                 </div>
                   
                    </li>
                 
           
                </ul>
             </div>
          </div>

        </div>
            
              <div class="zh_yueo">
                        <div class="zh_yuoe_1">
                            <ul class="gl_1">
                                <li>订单号</li>
                                <li>联系人</li>
                                <li>电话</li>
                                <li>跟单人</li>  
                                <li>结算状态</li>
                                <li>进度状态</li>
                                <li>结算金额</li>
                                <li>时间</li>
                            </ul>
                        
                  	  </div>
                        <div class="zh_yuoe_2">
                            <ul class="gl_3">
                                <li style="margin-left:0px;" class="bule">001</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li>陈晨</li>
                                <li>已结算</li>
                                <li>主设备完工</li>
                                <li>30000</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                              <ul class="gl_3">
                                <li style="margin-left:0px;" class="bule">001</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li>陈晨</li>
                                <li>已结算</li>
                                <li>主设备完工</li>
                                <li>30000</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                              <ul class="gl_3">
                                <li style="margin-left:0px;" class="bule">001</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li>陈晨</li>
                                <li>已结算</li>
                                <li>主设备完工</li>
                                <li>30000</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                               <ul class="gl_3">
                                <li style="margin-left:0px;" class="bule">001</li>
                                <li>扬波</li>
                                <li>02166859</li>
                                <li>陈晨</li>
                                <li>已结算</li>
                                <li>主设备完工</li>
                                <li>30000</li>
                                <li>2016.1.28 13:30</li>
                            </ul>
                             
                  	  </div>
                     <div class="chazhao">
         	 <a class="previous page" href=""> 下一页</a>
             <a href=""> 5</a>
             <a href=""> 4</a>
             <a href=""> 3</a>
             <a href=""> 2</a>
             <a href=""> 1</a>
             <a class="next page" href="">上一页</a>
           </div>
              </div>
               <div class="clear3"></div>
               
       
   
         
           <div class="zh_yueo">
         
      	  	<p class="msa_1">结算记录</p>
       
                        <div class="zh_yuoe_4">
                            <ul class="nl_1">
                                <li>时间</li>
                                <li>结算金额人</li>
                                <li>结算状态</li>
                            </ul>
                  	  </div>
                        <div class="zh_yuoe_5">
                            <ul class="nl_3">
                                <li>2016.1.22</li>
                                <li>30000</li>
                                <li>已结算</li>
                               
                            </ul>
                              <ul class="nl_3">
                                 <li>2016.1.22</li>
                                <li>30000</li>
                                <li>已结算</li>
                               
                              
                            </ul>
                              <ul class="nl_3">
                                 <li>2016.1.22</li>
                                <li>30000</li>
                                <li>已结算</li>
                           
                            </ul>
                            <ul class="nl_3">
                                <li>2016.1.22</li>
                                <li>30000</li>
                                <li>已结算</li>
                           
                            </ul>
                            <ul class="nl_3">
                               <li>2016.1.22</li>
                                <li>30000</li>
                                <li>已结算</li>
                           
                            </ul>
                            <ul class="nl_3">
                               <li>2016.1.22</li>
                                <li>30000</li>
                                <li>已结算</li>
                            </ul>
                           
                        
                  	  </div>
                     <div class="chazhao">
                         <a class="previous page" href=""> 下一页</a>
                         <a href=""> 5</a>
                         <a href=""> 4</a>
                         <a href=""> 3</a>
                         <a href=""> 2</a>
                         <a href=""> 1</a>
                         <a class="next page" href="">上一页</a>
                    </div>
              </div>
              
      </div>
           <!--ceonet中间结束-->
        
<div class="quanjiafu"><img src="images/input_03.jpg" /></div>
    
    <!--footer 头-->
    
    
    <div class="footer">
    	<div class="guild">
        	<ul>
            	<a href=""><li class="msg" style="color:#000;">购物指南 </li></a>
                <a href=""><li>购物流程</li></a>
            	<a href=""><li>会员介绍</li></a>
                <a href=""><li>常见问题</li></a>
                <a href=""><li>联系客服</li></a>
            </ul>
            <ul>
            	<a href=""><li class="msg" style="color:#000;">配送方式 </li></a>
                <a href=""><li> 国内配送</li></a>
                <a href=""><li> 海外配送</li></a>
                <a href=""><li> 配送标准</li></a>
                
            </ul>
              <ul>
            	<a href=""><li class="msg" style="color:#000;">支付方式 </li></a>
                <a href=""><li>在线支付</li></a>
                <a href=""><li>分期付款</li></a>
                <a href=""><li>邮局汇款</li></a>
                <a href=""><li>公司转账</li></a>
            </ul>
              <ul>
            	<a href=""><li class="msg" style="color:#000;"> 售后服务 </li></a>
                <a href=""><li> 售后政策</li></a>
                <a href=""><li> 退款说明</li></a>
                <a href=""><li style=" margin-left:14px;"> 返修／退换货</li></a>
                <a href=""><li> 取消订单</li></a>
            </ul>
        </div>
    </div>
    
   	 <div class="friendlink">
             <ul>
                <a href=""><li style="margin-left:93px;">关于我们 </li></a>
                <a href=""><li>联系我们</li></a>
                <a href=""><li>人才招聘</li></a>
                <a href=""><li>招商加盟</li></a>
                <a href=""><li>商务合作</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>备案号</li></a>
                <a href=""><li>各类证</li></a>
            </ul>
 	 </div>
    

</body>
</html>

