{:include file="header.tpl.html":}
<style>
	body{background-color:#f6f6f6;}
</style>
<!-- head头部end -->
<div class="clear"></div>

<!-- banner轮播图片+导航菜单 -->
<div class="index-box">
	{:include file="common/daohang.html":}
    <!--主导航end-->
    
    {:include file="category/category.tpl.html":}
</div>
<!-- banner轮播图片+导航菜单end -->

<div class="clear27"></div>



<div style="width:1100px;margin:0 auto;text-align:center;">
</br></br>
	<img src="images/eu0.png"></br></br></br>
	<img src="images/eu1.png"></br></br></br>
	<img src="images/eu2.png"></br></br></br>
	<img src="images/eu3.png"></br></br></br>
	<img src="images/eu4.png"></br></br></br>
	<img src="images/eu5.png"></br></br></br>
	<img src="images/eu6.png"></br></br></br>
	<img src="images/eu7.png"></br></br></br>
	<img src="images/eu8.png"></br></br></br>
</div>
<div class="clear34"></div>
{:include file="footer.tpl.html":}

</body>
</html>