{:include file="header.tpl.html":}
<link rel="stylesheet"  type="text/css"  href="css/euindex.css" ><!-- 欧洲团代购tuan页面调用CSS -->

<script type="text/javascript" src="./js/daohang_euindex.js"></script><!--左侧菜单置顶-->

<!-- head头部end -->
<div class="clear"></div>

<a name="a2"></a>

<!-- banner轮播图片+导航菜单 -->
<div class="index-box"> 
	{:include file="common/daohang.html":}
    <!--主导航end-->
    
    {:include file="category/category.tpl.html":}
</div>
<!-- banner轮播图片+导航菜单end -->


<div class="clear2"></div>
<div class="clear2"></div>

<!--中间-->
<div class="euindex-center">
	<div class="euindex-center-left">
    	<div class="euindex-center-left-nav">
        	<div class="euindex-center-left-nav-title">
            	<span>
                	欧洲建材代购
                </span>
            </div>
            
            <div class="euindex-center-left-nav-list">                        
                <div class="euindex-center-left-nav-list-demo02">
                    <a href="#a2" name="euindex_left_a2">
                        代购概念
                    </a>  
                </div>
                
                <div class="euindex-center-left-nav-list-demo01">
                    <a href="#a3" name="euindex_left_a3">
                        如何计价
                    </a>  
                </div>
                
                <div class="euindex-center-left-nav-list-demo01">
                    <a href="#a4" name="euindex_left_a4">
                        运输方式
                    </a>  
                </div>
                
                <div class="euindex-center-left-nav-list-demo01">
                    <a href="#a5" name="euindex_left_a5">
                        卫浴
                    </a>  
                </div>
                
                <div class="euindex-center-left-nav-list-demo01">
                    <a href="#a6" name="euindex_left_a6">
                        厨房
                    </a>  
                </div>
                
				<div class="euindex-center-left-nav-list-demo01">
                    <a href="#a1" name="euindex_left_a1">
                        合作品牌
                    </a>  
                </div>
               
            </div>
        </div>
    </div>
    
    
	
    <div class="euindex-center-right">
    	<div class="euindex-center-right-title">
        	<div class="euindex-center-right-title-img">            
            	<img src="images/1034.jpg">
            </div>
            
            <div class="euindex-center-right-title-span" >

            	<span>
                	代购概念
                </span>
            </div>
            
            <div class="clear"></div>
        </div>

        
        <div class="clear2"></div>
        
        <div class="euindex-center-right-word"><!--后台html编辑器编辑内容-->
        	为了满足大部分家庭对欧洲商品的需求，”上海上品上生电子商务有限公司”就欧洲商品特别设立了代购服务，<br />
			我们在德国有专业的采购团队，目前就家居，卫浴类产品进行专项采购，其中采购的品牌有独家代理Jado和市场<br />
			上采购的多个著名厨房卫浴品牌。我们的商品均采用明码标价，利润透明，商品均来自欧洲当地，渠道可供消费<br />
			者查询，清关，运输费用罗列清晰，确保每一位客户消费的明明白白，放心购买！
                        
			<div class="clear"></div>             
        </div>
        
        <a name="a3"></a>

        <div class="clear2"></div>
        <div class="clear2"></div>
        
        <div class="euindex-center-right-title">

        	<div class="euindex-center-right-title-img">
            	<img src="images/1034.jpg">
            </div>
            
            <div class="euindex-center-right-title-span">
            	<span>
                	如何计价
                </span>
            </div>
            
            <div class="clear"></div>
        </div>
        

        <div class="clear2"></div>
        
        <div class="euindex-center-right-word"><!--后台html编辑器编辑内容-->
        	网站销售价格 =采购价 ( 欧元 ) +  关税 + 增值税17%  +运费 + 服务费15%<br />
            服务费包括：仓储费用 + 包装费用 + 清关费 + 其他各项杂费<br />
            关税=（货款+海运费+保险费）*关税率 <br />
            增值税=（货款+海运费+保险费+关税）*17% 
            
			<div class="clear"></div>
             
        </div>

        <a name="a4"></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>
        
        <div class="euindex-center-right-title">
        	<div class="euindex-center-right-title-img">
            	<img src="images/1034.jpg">
            </div>
            
            <div class="euindex-center-right-title-span">
            	<span>
                	运输方式
                </span>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear2"></div>
        
        <div class="euindex-center-right-word"><!--后台html编辑器编辑内容-->
        	空运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;海运
            
			<div class="clear"></div>
        </div>
        
        <div class="clear2"></div>
        
        <div class="euindex-center-right-title">
        	<div class="euindex-center-right-title-img">
            	<img src="images/1034.jpg">
            </div>
            
            <div class="euindex-center-right-title-span">
            	<span>
                	其他
                </span>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
        <div class="euindex-center-right-word"><!--后台html编辑器编辑内容-->
        	<img src="images/1057.jpg" style="margin-left:355px;margin-top:20px;"><br />
        	德国霍孚圣公司2013年在德国慕尼黑成立，主要负责欧洲商品的研究和引进工作。包括健康舒适家居类产品，欧洲建材类产品、<br />
			欧洲家居类产品、欧洲母婴类产品、欧洲的健康特色食品等。
            
			<div class="clear"></div>             
        </div>
        
        <a name="a5"></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>
        
        <div class="euindex-center-right-title">
        	<div class="euindex-center-right-title-img">
            	<img src="images/1034.jpg">
            </div>
            
            <div class="euindex-center-right-title-span">
            	<span>
                	卫浴
                </span>
            </div>
            
            <div class="clear"></div>
        </div>
      <div class="clear"></div>
        {:foreach $f2 as $k=>$v:}
        <div class="euindex-center-floor">
        	<div class="euindex-center-floor-title">
            	{:$v['name']:}
                <a name=""></a>
                
                <a href="eugroup.php#a1" style="text-align:right; float:right;" name="eugroup_a1">
                	更多
                </a>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>

            <div class="euindex-center-floor-tabs">
            	<div>
                    <ul class="promenu">
                        {:foreach $v['list'] as $ke=>$va:}                 
                        <li>
                            <a name="list_{:$ke+1:}" href="javascript:;"  {:if $ke eq 0:}class="colors2"{:else:}class="colors"{:/if:} id="tabs{:$k:}{:$ke:}" onclick="tabs('tabs','tabs-','{:$k:}{:$ke:}','{:$k:}','none')">
                            	{:$va['name']:}
                            </a>
                        </li>  
                        {:/foreach:}
                    </ul>
                    
                    <div class="clear15"></div>
                    
                    {:foreach $v['list'] as $ke=>$va:}
                    <div  id="tabs-{:$k:}{:$ke:}" class="none{:$k:}" {:if $ke neq 0:}style="display:none;"{:/if:}>
                        <div class="euindex-center-floor-tabs-list" >
                            <div class="euindex-center-floor-tabs-list-bk">
                            	{:foreach $va['goods'] as $key=>$val:} 
                                <div class="euindex-center-floor-tabs-list-demo">
                                    <div class="euindex-center-floor-tabs-list-demo-img">
                                    	<div class="euindex-center-floor-tabs-list-demo-img-01">
                                        	<a href="goods.php?id={:$val['id']:}"  target="_blank" name="euindex_goods_{:$val['id']:}">
                                                <img src="{:$val['face_image']:}"/>
                                            </a>
                                        </div>
                                        
                                        <div class="euindex-center-floor-tabs-list-demo-img-02">
                                        	<div class="euindex-center-floor-tabs-list-demo-img-02-left">
                                            	<div class="euindex-center-floor-tabs-list-demo-img-02-left-a">
                                                	<a href="goods.php?id={:$val['id']:}" target="_blank" name="euindex_goods_{:$val['id']:}">
                                                        了解更多
                                                    </a>
                                                </div>
                                            	
                                                <div class="euindex-center-floor-tabs-list-demo-img-02-left-img">
                                                	<a href="goods.php?id={:$val['id']:}" target="_blank" name="euindex_goods_{:$val['id']:}">
                                                        
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <div class="euindex-center-floor-tabs-list-demo-img-02-right">
                                            	<a href="goods.php?id={:$val['id']:}" target="_blank" name="euindex_goods_{:$val['id']:}">
                                                    -{:$val['sale']:}
                                                </a>
                                            </div>
                                            
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="clear"></div>
                                    
                                    <div class="euindex-center-floor-tabs-list-demo-name" title="{:$val['goods_title']:}">
                                        <a href="goods.php?id={:$val['id']:}" target="_blank" name="euindex_goods_{:$val['id']:}">
                                            {:$val['goods_title']:}
                                        </a>
                                    </div>
                                    
                                    <div class="clear"></div>
                                    
                                    <div class="euindex-center-floor-tabs-list-demo-euro_original">
                                    	欧洲原价 {:$val['market_price']:}€
                                    </div>
                                    
                                    <div class="clear"></div>
                                    
                                    <div class="euindex-center-floor-tabs-list-demo-euro_discount">
                                    	欧洲折扣价
                                        <span> {:$val['purchase']:}€</span>
                                    </div>
                                    
                                    <div class="clear"></div>
                                    
                                    <div class="euindex-center-floor-tabs-list-demo-renminbi_discount">
                                    	人民币
                                        <span>¥{:$val['total1']:}</span>
                                    </div>
                                    
                                    <div class="clear"></div>                                                         
                                </div>
                            	{:/foreach:}    
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>    
                   {:/foreach:}  
                </div>
            </div>
        </div>
        
        <div class="clear"></div>
        {:/foreach:}
        
        <a name='a6'></a>
        
        <div class="clear2"></div>
        <div class="clear2"></div>

        <div class="euindex-center-right-title">
            <div class="euindex-center-right-title-img">
                <img src="images/1034.jpg">
            </div>
            
            <div class="euindex-center-right-title-span">
                <span>                
                    厨房
                </span>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        {:foreach $f1 as $k=>$v:}
        <div class="euindex-center-floor">
            <div class="euindex-center-floor-title">
                {:$v['name']:}
                <a name=""></a>
                
                <a href="eugroup.php#a2" style="text-align:right; float:right;" name="eugroup_a2">
                    更多
                </a>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
            
            <div class="euindex-center-floor-tabs">
                <div>
                    <ul class="promenu">
                        {:foreach $v['list'] as $ke=>$va:}                 
                        <li>
                            <a name="list_{:$ke+2:}" href="javascript:;"  {:if $ke eq 0:}class="colors2"{:else:}class="colors"{:/if:} id="tabss{:$k:}{:$ke:}" onclick="tabs('tabss','tabss-','{:$k:}{:$ke:}','{:$k:}','nones')">
                                {:$va['name']:}
                            </a>
                        </li>  
                        {:/foreach:}
                    </ul>
                    
                    <div class="clear15"></div>
                    
                    {:foreach $v['list'] as $ke=>$va:}
                    <div id="tabss-{:$k:}{:$ke:}" class="nones{:$k:}" {:if $ke neq 0:}style="display:none;"{:/if:}>
                        <div class="euindex-center-floor-tabs-list" >
                            <div class="euindex-center-floor-tabs-list-bk">
                            	{:foreach $va['goods'] as $key=>$val:} 
                                <div class="euindex-center-floor-tabs-list-demo"><!--只要循环3个-->
                                    <div class="euindex-center-floor-tabs-list-demo-img">
                                        <div class="euindex-center-floor-tabs-list-demo-img-01">
                                            <a href="goods.php?id={:$val['id']:}" name="euindex_goods_{:$val['id']:}">
                                                <img src="{:$val['face_image']:}"/>
                                            </a>
                                        </div>
                                        
                                        <div class="euindex-center-floor-tabs-list-demo-img-02">
                                            <div class="euindex-center-floor-tabs-list-demo-img-02-left">
                                                <div class="euindex-center-floor-tabs-list-demo-img-02-left-a">
                                                    <a href="goods.php?id={:$val['id']:}" target="_blank" name="euindex_goods_{:$val['id']:}">
                                                        了解更多
                                                    </a>
                                                </div>
                                                
                                                <div class="euindex-center-floor-tabs-list-demo-img-02-left-img">
                                                    <a href="goods.php?id={:$val['id']:}" target="_blank" name="euindex_goods_{:$val['id']:}">
                                                        
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <div class="euindex-center-floor-tabs-list-demo-img-02-right">
                                                <a href="goods.php?id={:$val['id']:}" target="_blank" name="euindex_goods_{:$val['id']:}">
                                                    -{:$val['sale']:}
                                                </a>
                                            </div>
                                            
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="clear"></div>
                                    
                                    <div class="euindex-center-floor-tabs-list-demo-name" title="{:$val['goods_title']:}">
                                        <a href="goods.php?id={:$val['id']:}" target="_blank" name="euindex_goods_{:$val['id']:}">
                                            {:$val['goods_title']:}
                                        </a>
                                    </div>
                                    
                                    <div class="clear"></div>
                                    
                                    <div class="euindex-center-floor-tabs-list-demo-euro_original">
                                        欧洲原价 {:$val['market_price']:}€
                                    </div>
                                    
                                    <div class="clear"></div>
                                    
                                    <div class="euindex-center-floor-tabs-list-demo-euro_discount">
                                        欧洲折扣价
                                        <span> {:$val['purchase']:}€</span>
                                    </div>
                                    
                                    <div class="clear"></div>
                                    
                                    <div class="euindex-center-floor-tabs-list-demo-renminbi_discount">
                                        人民币
                                        <span>¥{:$val['total1']:}</span>
                                    </div>
                                    
                                    <div class="clear"></div>                                                         
                                </div>
                            	{:/foreach:}    
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>    
                   {:/foreach:}  
                </div>
            </div>
        </div>
        
        <div class="clear"></div>
        {:/foreach:}
		<a name="a1"></a>
        
        <div class="clear2"></div>
        
        <div class="euindex-center-right-title">
        	<div class="euindex-center-right-title-img">
            	<img src="images/1034.jpg">
            </div>
            
            <div class="euindex-center-right-title-span">
            	<span>
                	合作品牌
                </span>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear2"></div>
         
        <div class="euindex-center-right-banner">
        	<div class="euindex-center-right-banner-list">
                {:foreach $cbrandList as $v:}
            	<div class="euindex-center-right-banner-list-demo">
                	<img src="{:$v['logo']:}">
                </div>
                {:/foreach:}   
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
            
            <div class="euindex-center-right-banner-more">
            	<a href="eugroup.php?developer" target="_blank" name="euindex_banner_developer">
                	<img src="images/1041.jpg">
                </a>
            </div>
        </div>
    </div>
    
    <div class="clear"></div>
</div>
<!--中间end-->

<div class="clear1"></div>
<div class="clear3"></div>

<!-- 底部列表 -->
{:include file="footer.tpl.html":}
<!-- 根部链接end -->

<!--标签切换-->
<script>
    function tabs(t,o,k,n,c){
	//console.log(t,o,k,n);
	$('.'+c+n).css('display','none');
	  for (var i = 0; i <  $('.'+c+n).length; i++) {
			
			 var di = document.getElementById(t+n+i); 
			di.className = 'colors'
	 };
    var div = document.getElementById(t+k); 
     $('#'+o+k).css('display','block') 
       div.className = 'colors2'
       
    }
</script>
<!--标签切换-->

<!--点击左导航更换颜色-->
<script>
$(function(){
    $(".euindex-center-left-nav-list-demo01").click(function(){
        $(this).removeClass("euindex-center-left-nav-list-demo01");
        $(this).addClass("euindex-center-left-nav-list-demo02");
        $(this).siblings().removeClass("euindex-center-left-nav-list-demo02");
        $(this).siblings().addClass("euindex-center-left-nav-list-demo01");
    });
});
$(function(){
    $(".euindex-center-left-nav-list-demo02").click(function(){
        $(this).removeClass("euindex-center-left-nav-list-demo01");
        $(this).addClass("euindex-center-left-nav-list-demo02");
        $(this).siblings().removeClass("euindex-center-left-nav-list-demo02");
        $(this).siblings().addClass("euindex-center-left-nav-list-demo01");
    });
});
</script>
<!--点击左导航更换颜色end-->
</body>
</html>