<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="format-detection" content="telephone=no,email=no,adress=no" />
<META HTTP-EQUIV="luxiaoqing" CONTENT="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<link rel="stylesheet" type="text/css" href="./css/regsiter.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script src="js/jquery-1.11.3.js" type="text/javascript"></script><!-- 通用Jquery -->

<script type="text/javascript" src="./js/"></script>

<title>用户登录</title>
</head>

<body>

<div class="user_findpassword-top">
    <div class="user_findpassword-top-bk">
        <div class="user_findpassword-top-logo">
            <a href="index.php">
                <img src="./images/logo6.png" />
            </a>
        </div>
        
        <div class="user_findpassword-top-span">
            <span>
                致力于提升中国家庭的生活品质
            </span>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="user_findpassword-center">
	<div class="clear30"></div>
    
	<div class="user_findpassword-center-bk">
        <div class="user_findpassword-center-left">
            <img src="./images/972.jpg" />
        </div>
        
        <div class="user_findpassword-center-right">
        	<div class="user_findpassword-center-right-top">
            	<div class="user_findpassword-center-right-top-span">
                	找回密码
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
            
            <input type="hidden" id="find" value="{:if !empty($smarty.get.findpassword):}{:$smarty.get.findpassword:}{:/if:}"/>
			<form action="user.php?dofindpassword" method="post">
            	<div class="user_findpassword-center-right-demo01">
                	<div class="user_findpassword-center-right-demo01-01">
                    	输入新密码：
                    </div>
                    
                    <div class="user_findpassword-center-right-demo01-02">
                    	<input id="ipassword" name="pass" type="password" value="" onblur='password(1)'/>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
                
                <div class="user_findpassword-center-right-demo02">
                	<span id="password">
                    	
                    </span>
                </div>
                
                <div class="clear"></div>
                
                <div class="user_findpassword-center-right-demo01">
                	<div class="user_findpassword-center-right-demo01-01">
                    	确认密码：
                    </div>
                    
                    <div class="user_findpassword-center-right-demo01-02">
                    	<input id="irepassword" name="rpass" type="password" value=""  onblur="password(2)"/>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
                
                <div class="user_findpassword-center-right-demo02">
                	<span id="repassword">
                    	
                    </span>
                </div>
                
                <div class="clear"></div>
                
                <div class="user_findpassword-center-right-demo01">
                	<div class="user_findpassword-center-right-demo01-01">
                    	手机号码：
                    </div>
                    
                    <div class="user_findpassword-center-right-demo01-02">
                    	<input id="mobile_phone"  onblur="password(3)" name="number_sj" type="text" value="" />
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
                
                <div class="user_findpassword-center-right-demo02">
                	<span id="tel">
                    	
                    </span>
                </div>
                
                <div class="clear"></div>
                
                <div class="user_findpassword-center-right-demo03">
                	<div class="user_findpassword-center-right-demo03-01">
                    	短信验证码：
                    </div>
                    
                    <div class="user_findpassword-center-right-demo03-02">
                    	<input id="msg" onblur="password(4)" name="msg" type="text" value="" />
                    </div>
                    
                    <div class="user_findpassword-center-right-demo03-03">
                    	<input id="btn" type="button" onclick="gain(this)" value="获取短信验证码"/>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
                
                <div class="user_findpassword-center-right-demo02">
                	<span id='code'>
                    	
                    </span>
                </div>
                
                <div class="clear"></div>
                
                <div class="user_findpassword-center-right-submit">
                	<input type="button" id="button" onclick="button1()" value="完成"/>
                </div>
                
                <div class="clear36"></div>
            </form>
        </div>
        
        <div class="clear"></div>
    </div>
    
    <div class="clear2"></div>
</div>

<div class="clear"></div>

<script>
	jQuery(document).ready(function($) {
		try{
			var f1 = $('.jumbotron[data-slide="1"]').offset().top;
			var fs = $('.navigation').children().size();
			var fss = new Array();
			for (i = 0; i < fs; i++) {
				j = i + 1;
				fss[i] = $('.jumbotron[data-slide="' + j + '"]').offset().top;
			}



			$(window).scroll(function(){
				var currentTOP = $(window).scrollTop();
				if(currentTOP>f1-30){
					$("#skipfloor").show();
				}else{
					$("#skipfloor").hide();
				}
				if (currentTOP <= f1) {
					$('.navigation a').removeClass('sel');
					$('.navigation a[data-slide="1"]').addClass('sel');
					return;
				}else{
					changefl(getFloor(currentTOP));
				}
			});


			function getFloor(fh){
				if(fs==0||fh<=f1){
					return 1;
				}
				if(fh>=fss[fs-1]){
					return fs;
				}
				for (k=0; k<fs;k++) {
					if(fh>fss[k]&&fh<fss[k+1]){
						return k+1;
					}
				}
			}

			function changefl(fno){
				$('.navigation a').removeClass('sel');
				$('.navigation a[data-slide="'+fno+'"]').addClass('sel');
			}

		}catch(e){
			console.log(e);
		}
	});

	function gotop() {
		$('body,html').animate({
			scrollTop : 0
		}, 800);
	}
	function gotofloor(thiz) {
		$("a[class='sel']").attr('class', '');
		$(thiz).attr("class", "sel");
		dataslide = $(thiz).attr('data-slide');
		var pos = $('.jumbotron[data-slide="' + dataslide + '"]').offset().top;// 获取该点到头部的距离
		$("html,body").animate({
			scrollTop : pos
		}, 800);
	}
</script>

<!-- 楼层定位end -->


<script type="text/javascript">
	//验证码
	function gain(){
		var wait=60;
		var tel=$("#mobile_phone").val();
		var btn=$("#btn").val();
		var re=/^[1][34578][0-9]{9}$/;
		var reg=new RegExp(re);
		if(reg.test(tel)){ 
			//判断手机号码是否注册过
			$.post('user.php?checkRegister1',{usermobile_phone:tel},function(data){
				if(data==1){
					$("#span_mobile_phone").text("");
					$("#span_mobile_phone").css("display","none");
					$.post('user.php?message',{tel:tel},function (data){
					  	if(data==1){
				     		time();
						}
				    })
				}else{
					$("#span_mobile_phone").text("该手机号未注册过");
					$("#span_mobile_phone").css("display","block");
				}
			})
		}else if(tel==""){
		  	$("#span_mobile_phone").text("请输入您的手机号码");
		  	$("#span_mobile_phone").css("display","block");
		}else{
		  	$("#span_mobile_phone").text("输入的手机号码格式不对，请重新输入");
		  	$("#span_mobile_phone").css("display","block");
		}
		
	}

	var wait=60;
	function time() {
		var o = document.getElementById('btn');
		if (wait == 0) {
			o.removeAttribute("disabled");
			o.value="免费获取验证码";
			wait = 60;
		} else {
			o.setAttribute("disabled", true);
			o.value="重新发送(" + wait + ")";
			wait--;
			setTimeout(function() {
				time()
			},1000)
		}
	}
</script>
<script>
	function password(o){
		if (o==1) {
			var pass = $('#ipassword').val();
			var re=/^\w{6,15}$/;
	        var reg=new RegExp(re);
	        if(reg.test(pass)){
	            $("#password").text("");
	            Checkpassword=true;
	        }else if(pass==""){ 
	            $("#password").text("请输入您的密码！");
	            Checkpassword=false;
	        }else{
	            $("#password").text("请正确填写您的密码！");
	            Checkpassword=false;
	        }
	        
		}

		if (o==2) {
			var pass = $('#ipassword').val();
			var repass = $('#irepassword').val();
			var re=/^\w{6,15}$/;
	        var reg=new RegExp(re);
	        if(reg.test(repass) && repass==pass){
	            $("#repassword").text("");
	            reCheckpassword=true;
	        }else if(reg.test(repass) && repass!=pass){ 
	            $("#repassword").text("2次密码不一致!");
	            reCheckpassword=false;
	        }else if(repass==""){ 
	            $("#repassword").text("请输入您的密码！");
	            reCheckpassword=false;
	        }else{
	            $("#repassword").text("请正确填写您的密码！");
	            reCheckpassword=false;
	        }
	        
		}

		if (o==3) {
			var tel = $('#mobile_phone').val();
			var re=/^1[34578]\d{9}$/;
	        var reg=new RegExp(re);
	        if(reg.test(tel)){
	            $.get("user.php?dotel",{"tel":+tel},function(data){
					if (data==1) {
						$("#tel").text("手机号码与验证时的不一致");
					}
					if (data==2) {
						$("#tel").text("该手机未注册");
					}
					if(data==3){
						Checktel=true;
						$("#tel").text("");
					}
				})
	        }else if(tel==""){ 
	            $("#tel").text("请输入您的手机号码！");
	            Checktel=false;
	        }else{
	            $("#tel").text("请正确填写您的手机号码！");
	            Checktel=false;
	        }
	        
		}
		
		if (o==4) {
			var msg = $('#msg').val();
			var re=/^\w{4}$/;
	        var reg=new RegExp(re);
	        if(reg.test(msg)){
	            $.get("user.php?domsg",{"msg":+msg},function(data){
					if (data==1) {
						$("#code").text("验证码错误");
					}
					if (data==2) {
						$("#code").text("请获取验证码");
					}
					if(data==3){
						Checkmsg=true;
						$("#code").text("");
					}
				})
	        }else if(msg==""){ 
	            $("#code").text("请输入验证码！");
	            Checkmsg=false;
	        }else{
	            $("#code").text("请正确填写验证码！");
	            Checkmsg=false;
	        }
		}
		
	}
	function button1(){
		if($("#ipassword").val() == ""){ 
            $("#password").text("请输入您的密码！");
        }else if($("#irepassword").val() == ""){ 
            $("#repassword").text("请输入确认密码！");
        }else if ($("#mobile_phone").val() == '手机号') {
            $("#tel").text("请输入您的手机号码");
        }else if ($("#msg").val() == '') {
            $("#code").text("请输入验证码后输入！");
        }
        submit()
	}

	function submit(){
        if (Checkpassword == true && reCheckpassword == true && Checktel == true && Checkmsg == true) {
            document.getElementById('button').type = 'submit';
        }else{
            document.getElementById('button').type = 'button';
        }
    }
</script>
<script>
	var	find = $("#find").val();
	if (find==1) {
		$("#find1").css('display','block');
	}else if (find==2) {
		$("#find2").css('display','block');
	}else if (find==3) {
		alert('密码修改失败，请重新尝试！');
	}else if (find==4) {
		alert('请填写完整，谢谢！');
	}else if (find==5) {
		alert('手机号码与验证时的不一致，请重新填写！');
	}else if (find==6) {
		alert('验证码未获取或已过期，请重新获取验证码');
	}else if (find==7) {
		alert('请正确填写手机号码！');
	}


</script>

</body>
</html>
