<!--导航-->
<div class="index-navigation" id="mynav">
	<div class="index-navigation-bk" id="mynavbk">
        <div class="index-navigation" >
            <div class="index-navigation-left">
                <div id="mynavspan">
                	健康家&nbsp;&nbsp;舒适家&nbsp;&nbsp;幸福家
                </div>
                
                <div id="mynavimg">
	                <a href="index.php">
	                	<img src="images/logo2.png"/>
	                </a>
                </div>
            </div>
            
            <div class="index-navigation-center">
                <div class="index-navigation-a">
                    <a href="index.php">
                        首页
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="greenfood.php?strategy">
                        	健康攻略
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="#">
                        	健康营养师
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="greenfood.php?know">
                        	健康问答
                    </a>
                </div>

                <div class="clear"></div>
            </div>
            
            <div class="index-navigation-right">
                <div class="index-navigation-right-01">
                    <div class="index-navigation-right-01-img">
                        <img src="images/gouwuche.png"/>
                    </div>
                    {:if !empty($smarty.cookies.cartnum):}
                    <div class="index-navigation-right-01-span">
                        {:$smarty.cookies.cartnum:}
                    </div>
                    {:/if:}
                </div>
            
                <div class="index-navigation-right-02">
                    <a href="order.php?cartlist">
                        我的购物车
                    </a>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
	</div>
</div>
<!--导航end-->