<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康舒适家居房屋信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="format-detection" content="telephone=no,email=no,adress=no" />


<link rel="stylesheet"  type="text/css"  href="css/style.css" ><!-- 通用CSS -->
<link rel="stylesheet"  type="text/css"  href="css/homestyle.css" ><!-- 第二版home页面CSS -->
<script src="js/jquery-1.11.3.js" type="text/javascript"></script><!-- 通用Jquery -->

<script type="text/javascript" src="js/zhiding.js"></script><!--导航置顶-->


<!--选择城市-->
<script type="text/javascript" src="js/xiala/city-data.js"></script>
<script type="text/javascript" src="js/xiala/hzw-city-picker.min.js"></script>
<!--选择城市end-->

</head>
<body style="background:#ecf0f5;">
<!-- top顶部 -->
<div class="index-top-bk">
    <div class="index-top">  
    	<div class="index-top-01">
        	您好
        </div> 
        
        <div class="index-top-02"><!--未登录状态显示此DIV-->
        	<a href="user.php?login">
            	请登录
            </a>
        </div>
        
        <div class="index-top-03"><!--未登录状态显示此DIV-->
        	<a href="user.php?register">
            	免费注册
            </a>
        </div>
        {:if isset($smarty.cookies.userName):}
        <div class="index-top-04"><!--已登录状态显示此DIV-->
        	<a href="user.php?center">
            {:$smarty.cookies.userName:}
            </a>
        </div>
        
        <div class="index-top-05"><!--已登录状态显示此DIV-->
        	<a href="user.php?userQuit">
            	退出登录
            </a>
        </div>
         {:/if:}
        <div class="index-top-13">
        	热线：4008001027
        </div> 
        
        <div class="index-top-12">
        	<img src="images/585.png"/>
        </div> 
        
        <div class="index-top-11">
        	<a href="#">
            	手机版
            </a>
        </div>
        
        <div class="index-top-10">
        	<a href="#">
            	我的订单
            </a>
        </div>
        
        <div class="index-top-09">
        	<img src="images/584.png"/>
        </div>   
        
        <div class="index-top-08">
        	<a href="#">
            	我的购物车
            </a>
        </div>    
        
        <div class="index-top-07">
        	&or;
        </div> 
        
        <div class="index-top-06">
        	<a href="#">
            	我的收藏
            </a>
        </div>
                
        <div class="clear"></div>    
    </div>
</div>
<!-- top顶部end -->

<div class="clear"></div>

<!-- head头部 -->
<div class="index-head">
	<div class="index-head-bk">
    	<div class="index-head-01">
        	<a href="index.php">
            	<img src="images/logo4.png"/>
            </a>
        </div>
    	
        <div class="index-head-02">
            <div class="index-head-02-01">
                <input type="text" value="海外淘"  onFocus="if (value =='海外淘'){value =''}" onBlur="if (value ==''){value='海外淘'}"/>
            </div>
            
            <div class="index-head-02-02">
                <input type="button"  value=""/>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="index-head-03">
        	<div class="index-head-03-01">
            	<div class="index-head-03-01-01">
                	<img src="images/586.png"/>
                </div>
                
                <div class="index-head-03-01-02">
                	<a href="#">
                    	全国体验展示馆及安装服务中心
                    </a>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="index-head-03-02">
            	<div class="index-head-03-02-01">
                	<img src="images/587.png"/>
                </div>
                
                <div class="index-head-03-02-02">
                	服务区域
                </div>
                
                <div class="index-head-03-02-03">                	
                    <input type="text" id="cityChoice" value="上海"  onFocus="if (value =='上海'){value =''}" onBlur="if (value ==''){value='上海'}">                    
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
    </div>
</div>
<!-- head头部end -->

<div class="clear"></div>

<!--导航-->
<div class="index-navigation" id="mynav">
        <div class="index-navigation-bk" id="mynavbk">
            <div class="index-navigation" >
                <div class="index-navigation-center">
                    <div class="index-navigation-a">
                        <a href="#">
                            关于我们
                        </a>
                    </div>
                    
                    <div class="index-navigation-a">
                        <a href="#">
                            品质生活          
                        </a>
                    </div>
                    
                    <div class="index-navigation-a">
                        <a href="#">
                            健康舒适家居           
                        </a>
                    </div>
                    
                    <div class="index-navigation-a">
                        <a href="#">
                            机电售后服务            
                        </a>
                    </div>
                    
                    <div class="index-navigation-a">
                        <a href="#">
                            资源分享            
                        </a>
                    </div>
                    
                    <div class="index-navigation-a">
                        <a href="#">
                            支付方式                        
                        </a>
                    </div>
                    
                    <div class="index-navigation-a">
                        <a href="#">
                            百科知识                  
                        </a>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
            </div>
        </div>
    </div>
<!--导航end-->

<div class="clear27"></div>

<!--中间-->
<div class="homeoffer-conter">    
    <div class="homeoffer-conter-detailed">
    	<div class="homeoffer-conter-detailed-title">
        	<div class="homeoffer-conter-detailed-title-left">
            	我的:<span>{:$smarty.cookies.userName:}</span>
            </div>
        	
            <div class="homeoffer-conter-detailed-title-right">
            	<a href="user.php?houseinformation">
                	返回修改信息
                </a>            	
            </div>
        </div>
        
    	<div class="homeoffer-conter-detailed-list">
        	<div class="homeoffer-conter-detailed-list-left">
            	房屋地址：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	{:$province:}{:$city:}{:$district:}{:$address:}
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="homeoffer-conter-detailed-list">
        	<div class="homeoffer-conter-detailed-list-left">
            	房屋类型：
            </div>
             {:if $house_type eq 1:}
            <div class="homeoffer-conter-detailed-list-right">
            	公寓
            </div>
             {:elseif  $house_type eq 2:}
             <div class="homeoffer-conter-detailed-list-right">
            	叠加
             </div>
             {:elseif  $house_type eq 3:}
             <div class="homeoffer-conter-detailed-list-right">
            	联排
             </div>
             {:elseif  $house_type eq 4:}
             <div class="homeoffer-conter-detailed-list-right">
            	独栋
             </div>
             {:/if:}
            <div class="clear"></div>
        </div>
        
        <div class="homeoffer-conter-detailed-list">
        	<div class="homeoffer-conter-detailed-list-left">
            	房屋户型：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	{:$room1:}室{:$room2:}厅{:$room3:}厨{:$room4:}浴{:$room5:}阳台
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="homeoffer-conter-detailed-list">
        	<div class="homeoffer-conter-detailed-list-left">
            	房屋面积：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	{:$total_area:}m²
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="homeoffer-conter-detailed-list" id="fjmj">
        	<div class="homeoffer-conter-detailed-list-left">
            	房间分配面积：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	<div class="homeoffer-conter-detailed-list-right-01">
                	<div class="homeoffer-conter-detailed-list-right-01-zhu">
                    	主卧
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-ci"><!--进行判断，如果有次卧则显示-->
                    	次卧
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-ci"><!--进行判断，如果有次卧则显示-->
                    	次卧
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-ting">
                    	客厅
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-chu">
                    	厨房
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-yu">
                    	浴室
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-yang">
                    	阳台
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="homeoffer-conter-detailed-list-right-02">
                	<div class="homeoffer-conter-detailed-list-right-02-zhu">
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-ci"><!--进行判断，如果有次卧则显示-->
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-ci"><!--进行判断，如果有次卧则显示-->
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-ting">
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-chu">
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-yu">
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-yang">
                    	20m²
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>       
        
        <div class="clear27"></div>
    </div>
    
    <div class="clear3"></div>
    
    <div class="homeoffer-conter-price">
    	<div class="homeoffer-conter-price-demo">
        	<div class="homeoffer-conter-price-demo-img">
            	<img src="images/305.jpg"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-title">
            	经济型
            </div>
            
            <div class="homeoffer-conter-price-demo-prix">
            	￥21520.00
            </div>
            
            <div class="homeoffer-conter-price-demo-introduce">
            	破茧预售 超值起约 低价来袭
            </div>
            
            <div class="homeoffer-conter-price-demo-buy">
            	<input type="button" value="预约"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-coupon">
            	可用券：￥2200
            </div>
        </div>
        
        <div class="homeoffer-conter-price-clear"></div>
        
        <div class="homeoffer-conter-price-demo">
        	<div class="homeoffer-conter-price-demo-img">
            	<img src="images/305.jpg"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-title">
            	舒适型
            </div>
            
            <div class="homeoffer-conter-price-demo-prix">
            	￥21520.00
            </div>
            
            <div class="homeoffer-conter-price-demo-introduce">
            	破茧预售 超值起约 低价来袭
            </div>
            
            <div class="homeoffer-conter-price-demo-buy">
            	<input type="button" value="预约"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-coupon">
            	可用券：￥2200
            </div>
        </div>
        
        <div class="homeoffer-conter-price-clear"></div>
        
        <div class="homeoffer-conter-price-demo">
        	<div class="homeoffer-conter-price-demo-img">
            	<img src="images/305.jpg"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-title">
            	豪华型
            </div>
            
            <div class="homeoffer-conter-price-demo-prix">
            	￥21520.00
            </div>
            
            <div class="homeoffer-conter-price-demo-introduce">
            	破茧预售 超值起约 低价来袭
            </div>
            
            <div class="homeoffer-conter-price-demo-buy">
            	<input type="button" value="预约"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-coupon">
            	可用券：￥2200
            </div>
        </div>
        
        <div class="homeoffer-conter-price-clear"></div>
        
        <div class="clear"></div>
    </div>
    
    
        
</div>
<!--中间end-->

<div class="clear2"></div>

<!-- 底部广告 -->
<div class="bottom" >
	<img src="images/213.jpg"/>
</div>
<!-- 底部广告end -->

<!-- 底部列表 -->
{:include file='user_top.tpl.html':}
<!-- 根部链接end -->

<div class="clear"></div>


<!--选择城市-->
<script>
    var cityPicker = new HzwCityPicker({
        data: data,
        target: 'cityChoice',
        valType: 'k-v',
        hideCityInput: {
            name: 'city',
            id: 'city'
        },
        hideProvinceInput: {
            name: 'province',
            id: 'province'
        },
       
    });

    cityPicker.init();
</script>
<!--选择城市end-->

</body>
</html>





