<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet"  type="text/css"  href="./css/deale1_index.css" >

<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/TouchSlide.1.1.source.js"></script>
</head>

<body>

<div class="head_h">
		<div class="head_top">
        	<div class="head_top_bk">
        		<a href="#">关于我们</a>
                <span>欢迎幻想之城</span>
                <a href="#">我的关注</a>
                <span>热线:4001070365</span>
            </div>
        </div>
		
        <div class="haed_01">
            </br>
        	<div class="haed_02"><h1><font>欢迎您</font>XXX公司</h1> <span>健康家</span> <span>舒适家</span> <span>幸福家</span></div>
        </div>
        <div class="daohang">
            <div class="nev">
                    <div class="nev_1">＞订单管理</div>
                    <div class="nev_2">
                        <ul>
                             <a href="user.php?mycenter"><li style="padding-left:25px;">我的中心</li></a>
                            <a href="user.php?mainmaterials"> <li>订单管理</li></a>
                           <a href="user.php?aftersale"><li>售后管理</li></a>
                            <li>账号</li>
                          <a href="user.php?mysuggest"><li>意见反馈</li></a>
                           <a href="user.php?passwordmanger"> <li>密码管理</li></a>
                        </ul>
                    </div>
            </div>
        </div>
   </div>
 
    
   <!---conent-->
   <div style=" background:#ecf0f5;">
    <div class="fc">
            	<div class="fc_left">主材清单</div>
                  <div class="fc_right">
                      		 <a href="">我要上传</a>
                  </div>
    </div>
    
     <div class="dan_hao">
            	<div class="dan_hao_01">订单号：<span>3450987</span></div>
                <p><span style="margin-left:0px;">联系人：盟盟</span><span>电话：15121051165</span><span>房屋面积：100平米</span><span>房型：三室一厅</span><span>地址：浦江镇联航路1188号19号楼h座3层308室</span></p>
           		<p>客户要求：我要求座元旦前施工完结束</p>
    </div>
    
	
<!--表格——————————————————————复制-->    
          <!--表格1-->
    
      <div class="tuihuo">
                <div class="tuihuo_9_3">
                    <ul>
                        <li style="margin-left:0px; padding-left:0px;">主材图</li>
                        <li>名称</li>
                        <li>型号</li>
                        <li>品牌</li>
                        <li>单价</li>
                        <li>单位</li>
                        <li>标准量</li>
                        <li>调整量</li>
                        <li>出库地</li>
                        <li>操作</li>
                    </ul>
                </div>
                
                <div class="tuihuo_4">
                   <div class="tuihuo_9_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>15</li>
                            <li>19</li>
                            <li>暖扬扬</li>
                            <li id="ji_hua"><a href="">调整</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_9_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>15</li>
                            <li>20</li>
                              <li>暖扬扬</li>
                             <li id="ji_hua"><a href="">调整</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_9_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>15</li>
                            <li>19</li>
                             <li>暖扬扬</li>
                             <li id="ji_hua"><a href="">调整</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_9_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>15</li>
                            <li>20</li>
                            <li>暖扬扬</li>
                         
                             <li id="ji_hua"><a href="">调整</a></li>
                        </ul>
               		 </div>  
              </div> 
               <div class="chuji">
            
                <a href=""><span>生成补差清单</span></a> 
                <a href=""><span>换货</span></a>
        </div> 
      </div>
    
      <!--表格2-->
     <div class="tuihuo">
    
        		<div class="tuihuo_2"><span>补货清单</span></div>
                <div class="tuihuo_10_3">
                    <ul>
                        <li style="margin-left:0px; padding-left:0px;">主材图</li>
                        <li>名称</li>
                        <li>型号</li>
                        <li>品牌</li>
                        <li>单价</li>
                        <li>单位</li>
                        <li>补充量</li>
                        <li>标准量</li>
                        <li>调整量</li>
                        <li>出库地</li>
                        <li>操作</li>
                    </ul>
                </div>
                
                <div class="tuihuo_4">
                   <div class="tuihuo_10_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>3</li>
                            <li>15</li>
                            <li>19</li>
                            <li>暖扬扬</li>
                            <li id="ji_hua"><a href="">调整</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_10_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>3</li>
                            <li>15</li>
                            <li>20</li>
                            <li>暖扬扬</li>
                             <li id="ji_hua"><a href="">调整</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_10_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>3</li>
                             <li>15</li>
                            <li>19</li>
                            <li>暖扬扬</li>
                            <li id="ji_hua"><a href="">调整</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_10_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>3</li>
                             <li>15</li>
                            <li>20</li>
                            <li>暖扬扬</li>
                            <li id="ji_hua"><a href="">调整</a></li>
                        </ul>
               		 </div>  
                     
                     
                     
                     
              </div> 
               <div class="chuji">
                <strong>总价:<p>30600</p></strong>
                <a href=""><span>补货订单</span></a> 
                <a href=""><span>增加补货材料</span></a>
        </div> 
      </div>
    
  
      
   <!--表格3-->

    <div class="tuihuo">
    
        		<div class="tuihuo_2"><span>退货清单</span></div>
                <div class="tuihuo_3">
                    <ul>
                        <li style="margin-left:0px; padding-left:0px;">主材图</li>
                        <li>名称</li>
                        <li>型号</li>
                        <li>品牌</li>
                        <li>单价</li>
                        <li>单位</li>
                        <li>标准量</li>
                        <li>操作</li>
                    </ul>
                </div>
                
                <div class="tuihuo_4">
                   <div class="tuihuo_4_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>15</li>
                           <li id="ji_hua"><a href="">删除</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_4_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>15</li>
                         
                          <li id="ji_hua"><a href="">删除</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_4_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>15</li>
                      
                           <li id="ji_hua"><a href="">删除</a></li>
                        </ul>
               		 </div>
                   <div class="tuihuo_4_1">
                        <ul>
                            <li style="margin-left:0px; padding-left:0px;"><img src="img/20160126111300.png" /></li>
                            <li>PVD管</li>
                            <li>D32</li>
                            <li>爱迪士</li>
                            <li>6</li>
                            <li>米</li>
                            <li>15</li>
                      
                            <li id="ji_hua"><a href="">删除</a></li>
                        </ul>
               		 </div>  
              </div> 
               <div class="chuji">
                <strong>总价:<p>2800</p></strong>
                <a href=""><span>退货清单</span></a> 
                <a href=""><span>增加退货材料</span></a>
        </div> 
      </div>
   
       
    </div>


 
    <div class="quanjiafu"><img src="./images/input_03.jpg" /></div>
    
    <!--footer 头-->
    
    
    <div class="footer">
    	<div class="guild">
        	<ul>
            	<a href=""><li class="msg" style="color:#000;">购物指南 </li></a>
                <a href=""><li>购物流程</li></a>
            	<a href=""><li>会员介绍</li></a>
                <a href=""><li>常见问题</li></a>
                <a href=""><li>联系客服</li></a>
            </ul>
            <ul>
            	<a href=""><li class="msg" style="color:#000;">配送方式 </li></a>
                <a href=""><li> 国内配送</li></a>
                <a href=""><li> 海外配送</li></a>
                <a href=""><li> 配送标准</li></a>
                
            </ul>
              <ul>
            	<a href=""><li class="msg" style="color:#000;">支付方式 </li></a>
                <a href=""><li>在线支付</li></a>
                <a href=""><li>分期付款</li></a>
                <a href=""><li>邮局汇款</li></a>
                <a href=""><li>公司转账</li></a>
            </ul>
              <ul>
            	<a href=""><li class="msg" style="color:#000;"> 售后服务 </li></a>
                <a href=""><li> 售后政策</li></a>
                <a href=""><li> 退款说明</li></a>
                <a href=""><li style=" margin-left:14px;"> 返修／退换货</li></a>
                <a href=""><li> 取消订单</li></a>
            </ul>
        </div>
    </div>
    
   	 <div class="friendlink">
             <ul>
                <a href=""><li style="margin-left:93px;">关于我们 </li></a>
                <a href=""><li>联系我们</li></a>
                <a href=""><li>人才招聘</li></a>
                <a href=""><li>招商加盟</li></a>
                <a href=""><li>商务合作</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>备案号</li></a>
                <a href=""><li>各类证</li></a>
            </ul>
 	 </div>
    

</body>
</html>
