<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet"  type="text/css"  href="./css/deale1_index.css" >

<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/TouchSlide.1.1.source.js"></script>
</head>

<body>

<div class="head">
			  <div class="head_top">
        	<div class="head_top_bk">
        		<a href="#">关于我们</a>
                <span>欢迎幻想之城</span>
                <a href="#">我的关注</a>
                <span>热线:4001070365</span>
            </div>
        </div>
		<div class="haed_01">
        
            </br>
        	<div class="haed_02"><h1><font>欢迎您</font>XXX公司</h1> <span>健康家</span> <span>舒适家</span> <span>幸福家</span></div>
        </div>
        <div class="daohang">
            <div class="nev">
                    <div class="nev_1">＞密码管理</div>
                    <div class="nev_2">
                        <ul>
                             <a href="user.php?mycenter"><li style="padding-left:25px;">我的中心</li></a>
                            <a href="user.php?mainmaterials"> <li>订单管理</li></a>
                           <a href="user.php?aftersale"><li>售后管理</li></a>
                            <li>账号</li>
                          <a href="user.php?mysuggest"><li>意见反馈</li></a>
                           <a href="user.php?passwordmanger"> <li>密码管理</li></a>
                        </ul>
                    </div>
            </div>
        </div>
   </div>
   
    
   <!---conent-->
    
    
<!--密码管理-->    

       <div class="bjs_mima">
       		<div class="mima_gl">
            	<div class="msg_mima">密码管理</div>
           		 <div class="mima_biank">
                 <form>
                     <div  class="mima_biank_01">
                     <input -webkit-speech="" 
                     x-webkit-grammar="builtin:translate" style="color: rgb(196, 196, 196);" 
                     onfocus="if(this.value==this.defaultValue){this.value='';};this.style.color='black';" 
                     onblur="if(this.value==''){this.value=this.defaultValue;this.style.color='#c4c4c4';}"
                      name="keyboard" value="请输入您要修改的密码" type="text"> </input>
                       <input -webkit-speech="" 
                     x-webkit-grammar="builtin:translate" style="color: rgb(196, 196, 196);" 
                     onfocus="if(this.value==this.defaultValue){this.value='';};this.style.color='black';" 
                     onblur="if(this.value==''){this.value=this.defaultValue;this.style.color='#c4c4c4';}"
                      name="keyboard" value="请输入新的密码" type="text"> </input>
                       <input -webkit-speech="" 
                     x-webkit-grammar="builtin:translate" style="color: rgb(196, 196, 196);" 
                     onfocus="if(this.value==this.defaultValue){this.value='';};this.style.color='black';" 
                     onblur="if(this.value==''){this.value=this.defaultValue;this.style.color='#c4c4c4';}"
                      name="keyboard" value="请确认新的密码" type="text"> </input>
                      
                      	<div class="anniu_mima">
                          <a  href=""><input style="width:138px; margin-left:0px;"   type="button" value="取消" /></input></a>
                          <a  href=""><input style="width:238px;" type="button" value="确定" /></input></a>
                         
                        </div> 
                       </div>
                      </form>
                      <div  class="mima_biank_02">
                       <h1>您在更改密码时请注意</h1>
                       <p>● 密码由6~12位数字和字母组合而成</p>
                       <p>● 如无法完成更改请及时与客服联系</p>
                       <p>● 请您牢记更改后的密码</p>
                      </div>
                      
                  </div>
       	
       		</div>
       
       </div>
   
    
    
    
    
    

    
  <div class="clear2"></div>
    <div class="quanjiafu"><img src="images/input_03.jpg" /></div>
    
    <!--footer 头-->
    
    
    <div class="footer">
    	<div class="guild">
        	<ul>
            	<a href=""><li class="msg" style="color:#000;">购物指南 </li></a>
                <a href=""><li>购物流程</li></a>
            	<a href=""><li>会员介绍</li></a>
                <a href=""><li>常见问题</li></a>
                <a href=""><li>联系客服</li></a>
            </ul>
            <ul>
            	<a href=""><li class="msg" style="color:#000;">配送方式 </li></a>
                <a href=""><li> 国内配送</li></a>
                <a href=""><li> 海外配送</li></a>
                <a href=""><li> 配送标准</li></a>
                
            </ul>
              <ul>
            	<a href=""><li class="msg" style="color:#000;">支付方式 </li></a>
                <a href=""><li>在线支付</li></a>
                <a href=""><li>分期付款</li></a>
                <a href=""><li>邮局汇款</li></a>
                <a href=""><li>公司转账</li></a>
            </ul>
              <ul>
            	<a href=""><li class="msg" style="color:#000;"> 售后服务 </li></a>
                <a href=""><li> 售后政策</li></a>
                <a href=""><li> 退款说明</li></a>
                <a href=""><li style=" margin-left:14px;"> 返修／退换货</li></a>
                <a href=""><li> 取消订单</li></a>
            </ul>
        </div>
    </div>
    
   	 <div class="friendlink">
             <ul>
                <a href=""><li style="margin-left:93px;">关于我们 </li></a>
                <a href=""><li>联系我们</li></a>
                <a href=""><li>人才招聘</li></a>
                <a href=""><li>招商加盟</li></a>
                <a href=""><li>商务合作</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>备案号</li></a>
                <a href=""><li>各类证</li></a>
            </ul>
 	 </div>
    

</body>
</html>
