{:include file="header.tpl.html":}
<link rel="stylesheet"  type="text/css"  href="css/integralstyle.css" ><!-- 积分css -->





<!-- banner轮播图片 -->
<!-- <script src="./js/min/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
<script src="./js/min/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>
<link href="./css/flickerplate.css"  type="text/css" rel="stylesheet">
<script src="./js/min/flickerplate.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){

		$('.flicker-example').flicker();
	});
</script> -->
<!-- banner轮播图片end -->

<div class="clear"></div>

<!--导航-->
{:include file='common/daohang.html':}
<!--导航end-->

{:include file="category/category.tpl.html":}



<div class="clear2">

</div>

<!--中间-->
<div class="paycenter">
	<div style="font-size:20px;color:#383838;text-align:center;margin-bottom:20px;">{:$content.title:}</div>
	<div style="width:960px;margin:0 auto;font-size:14px;min-height:330px;">{:$content.content:}</div>

</div>
<!--中间结束-->
<!-- 底部列表 -->


<div class="clear2"></div>

{:include file="footer.tpl.html":}


<div class="clear"></div>





</body>
</html>





