<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康舒适家居房屋信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="format-detection" content="telephone=no,email=no,adress=no" />


<link rel="stylesheet"  type="text/css"  href="css/style.css" ><!-- 通用CSS -->
<link rel="stylesheet"  type="text/css"  href="css/homestyle.css" ><!-- 第二版home页面CSS -->
<script src="js/jquery-1.11.3.js" type="text/javascript"></script><!-- 通用Jquery -->

<script type="text/javascript" src="js/zhiding.js"></script><!--导航置顶-->

</head>
<body style="background:#ecf0f5;">
<!-- top顶部 -->
<div class="index-top-bk">
    <div class="index-top">        
        <div class="index-top-02">
        	<img src="images/61.png" alt=""/>
        </div>
        
        <div class="index-top-03">
        	<input type="text" id="cityChoice" value="上海"  onFocus="if (value =='上海'){value =''}" onBlur="if (value ==''){value='上海'}">
        </div>
        
        <div class="index-top-09">
        	热线：4008001027
        </div>
        
        <div class="index-top-08">
            <a href="#">
            	我的关注
            </a>
        </div>
        
        <div class="index-top-07">
            <a href="#">
            	我的订单
            </a>
        </div>
        
        <div class="index-top-06"><!--未登陆状态下，显示此DIV隐藏欢迎DIV-->
            <a href="#">
            	注册
            </a>
        </div>
        
        <div class="index-top-05"><!--未登陆状态下，显示此DIV隐藏欢迎DIV-->
            <a href="#">
            	登陆
            </a>
        </div>
        
        <div class="index-top-11"><!--登陆状态下，显示此DIV隐藏登陆DIV-->
        	幻想之城
        </div>
                
        <div class="index-top-12"><!--登陆状态下，显示此DIV隐藏登陆DIV-->
        	欢迎：
        </div>
        
        <div class="index-top-10">
            <a href="#">
            	关于我们
            </a>
        </div>    
        
        <div class="clear"></div>    
    </div>
</div>
<!-- top顶部end -->

<div class="clear"></div>

<!-- head头部 -->
<div class="index-head">
	<div class="index-head-bk">
    	<div class="index-head-01">
        	<div class="index-head-01-logo">
            	<img src="images/logo.png"/>
            </div>
            
            <div class="index-head-01-sousuo">
            	<div class="index-head-01-sousuo-01">
                	<input type="text" value="海外淘"  onFocus="if (value =='海外淘'){value =''}" onBlur="if (value ==''){value='海外淘'}"/>
                </div>
                
                <div class="index-head-01-sousuo-02">
                	<input type="button"  value=""/>
                </div>
            </div>
            
            <div class="index-head-01-diqiu">
            	<a href="#">
                    <img src="images/diqiu.png"/>
                    全国服务展示中心
                </a>
            </div>
            
            <div class="index-head-01-ewm">
            	<img src="images/erweima.png"/>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
    </div>
</div>
<!-- head头部end -->

<div class="clear"></div>

<!--导航-->
<div class="index-navigation" id="mynav">
	<div class="index-navigation-bk" id="mynavbk">
        <div class="index-navigation" >
            <div class="index-navigation-left">
                <div id="mynavspan">
                	健康家&nbsp;&nbsp;舒适家&nbsp;&nbsp;幸福家
                </div>
                
                <div id="mynavimg">
                	<img src="images/logo2.png"/>
                </div>
            </div>
            
            <div class="index-navigation-center">
                <div class="index-navigation-a">
                    <a href="#">
                        首页
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="#">
                        机电攻略
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="#">
                        分期介绍
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="#">
                        全国体验中心
                    </a>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="index-navigation-right">
                <div class="index-navigation-right-01">
                    <div class="index-navigation-right-01-img">
                        <img src="images/gouwuche.png"/>
                    </div>
                    
                    <div class="index-navigation-right-01-span">
                        3
                    </div>
                </div>
            
                <div class="index-navigation-right-02">
                    <a href="#">
                        我的购物车
                    </a>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
	</div>
</div>
<!--导航end-->

<div class="clear27"></div>

<!--中间-->
<div class="homeoffer-conter">    
    <div class="homeoffer-conter-detailed">
    	<div class="homeoffer-conter-detailed-title">
        	<div class="homeoffer-conter-detailed-title-left">
            	我的:<span>幻想之城</span>
            </div>
        	
            <div class="homeoffer-conter-detailed-title-right">
            	<a href="#">
                	返回修改信息
                </a>            	
            </div>
        </div>
        
    	<div class="homeoffer-conter-detailed-list">
        	<div class="homeoffer-conter-detailed-list-left">
            	房屋地址：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	上海市闵行区联航路1188号
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="homeoffer-conter-detailed-list">
        	<div class="homeoffer-conter-detailed-list-left">
            	房屋类型：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	公寓
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="homeoffer-conter-detailed-list">
        	<div class="homeoffer-conter-detailed-list-left">
            	房屋户型：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	3室2厅1厨1浴1阳台
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="homeoffer-conter-detailed-list">
        	<div class="homeoffer-conter-detailed-list-left">
            	房屋面积：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	110m²
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="homeoffer-conter-detailed-list" id="fjmj">
        	<div class="homeoffer-conter-detailed-list-left">
            	房间分配面积：
            </div>
            
            <div class="homeoffer-conter-detailed-list-right">
            	<div class="homeoffer-conter-detailed-list-right-01">
                	<div class="homeoffer-conter-detailed-list-right-01-zhu">
                    	主卧
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-ci"><!--进行判断，如果有次卧则显示-->
                    	次卧
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-ci"><!--进行判断，如果有次卧则显示-->
                    	次卧
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-ting">
                    	客厅
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-chu">
                    	厨房
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-yu">
                    	浴室
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-01-yang">
                    	阳台
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="homeoffer-conter-detailed-list-right-02">
                	<div class="homeoffer-conter-detailed-list-right-02-zhu">
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-ci"><!--进行判断，如果有次卧则显示-->
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-ci"><!--进行判断，如果有次卧则显示-->
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-ting">
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-chu">
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-yu">
                    	20m²
                    </div>
                    
                    <div class="homeoffer-conter-detailed-list-right-02-yang">
                    	20m²
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>       
        
        <div class="clear27"></div>
    </div>
    
    <div class="clear3"></div>
    
    <div class="homeoffer-conter-price">
    	<div class="homeoffer-conter-price-demo">
        	<div class="homeoffer-conter-price-demo-img">
            	<img src="images/305.jpg"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-title">
            	经济型
            </div>
            
            <div class="homeoffer-conter-price-demo-prix">
            	￥21520.00
            </div>
            
            <div class="homeoffer-conter-price-demo-introduce">
            	破茧预售 超值起约 低价来袭
            </div>
            
            <div class="homeoffer-conter-price-demo-buy">
            	<input type="button" value="预约"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-coupon">
            	可用券：￥2200
            </div>
        </div>
        
        <div class="homeoffer-conter-price-clear"></div>
        
        <div class="homeoffer-conter-price-demo">
        	<div class="homeoffer-conter-price-demo-img">
            	<img src="images/305.jpg"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-title">
            	舒适型
            </div>
            
            <div class="homeoffer-conter-price-demo-prix">
            	￥21520.00
            </div>
            
            <div class="homeoffer-conter-price-demo-introduce">
            	破茧预售 超值起约 低价来袭
            </div>
            
            <div class="homeoffer-conter-price-demo-buy">
            	<input type="button" value="预约"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-coupon">
            	可用券：￥2200
            </div>
        </div>
        
        <div class="homeoffer-conter-price-clear"></div>
        
        <div class="homeoffer-conter-price-demo">
        	<div class="homeoffer-conter-price-demo-img">
            	<img src="images/305.jpg"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-title">
            	豪华型
            </div>
            
            <div class="homeoffer-conter-price-demo-prix">
            	￥21520.00
            </div>
            
            <div class="homeoffer-conter-price-demo-introduce">
            	破茧预售 超值起约 低价来袭
            </div>
            
            <div class="homeoffer-conter-price-demo-buy">
            	<input type="button" value="预约"/>
            </div>
            
            <div class="homeoffer-conter-price-demo-coupon">
            	可用券：￥2200
            </div>
        </div>
        
        <div class="homeoffer-conter-price-clear"></div>
        
        <div class="clear"></div>
    </div>
    
    
        
</div>
<!--中间end-->

<div class="clear2"></div>

<!-- 底部广告 -->
<div class="bottom" >
	<img src="images/213.jpg"/>
</div>
<!-- 底部广告end -->

<!-- 底部列表 -->
<div class="foot">
    <div class="foot-list">
        <div class="foot-list-gw">
            <div class="foot-list-gw-title">
                购物指南
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    购物流程
                </a>
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    会员介绍
                </a>
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    常见问题
                </a>
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    联系客服
                </a>
            </div>
        </div>
    
        <div class="foot-list-gw">
			<div class="foot-list-gw-title">
                配送方式
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    国内配送
                </a>
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    海外配送
                </a>
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    标准配送
                </a>
            </div>
        </div>
    
        <div class="foot-list-gw">
            <div class="foot-list-gw-title">
            	支付方式
            </div>
            
            <div class="foot-list-gw-conner">
                <a href="#">
                	在线支付
                </a>
            </div>
            
            <div class="foot-list-gw-conner">
                <a href="#">
                	分期付款
                </a>
            </div>
            
            <div class="foot-list-gw-conner">
                <a href="#">
                	邮局汇款
                </a>
            </div>
            
            <div class="foot-list-gw-conner">
                <a href="#">
                	公司转账
                </a>
            </div>
        </div>
    
        <div class="foot-list-gw">
            <div class="foot-list-gw-title">
                售后服务
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    售后政策
                </a>
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    退款说明
                </a>
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                  	返修/退换货
                </a>
            </div>
        
            <div class="foot-list-gw-conner">
                <a href="#">
                    取消订单
                </a>
            </div>
        </div>
    
        <div class="foot-list-right">
            暖扬扬线下服务区
        </div>
        
        <div class="clear"></div>
    </div>
</div>
<!-- 底部列表end -->

<div class="clear"></div>

<!-- 根部链接 -->
<div class="root">
    <div class="root-center">
        <div class="root-list">
            <a href="#">
              	关于我们
            </a>
        </div>

        <div class="root-list">
            <a href="#">
              	联系我们
            </a>
        </div>
        
        <div class="root-list">
            <a href="#">
              	人才招聘
            </a>
        </div>

        <div class="root-list">
            <a href="#">
              	招商加盟
            </a>
        </div>

        <div class="root-list">
            <a href="#">
              	商务合作
            </a>
        </div>

        <div class="root-list">
            <a href="#">
              	友情链接
            </a>
        </div>

        <div class="root-list">
            <a href="#">
              	各类证件
            </a>
        </div>
      
        <div class="clear"></div>
    </div>
    
    <div class="clear27"></div>
    
    <div class="root-bei">
    	备案号：沪ICP备16002183
    </div>
    
    <div class="clear3"></div>
    
    <div class="clear3"></div>
</div>
<!-- 根部链接end -->

<div class="clear"></div>


<!--选择城市-->
<script>
    var cityPicker = new HzwCityPicker({
        data: data,
        target: 'cityChoice',
        valType: 'k-v',
        hideCityInput: {
            name: 'city',
            id: 'city'
        },
        hideProvinceInput: {
            name: 'province',
            id: 'province'
        },
       
    });

    cityPicker.init();
</script>
<!--选择城市end-->

</body>
</html>





