<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,adress=no" />
    <!--<link rel="stylesheet"  type="text/css"  href="css/style.css"  media="screen and (min-width:1200px)"/>-->


    <link rel="stylesheet"  type="text/css"  href="css/style.css" ><!-- 通用CSS -->
    <link rel="stylesheet"  type="text/css"  href="css/tuanstyle.css" ><!-- 生活健康食品页面调用CSS -->
    <link rel="stylesheet"  type="text/css"  href="css/foodstyle.css" ><!-- 生活健康食品页面调用CSS -->
    <script src="js/jquery-1.11.3.js" type="text/javascript"></script><!-- 通用Jquery -->
    <script src="js/concert.js" type="text/javascript"></script><!-- 通用Jquery -->


    <!-- banner轮播图片 -->
    <script src="js/min/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
    <script src="js/min/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>
    <link href="css/flickerplate.css"  type="text/css" rel="stylesheet">
    <script src="js/min/flickerplate.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('.flicker-example').flicker();
        });
    </script>
    <!-- banner轮播图片end -->

    <style>
        #selSubmitId{
            font-size: 18px;
        }

        #selSubmitId:hover{
            cursor: pointer;
        }

        .concertImgDivClass:hover{
            cursor: pointer;
        }
    </style>

    <!--滑动导航-->
    <script type="text/javascript">
        $(document).ready(function() {
            jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
                $(tab_conbox).find("li").hide();
                $(tabtit).find("li:first").addClass("thistab").show();
                $(tab_conbox).find("li:first").show();

                $(tabtit).find("li").bind(shijian,function(){
                    $(this).addClass("thistab").siblings("li").removeClass("thistab");
                    var activeindex = $(tabtit).find("li").index(this);
                    $(tab_conbox).children().eq(activeindex).show().siblings().hide();
                    return false;
                });

            };
            /*调用方法如下：*/
            $.jqtab("#tabs","#tab_conbox","click");

            $.jqtab("#tabs2","#tab_conbox2","mouseenter");

            $.jqtab("#tabs3","#tab_conbox3","mouseenter");

            $.jqtab("#tabs4","#tab_conbox4","click");

        });
    </script>
    <!--滑动导航end-->


    <title>商品搜索——商品列表</title>
</head>
<body style="background:#e0e0e0;">
<!-- top顶部 -->
{:include file='header.tpl.html':}

<!-- top顶部end -->

<div class="clear"></div>

<!--导航-->
<div class="index-navigation" id="mynav">
	<div class="index-navigation-bk" id="mynavbk">
        <div class="index-navigation" >
            <div class="index-navigation-left">
                <div id="mynavspan">
                	健康家&nbsp;&nbsp;舒适家&nbsp;&nbsp;幸福家
                </div>
                
                <div id="mynavimg">
	                <a href="index.php">
	                	<img src="images/logo2.png"/>
	                </a>
                </div>
            </div>
            
            <div class="index-navigation-center">
                <div class="index-navigation-a">
                    <a href="index.php">
                        首页
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="greenfood.php?strategy">
                        	健康攻略
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="#">
                        	健康营养师
                    </a>
                </div>
                
                <div class="index-navigation-a">
                    <a href="greenfood.php?know">
                        	健康问答
                    </a>
                </div>

                <div class="clear"></div>
            </div>
            
            <div class="index-navigation-right">
                <div class="index-navigation-right-01">
                    <div class="index-navigation-right-01-img">
                        <img src="images/gouwuche.png"/>
                    </div>
                    {:if !empty($smarty.cookies.cartnum):}
                    <div class="index-navigation-right-01-span">
                        {:$smarty.cookies.cartnum:}
                    </div>
                    {:/if:}
                </div>
            
                <div class="index-navigation-right-02">
                    <a href="order.php?cartlist">
                        我的购物车
                    </a>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
	</div>
</div>
<!--导航end-->


<div class="clear"></div>

<!--中间-->
<div class="foodlist-conter">

    <!--详细内容-->
    <div>
        <div class="foodlist-content-dome">
            <div id="tabbox" style="width:1334px;">
                <ul class="tabs" id="tabs3">
                    <div class="tabs-left">
                        <div class="tabs-left-span">
                            搜索结果
                        </div>

                        <div class="clear"></div>
                    </div>
                </ul>

                <ul class="tab_conbox" id="tab_conbox3">
                    <li class="tab_con" id="loadInfoLiId">

                        {:foreach from=$searchList key=num item=searchIndex:}
                        <div class="foodlist-content-dome-floor1">
                            <div class="foodlist-content-dome-floor1-bk">
                                <div class="foodlist-content-dome-floor1-img">
                                    {:if $searchIndex.class_id eq 1:}
                                        <div class="foodlist-content-dome-floor1-img-01">
                                            <a href="furnish.php?goods_id={:$searchIndex.goods_id:}">
                                                <img src="{:$searchIndex.goods_img:}"/>
                                            </a>
                                        </div>
                                    {:/if:}

                                    {:if $searchIndex.class_id eq 2:}
                                    <div class="foodlist-content-dome-floor1-img-01">
                                        <a href="eugroup.php?goods_id={:$searchIndex.goods_id:}">
                                            <img src="{:$searchIndex.goods_img:}"/>
                                        </a>
                                    </div>
                                    {:/if:}

                                    {:if $searchIndex.class_id eq 3:}
                                    <div class="foodlist-content-dome-floor1-img-01">
                                        <a href="greenfood.php?goods_id={:$searchIndex.goods_id:}">
                                            <img src="{:$searchIndex.goods_img:}"/>
                                        </a>
                                    </div>
                                    {:/if:}

                                    <div class="foodlist-content-dome-floor1-img-02">
                                        {:$searchIndex.goods_name:}
                                    </div>
                                </div>

                                <div class="foodlist-content-dome-floor1-title">
                                    {:$searchIndex.goods_name:}
                                </div>

                                <div class="foodlist-content-dome-floor1-price">
                                    ¥{:$searchIndex.shop_price:}
                                </div>

                                <div class="foodlist-content-dome-floor1-buying">
                                    已有<span>89</span>人评价
                                </div>

                                <div class="foodlist-content-dome-floor1-icon">
                                    <div class="foodlist-content-dome-floor1-icon-01" id="concertImgDivId{:$searchIndex.class_id:}{:$searchIndex.goods_id:}">
                                        <a class="concertImgDivClass" onclick="return concertGoods('concertImgDivId{:$searchIndex.class_id:}{:$searchIndex.goods_id:}',{:$searchIndex.class_id:},{:$searchIndex.goods_id:});">
                                            <img src="images/20.png"/>
                                        </a>
                                    </div>

                                    <div class="foodlist-content-dome-floor1-icon-02">
                                        <a href="#">
                                            <img src="images/21.png"/>
                                        </a>
                                    </div>

                                    <div class="foodlist-content-dome-floor1-icon-03">
                                        <a href="#">
                                            <img src="images/22.png"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {:/foreach:}

                        <!--判断查询出来的记录有多少条-->
                        {:if $searchListCount lt 4:}
                        <div class="tab_conbox-clear2"></div>
                        {:else:}
                        <div class="tab_conbox-clear"></div>
                        {:/if:}
                    </li>
                </ul>

                <!--分页开始-->
                <div class="pg" style="width:1134px; margin:0 auto;text-align:right; padding: 0 100px 0 0; line-height:10px; font-size: 16px;" >
                    第{:$page:}页 / 共{:$pageCount:}页 &nbsp;

                    {:if $page eq 1 && $page eq $pageCount:}
                    &nbsp;
                    {:elseif $page eq 1:}
                    <a href="search.php?goodsName={:$goodsName:}&page={:$page+1:}">下一页</a> &nbsp;
                    <a href="search.php?goodsName={:$goodsName:}&page={:$pageCount:}">尾 页</a>
                    {:elseif $page eq $pageCount:}
                    <a href="search.php?goodsName={:$goodsName:}&page=1">首 页</a>&nbsp;
                    <a href="search.php?goodsName={:$goodsName:}&page={:$page-1:}">上一页</a>
                    {:else:}
                    <a href="search.php?goodsName={:$goodsName:}&page=1">首 页</a>&nbsp;
                    <a href="search.php?goodsName={:$goodsName:}&page={:$page-1:}">上一页</a> &nbsp;
                    <a href="search.php?goodsName={:$goodsName:}&page={:$page+1:}">下一页</a> &nbsp;
                    <a href="search.php?goodsName={:$goodsName:}&page={:$pageCount:}">尾 页</a>
                    {:/if:}
                </div>
                <!--分页结束-->

            </div>
        </div>
    </div>
    <!--详细内容end-->

    <div class="clear8"></div>

</div>
<!--中间end-->

<!-- 底部列表 -->
<div class="foot">
    <div class="foot-list">
        <div class="foot-list-gw">
            <div class="foot-list-gw-title">
                购物指南
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    购物流程
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    会员介绍
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    常见问题
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    联系客服
                </a>
            </div>
        </div>

        <div class="foot-list-gw">
            <div class="foot-list-gw-title">
                配送方式
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    国内配送
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    海外配送
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    标准配送
                </a>
            </div>


        </div>

        <div class="foot-list-gw">
            <div class="foot-list-gw-title">
                支付方式
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    在线支付
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    分期付款
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    邮局汇款
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    公司转账
                </a>
            </div>
        </div>

        <div class="foot-list-gw">
            <div class="foot-list-gw-title">
                售后服务
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    售后政策
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    退款说明
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    返修/退换货
                </a>
            </div>

            <div class="foot-list-gw-conner">
                <a href="#">
                    取消订单
                </a>
            </div>
        </div>

        <div class="foot-list-right">
            暖扬扬线下服务区
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- 底部列表end -->

<div class="clear"></div>

<!-- 根部链接 -->
<div class="root">
    <div class="root-center">
        <div class="root-list">
            <a href="#">
                关于我们
            </a>
        </div>

        <div class="root-list">
            <a href="#">
                联系我们
            </a>
        </div>

        <div class="root-list">
            <a href="#">
                人才招聘
            </a>
        </div>

        <div class="root-list">
            <a href="#">
                招商加盟
            </a>
        </div>

        <div class="root-list">
            <a href="#">
                商务合作
            </a>
        </div>

        <div class="root-list">
            <a href="#">
                友情链接
            </a>
        </div>

        <div class="root-list">
            <a href="#">
                备案号码
            </a>
        </div>

        <div class="root-list">
            <a href="#">
                各类证件
            </a>
        </div>

        <div class="clear"></div>
    </div>
</div>
<!-- 根部链接end -->


<div class="clear"></div>





<!-- 楼层定位 -->
<div class="rf_menu" id="skipfloor" style="display: none;">
    <div class="leftmenu">

        <ul class="navigation">
            <li><a data-slide="1" onClick="gotofloor(this);" href="javascript:void(0);">1F</a></li>
            <li><a data-slide="2" onClick="gotofloor(this);" href="javascript:void(0);">2F</a></li>
            <li><a data-slide="3" onClick="gotofloor(this);" href="javascript:void(0);">3F</a></li>
            <li><a data-slide="4" onClick="gotofloor(this);" href="javascript:void(0);">4F</a></li>
            <li><a data-slide="5" onClick="gotofloor(this);" href="javascript:void(0);">5F</a></li>




        </ul>

        <div class="downbo" onClick="gotop();" href="javascript:void(0);">TOP</div>
        <!-- js效果写的时候收起为downbo2展开是downbo -->
    </div>
</div>
<!-- 楼层定位end -->


<!-- js楼层定位 -->
<script>
    jQuery(document).ready(function($) {
        try{
            var f1 = $('.jumbotron[data-slide="1"]').offset().top;
            var fs = $('.navigation').children().size();
            var fss = new Array();
            for (i = 0; i < fs; i++) {
                j = i + 1;
                fss[i] = $('.jumbotron[data-slide="' + j + '"]').offset().top;
            }



            $(window).scroll(function(){
                var currentTOP = $(window).scrollTop();
                if(currentTOP>f1-30){
                    $("#skipfloor").show();
                }else{
                    $("#skipfloor").hide();
                }
                if (currentTOP <= f1) {
                    $('.navigation a').removeClass('sel');
                    $('.navigation a[data-slide="1"]').addClass('sel');
                    return;
                }else{
                    changefl(getFloor(currentTOP));
                }
            });


            function getFloor(fh){
                if(fs==0||fh<=f1){
                    return 1;
                }
                if(fh>=fss[fs-1]){
                    return fs;
                }
                for (k=0; k<fs;k++) {
                    if(fh>fss[k]&&fh<fss[k+1]){
                        return k+1;
                    }
                }
            }

            function changefl(fno){
                $('.navigation a').removeClass('sel');
                $('.navigation a[data-slide="'+fno+'"]').addClass('sel');
            }

        }catch(e){
            console.log(e);
        }
    });

    function gotop() {
        $('body,html').animate({
            scrollTop : 0
        }, 800);
    }
    function gotofloor(thiz) {
        $("a[class='sel']").attr('class', '');
        $(thiz).attr("class", "sel");
        dataslide = $(thiz).attr('data-slide');
        var pos = $('.jumbotron[data-slide="' + dataslide + '"]').offset().top;// 获取该点到头部的距离
        $("html,body").animate({
            scrollTop : pos
        }, 800);
    }
</script>
<!-- js楼层定位end -->



</body>
</html>