{:include file="header.tpl.html":}
<link rel="stylesheet"  type="text/css"  href="css/sharingstyle.css" >

<div class="clear"></div>


<div  class="index-box">
	
	<!--主导航-->
{:include file='common/daohang.html':}
    <!--主导航end-->
    
    {:include file="category/category.tpl.html":}


	
</div>



<!-- 中间楼层 -->
<div class="sharing-center">	
</div>
<div class="sharing-center2"><a href="index.php">首页</a></span>
</div>
<!-- 中间楼层end -->

<div class="clear2" style="height:100px;"></div>
{:include file="footer.tpl.html":}









</body>
</html>