{:include file="header.tpl.html":}
{:include file='common/daohang.html':}
<!--导航end-->
{:include file="category/category.tpl.html":}
<link rel="stylesheet"  type="text/css"  href="css/Personal Center.css" ><!-- 个人中心页面调用CSS -->

<div class="user-center">
{:include file='user_left.tpl.html':}
    <div class="user-right">
    	<div class="user_euOrderDetails-title">  
        	<span>
            	订单编号：{:if !empty($data.splitAll):}{:$data.order.sn:}{:else:}{:$data.split.split_sn:}{:/if:}
            </span>  	
        </div>
    
    	<div class="clear27"></div>
    
        
        <div class="user_eu_order-center">
            {:if $data.split.order_status lt 8:}
        	<!--有订单状态-->
        	<div class="user_eu_order-center-yes">
            	<div class="user_eu_order-center-yes-state">
                	<div class="user_eu_order-center-yes-state-title">
                    	<span>
                        	订单状态
                        </span>
                    </div>

                    <div class="user_eu_order-center-yes-state-img">
                    	<div class="clear33"></div>
                        
                    	<div class="user_eu_order-center-yes-state-img-demo">
                        	<!--此处进行判断，进行到哪步，放出哪张图片，2张图片是对应的-->
                        	<img src="images/1192.png"/>
                            <!-- <img src="images/1196.png"/> -->
                        </div>
                        
                        <div class="user_eu_order-center-yes-state-img-demo">
                        	<!--此处进行判断，进行到哪步，放出哪张图片，2张图片是对应的-->
                            {:if $data.split.order_status gt 0:}
                        	<img src="images/1193.png"/>
                            {:else:}
                            <img src="images/1197.png"/>
                            {:/if:}
                        </div>
                        
                        <div class="user_eu_order-center-yes-state-img-demo">
                        	<!--此处进行判断，进行到哪步，放出哪张图片，2张图片是对应的-->
                            {:if $data.split.order_status gt 2:}
                        	<img src="images/1194.png"/>
                            {:else:}
                            <img src="images/1198.png"/>
                            {:/if:}
                        </div>
                        
                        <div class="user_eu_order-center-yes-state-img-demo">
                        	<!--此处进行判断，进行到哪步，放出哪张图片，2张图片是对应的-->
                            {:if $data.split.order_status gt 5:}
                        	<img src="images/1195.png"/>
                            {:else:}
                            <img src="images/1199.png"/>
                            {:/if:}
                        </div>
                        
                        <div class="clear12"></div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear33"></div>
                {:if !empty($data.express):}
                <div class="user_eu_order-center-yes-logistics">
                	<div class="user_eu_order-center-yes-logistics-title">
                    	物流详情
                    </div>
                    
                    <div class="user_eu_order-center-yes-logistics-info">
                    	<div class="user_eu_order-center-yes-logistics-info-demo">
                        	物流方式：{:$data.express.express_name:}
                        </div>
                        
                        <div class="user_eu_order-center-yes-logistics-info-demo">
                        	物流单号：{:$data.express.express_code:}
                        </div>
                    </div>
				</div>
                {:/if:}
            </div>
            
            <div class="clear33"></div>
            <!--有订单状态end-->
            {:else:}
            <!--无订单状态-->
        	<div class="user_eu_order-center-no">
            	<div class="user_eu_order-center-no-state">
                	<div class="user_eu_order-center-no-state-title">
                    	<span>
                        	订单状态
                        </span>
                    </div>
                    
                    <div class="user_eu_order-center-no-state-img">
                    	<div class="clear33"></div>
                        
                    	<div class="user_eu_order-center-no-state-img-demo">
                        	<img src="images/1200.png"/>
                        </div>
                        
                        <div class="clear12"></div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="clear33"></div>
            <!--无订单状态end-->
            {:/if:}
            <!--订单信息-->
            <div class="user_eu_order-center-info">
            	<div class="user_eu_order-center-info-title">
                	<span>
                        订单详情
                    </span>
                </div>
                
                <!--收货人信息-->
                <div class="user_eu_order-center-info-consignee">
                	<div class="user_eu_order-center-info-consignee-left">
                    	<div class="user_eu_order-center-info-consignee-left-demo">
                        	<div class="user_eu_order-center-info-consignee-left-demo-left">
                            	收&nbsp;&nbsp;货&nbsp;&nbsp;人：
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-left-demo-right">
                            	{:$data.order.shr_name:}
                            </div>
                        	 
                            <div class="clear"></div>
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="user_eu_order-center-info-consignee-left-demo">
                        	<div class="user_eu_order-center-info-consignee-left-demo-left">
                            	地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-left-demo-right">
                            	{:$data.order.shr_pro:} {:$data.order.shr_city:} {:$data.order.shr_area:} {:$data.order.shr_addr:}
                            </div>
                        	 
                            <div class="clear"></div>                        	 
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="user_eu_order-center-info-consignee-left-demo">
                        	<div class="user_eu_order-center-info-consignee-left-demo-left">
                            	手机号码：
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-left-demo-right">
                            	{:$data.order.shr_phone:}
                            </div>
                        	 
                            <div class="clear"></div>                        	 
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="user_eu_order-center-info-consignee-right">
                        <div class="user_eu_order-center-info-consignee-right-demo">
                        	<div class="user_eu_order-center-info-consignee-right-demo-left">
                            	付款时间：
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-right-demo-right">
                            	{:$data.order.pay_time:}
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-right-demo-right02">
                            	付款方式：{:if $data.order.pay_method eq 1:}支付宝
                                        {:else if $data.order.pay_method eq 2:}银联
                                        {:else if $data.order.pay_method eq 3:}无卡
                                        {:else if $data.order.pay_method eq 9:}积分
                                        {:/if:} 
                            </div>
                        	 
                            <div class="clear"></div>                        	 
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="user_eu_order-center-info-consignee-right-demo">
                        	<div class="user_eu_order-center-info-consignee-right-demo-left">
                            	订单总额：
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-right-demo-right">
                            	¥{:$data.order.total_price:}
                            </div>

                            <div class="user_eu_order-center-info-consignee-right-demo-right02">
                                可获得积分：<span>＋{:($data.order.deal_price*0.05)|floor:}</span>
                            </div>
                        	 
                            <div class="clear"></div>                        	 
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="user_eu_order-center-info-consignee-right-demo">
                        	<div class="user_eu_order-center-info-consignee-right-demo-left">
                            	运费金额：
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-right-demo-right">
                            	 ¥0.00
                            </div>
                        	 
                            <div class="clear"></div>                        	 
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="user_eu_order-center-info-consignee-right-demo">
                        	<div class="user_eu_order-center-info-consignee-right-demo-left">
                            	使用优惠券：
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-right-demo-right">
                            	¥-{:$data.coupon:}
                            </div>
                        	 
                            <div class="clear"></div>                        	 
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="user_eu_order-center-info-consignee-right-demo">
                        	<div class="user_eu_order-center-info-consignee-right-demo-left">
                            	使用积分：
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-right-demo-right">
                            	¥-{:$data.integral:}
                            </div>
                            
                            <div class="user_eu_order-center-info-consignee-right-demo-right02">
                            	应支付金额：<span>¥{:$data.order.deal_price:}</span>
                            </div>
                        	 
                            <div class="clear"></div>                        	 
                        </div>                        
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear27"></div>
                </div>
                
                <div class="clear"></div>
                <!--收货人信息end-->
                
                <!--商品信息-->
                <div class="user_eu_order-center-info-goods">
                	<div class="user_eu_order-center-info-goods-title">
                    	<div class="user_eu_order-center-info-goods-title-name">
                        	商品
                        </div>
                        
                        <div class="user_eu_order-center-info-goods-title-identifier">
                        	商品编号
                        </div>
                        
                        <div class="user_eu_order-center-info-goods-title-number">
                        	数量
                        </div>
                        
                        <div class="user_eu_order-center-info-goods-title-total">
                        	总价
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                    
                    <div class="user_eu_order-center-info-goods-list">
                        {:if !empty($data.splitAll):}
                        {:foreach $data.splitAll as $k=>$v:}
                    	<div class="user_eu_order-center-info-goods-list-demo">
                        	<div class="clear32"></div>
                            
                        	<div class="user_eu_order-center-info-goods-list-demo-img">
                                <a href="javascript:;">
                                	<img src="{:$data.split.goods_image|getImages:}"/>
                                </a>
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-name">
                                <a href="javascript:;">
                                	{:$v.goods_title:}  
                                </a>
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-identifier">
                                {:$v.goods_sn:}  
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-number">
                                x {:$v.goods_num:}  
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-total">
                                ¥{:$v.goods_price:} 
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-integral">
                                
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                        {:/foreach:}
                        {:else:}
                        <div class="user_eu_order-center-info-goods-list-demo">
                            <div class="clear32"></div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-img">
                                <a href="javascript:;">
                                    <img src="{:$v.goods_image|getImages:}"/>
                                </a>
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-name">
                                <a href="javascript:;">
                                    {:$data.split.goods_title:}  
                                </a>
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-identifier">
                                {:$data.split.goods_sn:}  
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-number">
                                x {:$data.split.goods_num:}  
                            </div>
                            
                            <div class="user_eu_order-center-info-goods-list-demo-total">
                                ¥{:$data.split.goods_price:} 
                            </div>

                            <div class="clear"></div>
                        </div>
                        {:/if:}
                        <div class="clear12"></div>
                    </div>
                </div>
                <!--商品信息end-->
            </div>
            <!--订单信息end-->
            
            <div class="clear"></div>
        </div>
    </div>

	<div class="clear"></div>
</div>

<div class="clear27"></div>

{:include file='footer.tpl.html':}
