{:include file="header.tpl.html":}
{:include file='common/daohang.html':}
{:include file="category/category.tpl.html":}
<link rel="stylesheet"  type="text/css"  href="css/euEvaluate.css" ><!-- 个人中心页面调用CSS -->
<link rel="stylesheet"  type="text/css"  href="css/examples.css" ><!-- 星级评分CSS -->


<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
<![endif]-->
<div class="clear2"></div>

<div class="user-center">  
	<div class="user-euEvaluate">
    	<div class="user-euEvaluate-info">
        	<div class="user-euEvaluate-info-left">
            	<div class="user-euEvaluate-info-left-img">
                	<img src="{:$ovEvaluate.goods_image|getimages:}"/>
                </div>
            </div>
            
            <div class="user-euEvaluate-info-right">
            	<div class="clear3"></div>
                
            	<div class="user-euEvaluate-info-right-title">
                	{:$ovEvaluate.goods_title:}
                </div>
                
                <div class="clear3"></div>
                
                <div class="user-euEvaluate-info-right-demo">
                	<div class="user-euEvaluate-info-right-demo-left">
                    	商品价格：
                    </div>
                    
                    <div class="user-euEvaluate-info-right-demo-right">
                    	<span class="span01">
                        	￥{:$ovEvaluate.goods_price:}
                        </span>
                        
                        <span class="span02">
                        	元
                        </span>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
                
                <div class="user-euEvaluate-info-right-demo">
                	<div class="user-euEvaluate-info-right-demo-left">
                    	订单编号：
                    </div>
                    
                    <div class="user-euEvaluate-info-right-demo-right">
                        <span class="span02">
                        	{:$ovEvaluate.sn:}
                        </span>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
                
                <div class="user-euEvaluate-info-right-demo">
                	<div class="user-euEvaluate-info-right-demo-left">
                    	购买日期：
                    </div>
                    
                    <div class="user-euEvaluate-info-right-demo-right">
                        <span class="span02">
                        	{:$ovEvaluate.pay_time:}
                        </span>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear"></div>
            </div>
            
            <div class="clear"></div>
        </div>
        
        <div class="clear33"></div>
        
        <form action="user.php?addOvEvaluate" method="post" enctype="multipart/form-data">
            <div class="user-euEvaluate-form">
            	<div class="user-euEvaluate-form-span">
                	<span>
                    	其他业主，非常需要您真实的建议，请认真评价!
                    </span>
                </div>
                
                <div class="clear27"></div>
                
                <div class="user-euEvaluate-form-star">
                    <div class="user-euEvaluate-form-star-span" id="aaa">
                        描述符合程度：
                    </div>
                    
                    <div class="user-euEvaluate-form-star-select">
                        <div class="box-body">
                            <select id="example-a" id='aaa' name="describe">
                                <option value="1">1分失望</option>
                                <option value="2">2分不满</option>
                                <option value="3">3分一般</option>
                                <option value="4">4分满意</option>
                                <option value="5">5分惊喜</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear15"></div>
                
                <div class="user-euEvaluate-form-star">
                    <div class="user-euEvaluate-form-star-span">
                        物流发货速度：
                    </div>
                    
                    <div class="user-euEvaluate-form-star-select">
                        <div class="box-body">
                            <select id="example-b" name="logistics">
                                <option value="1">1分失望</option>
                                <option value="2">2分不满</option>
                                <option value="3">3分一般</option>
                                <option value="4">4分满意</option>
                                <option value="5">5分惊喜</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear15"></div>
                
                <div class="user-euEvaluate-form-star">
                    <div class="user-euEvaluate-form-star-span">
                        商品满意程度：
                    </div>
                    
                    <div class="user-euEvaluate-form-star-select">
                        <div class="box-body">
                            <select id="example-c" name="goods">
                                <option value="1">1分失望</option>
                                <option value="2">2分不满</option>
                                <option value="3">3分一般</option>
                                <option value="4">4分满意</option>
                                <option value="5">5分惊喜</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear15"></div>
                
                <div class="user-euEvaluate-form-textarea">
                	<div class="user-euEvaluate-form-textarea-title">
                    	综合评价
                    </div>
                    
                    <div class="user-euEvaluate-form-textarea-word">
                    	<textarea name='content'></textarea>
                    </div>
                </div>
                
                <div class="user-euEvaluate-form-textarea-span">
                    *请写下您的宝贵意见及建议
                </div>
                
                <div class="clear12"></div>
                
                <div class="user-euEvaluate-form-file">
                	<div class="user-euEvaluate-form-file-left">
                    	<div class="user-euEvaluate-form-file-left-img">
                        	<div class="user-euEvaluate-form-file-left-img-images">
                            	<img src="images/1140.png"/>
                            </div>
                            
                            <div class="user-euEvaluate-form-file-left-img-input">
                                <input class='files' type="file" id="doc1" name='images[]' style="display:block;" onchange="javascript:setImagePreview(1);"/>
                                <input class='files' type="file" id="doc2" name='images[]' style="display:block;" onchange="javascript:setImagePreview(2);"/>
                                <input class='files' type="file" id="doc3" name='images[]' style="display:block;" onchange="javascript:setImagePreview(3);"/>
                                <input class='files' type="file" id="doc4" name='images[]' style="display:block;" onchange="javascript:setImagePreview(4);"/>
                            	<input class='files' type="file" id="doc5" name='images[]' style="display:block;" onchange="javascript:setImagePreview(5);"/>
                            </div>
                        </div>
                        
                        <div class="user-euEvaluate-form-file-left-span">
                        	<span class="span01">
                            	共
                            </span>
                            
                            <span class="span02" id='num'>0</span>
                            
                            <span class="span01">
                            	张，还能上传
                            </span>
                            
                            <span class="span02" id='numAll'>
                            	5
                            </span>
                            
                            <span class="span01">
                            	张
                            </span>
                        </div>
                    </div>
                    
                    <div class="user-euEvaluate-form-file-right">

                    	<div class="user-euEvaluate-form-file-right-demo" id="div1" style="display: none;" >
                        	<div class="user-euEvaluate-form-file-right-demo-bk" onclick="x(1)">
                            	
                            </div>
                            
                            <div class="user-euEvaluate-form-file-right-demo-img"  id="localImag1">
                            	<img id="image1" src="images/1143.jpg" width="139" height="81"/>
                            </div>
                        </div>
                        
                        <div class="user-euEvaluate-form-file-right-demo"  id="div2" style="display: none;" >
                        	<div class="user-euEvaluate-form-file-right-demo-bk" onclick="x(2)">
                            	
                            </div>
                            
                            <div class="user-euEvaluate-form-file-right-demo-img"  id="localImag2">
                            	<img id="image2" src="images/1143.jpg" width="139" height="81"/>
                            </div>
                        </div>
                        
                        <div class="user-euEvaluate-form-file-right-demo"  id="div3" style="display: none;" >
                        	<div class="user-euEvaluate-form-file-right-demo-bk" onclick="x(3)">
                            	
                            </div>
                            
                            <div class="user-euEvaluate-form-file-right-demo-img"  id="localImag3">
                            	<img id="image3" src="images/1143.jpg" width="139" height="81"/>
                            </div>
                        </div>
                        
                        <div class="user-euEvaluate-form-file-right-demo"  id="div4" style="display: none;" >
                        	<div class="user-euEvaluate-form-file-right-demo-bk" onclick="x(4)">
                            	
                            </div>
                            
                            <div class="user-euEvaluate-form-file-right-demo-img"  id="localImag4">
                            	<img id="image4" src="images/1143.jpg" width="139" height="81"/>
                            </div>
                        </div>
                        
                        <div class="user-euEvaluate-form-file-right-demo"  id="div5" style="display: none;" >
                        	<div class="user-euEvaluate-form-file-right-demo-bk" onclick="x(5)">
                            	
                            </div>
                            
                            <div class="user-euEvaluate-form-file-right-demo-img"  id="localImag5">
                            	<img id="image5" src="images/1143.jpg" width="139" height="81"/>
                            </div>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                
                <div class="clear12"></div>
                
                <div class="user-euEvaluate-form-input">
                	<div class="user-euEvaluate-form-input-sub">
                    	<input type="submit" value="提交评价"/>
                    </div>
                    
                    <div class="user-euEvaluate-form-input-checkbox">
                    	<input type="checkbox" name='none'/>
                        
                        <span>匿名评论</span>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                <input type="hidden" name="goods_id" value="{:$ogid:}">
                <div class="clear15"></div>
            </div>
        </form>
    </div>
      
	<div class="clear"></div>
</div>

<div class="clear2"></div>


{:include file='footer.tpl.html':}

<!--星级评分-->
<script src="js/jquery.barrating.js"></script>
<script src="js/examples.js"></script>
<!--星级评分end-->
 <script type="text/javascript">
//     $(document).ready(function(){ 
//         $('.br-selected').removeClass('br-selected');
//         $('.br-current').removeClass('br-current');
//     }); 
 </script>

 <script type="text/javascript">
//下面用于图片上传预览功能
function setImagePreview(o,avalue) {
//input
    var docObj = document.getElementById("doc"+o);
//img
    var imgObjPreview = document.getElementById("image"+o);
    //div
    var divs = document.getElementById("localImag"+o);

    var div = document.getElementById("div"+o);

    var num = document.getElementById("num").innerHTML;

    var numAll = document.getElementById("numAll").innerHTML;

    if (docObj.files && docObj.files[0]) {
        //火狐下，直接设img属性
        div.style.display = 'block';
        imgObjPreview.style.width = '139px';
        imgObjPreview.style.height = '81px';
        //imgObjPreview.src = docObj.files[0].getAsDataURL();
        //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要以下方式
        imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        docObj.style.display = 'none';
        document.getElementById("num").innerHTML = parseFloat(num) + parseFloat(1);
        document.getElementById("numAll").innerHTML = parseFloat(numAll) - parseFloat(1);
    } else {
        //IE下，使用滤镜
        docObj.select();
        var imgSrc = document.selection.createRange().text;
        var localImagId = document.getElementById("localImag"+o);
        //必须设置初始大小
        div.style.display = 'block';
        localImagId.style.width = "139px";
        localImagId.style.height = "81px";
        //图片异常的捕捉，防止用户修改后缀来伪造图片
        try {
            localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
            localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            docObj.style.display = 'none';
            document.getElementById("num").innerHTML = parseFloat(num) + parseFloat(1);
            document.getElementById("numAll").innerHTML = parseFloat(numAll) - parseFloat(1);
        } catch(e) {
            alert("您上传的图片格式不正确，请重新选择!");
            return false;
        }
        imgObjPreview.style.display = 'none';
        document.selection.empty();
    }
    return true;
}

function x(o){
    var num = document.getElementById("num").innerHTML;
    var numAll = document.getElementById("numAll").innerHTML;
    var div = document.getElementById("div"+o);
    var docObj = document.getElementById("doc"+o);
    div.style.display = 'none';
    docObj.value = '';
    docObj.style.display = 'block';
    document.getElementById("num").innerHTML = parseFloat(num) - parseFloat(1);
    document.getElementById("numAll").innerHTML = parseFloat(numAll) + parseFloat(1);
}
</script>






