	<div class="clear"></div>
    
	<div class="user-left">
        <div class="user-left-01">
            <span>
              我的中心
            </span>
        </div>
        
        <div class="clear33"></div>
        
        <div class="user-left-03">    
            <span>
              订单管理
            </span>
        </div>
        
        <div class="user-left-02">      
            <span>
              健康舒适家
            </span>
        </div>
    
        <div class="user-left-05">      
            <a href="user.php?homeOrderShow" target="_blank">
              我的订单
            </a>
        </div>
    
        <div class="user-left-05">      
            <a href="user.php?evaluateShowAll">
              评价订单
            </a>
        </div>
        
        <div class="user-left-02">      
            <span>
              欧洲建材代购
            </span>
        </div>
    
        <div class="user-left-05">      
            <a href="user.php?order" target="_blank">
              我的订单
            </a>
        </div>
    
        <div class="user-left-05">      
            <a href="user.php?euEvaluateShowAll">
              评价订单
            </a>
        </div>

        <div class="user-left-02">      
            <span>
              海外超市
            </span>
        </div>
    
        <div class="user-left-05">      
            <a href="user.php?supermarketOrder" target="_blank">
              我的订单
            </a>
        </div>
    
        <div class="user-left-05">      
            <a href="user.php?supermarketOrderEvaluateNone">
              评价订单
            </a>
        </div>
    
        <div class="user-left-03">      
            <span>
              关注中心
            </span>
        </div>
    
        <div class="user-left-02">      
            <a href="user.php?concernGoods">
              关注的商品
            </a>
        </div>    
    
        <div class="user-left-03">      
            <span>
              资产中心
            </span>
        </div>
    
        <div class="user-left-02">      
            <a href="user.php?actCoulist">
              优惠券
            </a>
        </div>
        
        <div class="user-left-02">      
            <a href="user.php?integral">
              积分
            </a>
        </div>
        
        <!--<div class="user-left-02">      
            <a href="user.php?assetShow">
              余额
            </a>
        </div>-->
        
        <div class="user-left-03">      
            <span>
              客户服务
            </span>
        </div>
    
        <div class="user-left-02">      
            <a href="user.php?afterService">
				售后服务记录
            </a>
        </div>
    
        <div class="user-left-03">      
            <span>
              设置
            </span>
        </div>
        
        <div class="user-left-02">      
            <a href="user.php?passWordModifyShow">
              修改密码
            </a>
        </div>
    
        <div class="user-left-02">      
            <a href="user.php?userInfo">
              个人信息
            </a>
        </div>
    
        <div class="user-left-02">      
            <a href="user.php?addr">
              收货地址
            </a>
        </div>
  
  </div>
  
