<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品-编辑</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
<script src="__PUBLIC__/Plugin/laydate/laydate.js"></script>
<script src="__PUBLIC__/Plugin/jquery/jquery.colorpicker.js"></script>

<script charset="utf-8" src="__ROOT__/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="__ROOT__/editor/lang/zh_CN.js"></script>
  <script charset="utf-8" src="__ROOT__/editor/plugins/code/prettify.js"></script>
<script>
  var editor;
  KindEditor.ready(function(K) {
      editor = K.create('#editor_id', {
          cssPath : '__ROOT__/editor/plugins/code/prettify.css',
          uploadJson : "__ROOT__/editor/php/upload_json.php",
          // uploadJson : "__ROOT__/editor/php/upload_json.php?ymd=<?php /*echo $ymd.'&filename='.$filename*/ ?>",
          fileManagerJson : '__ROOT__/editor/php/file_manager_json.php',
          allowFileManager : true
      });
      prettyPrint();
  });

</script>
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
        width : 345
    });
    $(".select2").uedSelect({
        width : 167
    });
    $(".select3").uedSelect({
        width : 100
    });

});
    /********grass*********/
    /********grass*********/
</script>

</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">欧洲团代购</a></li>
        <li><a href="#">商品列表</a></li>
        <li><a href="#">编辑商品</a></li>
        </ul>
    </div>
    <div class="formbody">
    <div id="usual1" class="usual">

    <!-- 选项卡 -->
    <div class="itab">
        <ul>
        <li><a href="#tab1" class="selected">通用信息</a></li>
        <li><a href="#tab2">详细描述</a></li>
        <li><a href="#tab3">其他信息</a></li>
        <li><a href="#tab4">商品属性</a></li>
        <li><a href="#tab5">商品相册</a></li>
		<li><a href="#tab6">商品视频</a></li>
        </ul>
    </div>
    <form action="<{:U('update')}>" method="post" enctype="multipart/form-data">

        <!-- 选项卡一 -->
        <div id="tab1" class="tabson" style="position:relative;">
        <!-- <div class="formtext">Hi，<b>admin</b>，欢迎您试用信息发布功能！</div> -->
            <ul class="forminfo">

                <!-- 商品名称 -->
                <li>
                    <label>商品名称<b>*</b></label>
                    <input name="goods_title" id="goods_title" type="text" class="dfinput" placeholder="请填写单位名称"  style="width:518px;" value="<{$goods.goods_title}>"/>
                    <input type="hidden" id="goods_title_style" name="goods_title_style" value="<{$goods.goods_title_style}>" />
                    <img src="__PUBLIC__/Admin/images/colorpicker.png" id="cp3" style="cursor:pointer">
                </li>

                <!-- 促销信息 -->
                <li>
                    <label>促销信息</label>
                    <input name="pro_info" type="text" class="dfinput" placeholder="促销信息" value="<{$goods.pro_info}>"  style="width:518px;"/>
                    <i>显示在商品标题下面的促销信息。</i>
                </li>
                <!-- 商品编号 -->
                <li>
                    <label>商品编号</label>
                    <input name="goods_sn" type="text" class="dfinput" placeholder="请填写商品编号" value="<{$goods.goods_sn}>" style="width:218px;"/>
                    <i>如果您不输入商品编号，系统将自动生成一个唯一的编号。</i>
                </li>

                <!-- 商品助记码 -->
                <li>
                    <label>商品助记码</label>
                    <input name="goods_mnemonic" type="text" class="dfinput" placeholder="请填写商品助记码" value="<{$goods['goods_mnemonic']}>"style="width:218px;"/>
                </li>
                <!-- 商品所属分类 -->
                <li>
                    <label>商品分类<b>*</b></label>
                    <div class="vocation">
                        <select class="select1" name="cate_id">
                            <option value="0">请选择...</option>
                            <?php foreach ($cate_list as $cate): ?>
                            <option value="<{$cate.id}>" <?php echo $goods['cate_id']==$cate['id']?'selected':'' ?> ><?php echo str_repeat('——', $cate['lev']) ?> <{$cate.name}></option>
                            <?php endforeach ?>
                        </select>
                    </div>
                </li>

                <li>
                    <label>经销商编码<b>*</b></label>
                    <div class="vocation">
                        <select class="select1" name="d_id">
                            <option value="0">请选择...</option>
                            <?php foreach ($dealer_list as $cate): ?>
                            <option value="<{$cate.id}>" <?php echo $goods['d_id']==$cate['id']?'selected':'' ?> ><?php echo str_repeat('——', $cate['lev']) ?> <{$cate.identifier}></option>
                            <?php endforeach ?>
                        </select>
                    </div>
                </li>

                <!-- 商品所属品牌 -->
                <li>
                    <label>商品品牌</label>
                    <div class="vocation">
                        <select class="select1" name="brand_id">
                            <option value="">请选择...</option>
                            <?php foreach ($brand_list as $brand): ?>
                            <option value="<{$brand.id}>" <?php echo $goods['brand_id']==$brand['id']?'selected':'' ?> ><{$brand.name}></option>
                            <?php endforeach ?>
                        </select>
                    </div>
                </li>
                 <!-- 商品国家 -->
                <li>
                    <label>商品国家<b>*</b></label>
                    <div class="vocation">
                        <select class="select1" name="country_id">
                            <option value="">请选择...</option>
                            <?php foreach ($list as $val): ?>
                            <option value="<{$val.id}>" <?php echo $goods['country_id']==$val['id']?'selected':'' ?> ><{$val.name}></option>
                            <?php endforeach ?>
                        </select>
                    </div>
                </li>

                <!-- 商品价格 -->
                <li>
                    <label>市场价格<b>*</b></label>
                    <input name="market_price" type="text" class="dfinput" value="<{$goods.market_price}>" placeholder="请填写市场价格"/>
                </li>

                <!-- 采购价格 -->
                <li>
                    <label>本店价格<b>*</b></label>
                    <input name="purchase" type="text" class="dfinput" value="<{$goods.purchase}>" placeholder="请填写本店价格"/>
                </li>

                <!-- 优惠金额 -->
                <li>
                    <label>优惠券额度<b>*</b></label>
                    <input name="discount_amount" type="text" class="dfinput" value="<{$goods.discount_amount}>" placeholder="优惠券抵用金额"/>
                </li>

                <!-- 商品封面图片 -->
                <li>
                    <label>新的封面图片</label>
                    <input type="file" name="face_image" style="position:relative;top:7px;" />
                </li>
                <li style="position:absolute;top:160px;left:720px;border:3px solid #ED5B13;box-shadow:2px 8px 15px #E5865A;border-radius:4px;padding:3px;">
                    <img width="250px;height:300px;" src="<{$goods.face_image}>" alt="" />
                </li>

            </ul>
        </div>

        <!-- 商品描述信息 -->
        <div id="tab2" class="tabson">
            <textarea id="editor_id" name="goods_detail" style="width:850px;height:400px;"><{$goods.goods_detail}></textarea>
        </div>

        <!-- 其他信息 -->
        <div id="tab3" class="tabson">
            <ul class="forminfo">
                <li>
                    <label>是否上架</label>
                    <label style="width:230px;"><input type="checkbox" name="is_putaway" id="" style="position:relative;top:2px;" <?php echo $goods['is_putaway']==1?'checked':'' ?> value="1"/>打勾表示允许销售，否则不允许销售。</label>
                </li>
                <li>
                    <label>是否新品</label>
                    <label style="width:230px;"><input type="checkbox" name="is_new" id="" style="position:relative;top:2px;" <?php echo $goods['is_new']==1?'checked':'' ?>  value="1"/>新品</label>
                </li>
                <li>
                    <label>是否推荐</label>
                    <label style="width:230px;"><input type="checkbox" name="is_rec" id="" style="position:relative;top:2px;" <?php echo $goods['is_rec']==1?'checked':'' ?>  value="1"/>推荐</label>
                </li>
                <li>
                    <label>是否热卖</label>
                    <label style="width:230px;"><input type="checkbox" name="is_hot" id="" style="position:relative;top:2px;" <?php echo $goods['is_hot']==1?'checked':'' ?>  value="1"/>热卖</label>
                </li>
                <li>
                    <label>商品重量</label>
                    <input type="text" name="weight" class="dfinput" value="<{$goods.weight_unit}>" style="width:100px;"/>
                    重量单位:
                    <select name="weight_unit" style="opacity:1;border:solid 1px #c3ab7d;height:35px;">
                        <option value="1" <?php echo $goods['weight_unit']==1?'selected':'' ?> >千克</option>
                        <option value="0.001" <?php echo $goods['weight_unit']=='0.001'?'selected':'' ?> >克</option>
                    </select>
                </li>

                <li>
                    <label>警告库存</label>
                    <input type="number" name="warn_number" value="<{$goods.warn_number}>" class="dfinput" />
                </li>
                <li>
                    <label>商品关键字</label>
                    <input type="text" name="seo_keywords" class="dfinput" value="<{$goods.seo_keywords}>" style="width:500px;" />
                    <i>用于seo优化, 多个用逗号隔开</i>
                </li>
                <li>
                    <label>商品简单描述</label>
                    <textarea name="seo_description" class="textinput" cols="20" rows="5" style="width:328px;height:70px;"><{$goods.seo_description}></textarea>
                    <i>用于seo优化</i>
                </li>
                <li>
                    <label>包装清单描述</label>
                    <input type="text" name="package_list" value="<{$goods.package_list}>" class="dfinput" style="width:500px;" />
                    <i>显示在商品详情页面</i>
                </li>
                <li>
                    <label>售后保障描述</label>
                    <textarea name="after_sales_support" class="textinput" id="" cols="20" rows="5" style="width:328px;height:70px;"><{$goods.after_sales_support}></textarea>
                    <i>显示在商品详情页面</i>
                </li>
                <li>
                    <label>商家备注</label>
                    <textarea name="seller_note" class="textinput" id="" cols="20" rows="5" style="width:328px;height:70px;"><{$goods.seller_note}></textarea>
                    <i>仅供商家自己看的信息</i>
                </li>

                <li></li>
            </ul>
        </div>

        <!-- 商品属性 -->
        <div id="tab4" class="tabson">
            <ul class="forminfo">
                <!-- 商品所属类型 -->
                <li>
                    <label>商品类型<b>*</b></label>
                    <div class="vocation">
                        <select class="select1" id="goods_type" name="type_id">
                            <option value="">请选择...</option>
                            <?php foreach ($type_list as $type): ?>
                            <option value="<{$type.id}>" <?php echo $goods['type_id']==$type['id']?'selected':'' ?> ><{$type.name}></option>
                            <?php endforeach ?>
                        </select>
                    </div>
                </li>
            </ul>
            <ul  class="forminfo"  id="attr_box">

                <!-- 属性模版
                <input type="hidden" name="attr_id_list[]" value="" />
                <li>
                    <label>属性</label>
                    <input type="text" class="dfinput" name="attr_value_list[]" />
                </li>

                <li>
                    <label><a href="javascript:;" onclick="addSpec(this)">[+]</a>属性2</label>
                    <select name="attr_value_list[]" style="opacity:1;border:solid 1px #c3ab7d;height:35px;">
                        <option value="">aaaa</option>
                        <option value="">bbbb</option>
                    </select>
                    &nbsp;&nbsp;属性价格：
                    ￥ <input type="text" name="attr_price_list[]" class="dfinput" id="" style="width:100px;" /> 元
                </li>

                <li>
                    <label>属性3</label>
                    <textarea name="attr_value_list[]" class="textinput" id="" cols="20" rows="5" style="width:328px;height:70px;"></textarea>
                </li>
                属性模版 -->
                <{$goods_attr_str}>
                <li></li>
            </ul>
        </div>

        <!-- 商品相册-->
        <div id="tab5" class="tabson">
            <ul class="forminfo goods-image">
                <li><a href="javascript:;" onclick="addImage(this)">[+]</a>上传图片 <input type="file" accept="image/*" multiple name="img_url[]" class="fdinput" id="" /></li>
            </ul>

            <ul class="imglist">
                <?php foreach ($goods_image_list as $goods_image): ?>
                <li data-id="<{$goods_image.id}>">
                    <span style="height:164px;opacity:<?php echo $goods_image['is_show']==1?'1':'0.3' ?>"><img width="168" height="170" src="<{$goods_image.url}>"></span>
                    <p>
                        <a href="javascript:;" onclick="toggleImage(this)">
                            <?php echo $goods_image['is_show']==1?'隐藏':'显示' ?>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:;" onclick="deleteImage(this)">删除</a>
                    </p>
                </li>
                <?php endforeach ?>

            </ul>
        </div>

		<!-- 商品视频-->
        <div id="tab6" class="tabson">
            <ul class="forminfo goods-image">
                <li><a href="javascript:;" onclick="addImage(this)">[+]</a>
				视频标题<input type="text"  name="video_title[]" style="border: 1px solid #999;width: 300px;height: 20px;"/></br></br>
			　　上传视频 <input type="file"  name="video_url[]" class="fdinput" id="" /></li>
            </ul>

            <ul class="imglist">
                <?php foreach ($goods_video_list as $goods_video): ?>
                <li data-id="<{$goods_video.id}>"style="height:250px;">
                    <span style="height:200px;opacity:<?php echo $goods_video['is_show']==1?'1':'0.3' ?>"><video width="168" height="170"  controls="controls"src="<{$goods_video.url}>"></video>
						<i style="word-wrap:break-word"><{$goods_video.title}></i>
					</span>
                    <p>
                        <a href="javascript:;" onclick="toggleVideo(this)">
                            <?php echo $goods_video['is_show']==1?'隐藏':'显示' ?>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:;" onclick="deleteVideo(this)">删除</a>
                    </p>
                </li>
                <?php endforeach ?>

            </ul>
        </div>
        <div style="margin:0 auto;width:320px">
            <input type="hidden" name="id" value="<{$goods.id}>" />
            <input type="hidden" name="old_type_id" value="<{$goods.type_id}>" />
            <input name="" type="submit" class="btn" value="保存"/>
            <input name="" type="reset" class="btn" value="重置"/>
        </div>
    </form>
    </div>
    </div>
    <script type="text/javascript">

        /*选择类型下拉框的时候获取相应的属性列表*/
        $('#goods_type').change(function(){
            //类型id
            var typeId = parseInt(this.value);
            $.ajax({
                url:"<{:U('Admin/Overseas/Goods/getAttrListByTypeId')}>",
                data:{id:typeId},
                success:function(data){
                    $('#attr_box').html(data);
                }
            });
        });
        //添加多个下拉框
        function addSpec(obj){
            //在当前的li后面克隆一个li,并把加号修改为减号
            var removeSpec = '<li>'+$(obj).parent().parent().clone().html().replace('addSpec(this)">[+]','removeSpec(this)">[-]')+'</li>';
            $(obj).parent().parent().after(removeSpec);
        }

        //删除下拉框
        function removeSpec(obj){
            //删除当前的tr
            $(obj).parent().parent().remove();
        }


        //添加一个图片上传按钮
        function addImage(obj){
            var image = '<li>'+$(obj).parent().clone(true).html().replace('addImage(this)">[+]','removeImage(this)">[-]')+'</li>';
            $(obj).parent().after(image);
        }

        //删除一个图片上传按钮
        function removeImage(obj){
            $(obj).parent().remove();
        }

        //tab切换
        $("#usual1 ul").idTabs();


        //颜色选择器
        $("#cp3").colorpicker({
            fillcolor:true,
            success:function(o,color){
                $("#goods_title").css("color",color);
                $("#goods_title_style").val(color);
            }
        });
        $("#goods_title").css("color",$("#goods_title_style").val());



        //隔行变色
        $('.tablelist tbody tr:odd').addClass('odd');



        //切换图片的显示和隐藏
        function toggleImage(obj){
            var id = $(obj).parent().parent().attr('data-id');
            var that = $(obj);
            if(!id) return;
            $.ajax({
                url:"<{:U('Admin/Overseas/Goods/toggleImage')}>",
                data:{id:id},
                success:function(data){
                    if(data>0){
                        //切换成功,修改文字
                        if($.trim(that.html()) == '隐藏'){
                            that.html('显示');
                            that.parent().prev().css('opacity','0.3');
                        }else{
                            that.parent().prev().css('opacity','1');
                            that.html('隐藏');
                        }
                    }
                }
            });
        }


        //视频的显示和隐藏
        function toggleVideo(obj){
            var id = $(obj).parent().parent().attr('data-id');
            var that = $(obj);
            if(!id) return;
            $.ajax({
                url:"<{:U('Admin/Overseas/Goods/toggleImage')}>",
                data:{id:id,type:'1'},
                success:function(data){
                    if(data>0){
                        //切换成功,修改文字
                        if($.trim(that.html()) == '隐藏'){
                            that.html('显示');
                            that.parent().prev().css('opacity','0.3');
                        }else{
                            that.parent().prev().css('opacity','1');
                            that.html('隐藏');
                        }
                    }
                }
            });
        }
        //删除图片ajax
        function deleteImage(obj){
            var id = $(obj).parent().parent().attr('data-id');
            var that = $(obj);
            if(!id) return;
            $.ajax({
                url:"<{:U('Admin/Overseas/Goods/deleteImage')}>",
                data:{id:id},
                success:function(data){
                    if(data>0){
                        //删除成功, 删除dom
                        that.parent().parent().remove();
                    }
                }
            });
        }
        //删除视频ajax
        function deleteVideo(obj){
            var id = $(obj).parent().parent().attr('data-id');
            var that = $(obj);
            if(!id) return;
            $.ajax({
                url:"<{:U('Admin/Overseas/Goods/deleteImage')}>",
                data:{id:id,type:'1'},
                success:function(data){
                    if(data>0){
                        //删除成功, 删除dom
                        that.parent().parent().remove();
                    }
                }
            });
        }
    </script>
</body>
</html>