<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>积分列表</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });

  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>

</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
        <li><a href="<{:U('Admin/Index/index/main')}>">首页</a></li>
        <li><a href="">积分管理</a></li>
        <li><a href="">积分列表</a></li>
        <li><a href="">详细列表</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <!-- 添加按钮 -->
        <div class="tools">
            <ul class="toolbar">
                <li class=""><a href="<{:U('add',array('user_id'=>$data['0']['user_id'],'user_name'=>$data['0']['user_name']))}>"><span><img src="__PUBLIC__/Admin/images/t01.png"></span>添加</a></li>
            </ul>
        </div>
        <!-- 表格 -->
        <table class="tablelist">
            <thead>
                <tr>
                    <th>编号<i class="sort"><img src="__PUBLIC__/Admin/images/px.gif" /></i></th>
                    <th>用户名</th>
                    <th>订单编号</th>
                    <th>积分</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($data as $v){ ?>
                <tr data-id="<{$v.integral_id}>">
                    <td><{$v.integral_id}></td>
                    <td><{$v.user_name}></td>
                    <td>
                        <?php if ($v['order']==0) {
                            echo '赠送';
                        }else{
                            echo $v['order'];
                        } ?>
                    </td>
                    <td><{$v.integral}></td>
                    <td><?= date('Y-m-d H:i:s',$v['time']) ?></td>
                    <td>
                        <a href="javascript:;" class="tablelink click" onclick="document.getElementById('data_id').setAttribute('data-id',<{$v.integral_id}>)"> 删除</a>
                    </td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        <!-- 分页开始 -->
        <{$page}>
        <!-- 分页结束 -->
        <div class="tip">
            <div class="tiptop"><span>提示信息</span><a></a></div>
          <div class="tipinfo">
            <span><img src="__PUBLIC__/Admin/images/i04.png" /></span>
            <div class="tipright">
            <p>是否确认真的删除吗 ？</p>
            <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
            </div>
            <div class="tipbtn">
            <input name="" id="data_id" data-id="" type="button" onclick="window.location.href='<{:U('integral_delete')}>?id='+this.getAttribute('data-id')"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
            </div>
        </div>
    </div>
</body>
</html>
