<!--主导航-->
<script type="text/javascript" src="./js/daohang.js"></script><!--导航置顶-->

<div class="zhiding">
    <div class="nev">	
        <ul>  
		 <div style="float:right;margin-right:50px;width:auto; position:relative; z-index:10;"> 
			<li>
                    <div class="nev_msg">
                        <a href="index.php?pay" target="_blank">
                            <span>
                                支付方式
                            </span>
                        </a>
                    </div>
                </li>
				<li>
                    <div class="nev_msg">
                        <a href="index.php?integral" target="_blank">
                            <span>
                                积分和券
                            </span>
                        </a>
                    </div>
                </li>
				<li>
                    <div class="nev_msg">
                        <a href="index.php?article" target="_blank">
                            <span>
                                机电售后
                            </span>
                        </a>
                    </div>
                </li>
             <!-- 
                <li>
                    <div class="nev_msg">
                        <a href="javascript:;">
                            <span>
                                导购攻略
                            </span>
                        </a>
                        
                        <div class="lz_xl" id="csa">
                            <dl>
                                <dd>
                                    <a href="index.php?article&id=48">
                                        机电售后
                                    </a>
                                </dd>
                                
                                <dd>
                                    <a href="index.php?integral">
                                        积分和券
                                    </a>
                                </dd>
                                
                                <dd>
                                    <a href="index.php?pay">
                                        支付方式
                                    </a>
                                </dd>
                            </dl>    
                        </div>
                        
                    </div>
                </li>
                
             <li>
                    <div class="nev_msg">
                        <a href="baby.php?index" target="_blank">
                            <span>
                                海外超市
                            </span>
                        </a>
                    </div>
                </li>
                
                 <li>
                    <div class="nev_msg">
                        <a href="eugroup.php?euIndex" target="_blank">
                            <span>
                                欧洲建材代购
                            </span>
                        </a>
                    </div>
                </li> -->
                
                <li>
                    <div class="nev_msg">
                        <a href="index.php?homeindex" target="_blank">
                            <span>
                                健康舒适家
                            </span>
                        </a>
                    </div>
                </li>
                
                <li>
                    <div class="nev_msg">
                        <a href="index.php?aboutus">
                            <span>
                                关于我们
                            </span>
                        </a>
                    </div>
                </li>
                
                <li>
                    <div class="nev_msg">
                        <a href="/">
                            <span>
                                首页
                            </span>
                        </a>
                    </div>
                </li>
            </div>
            
            <div class="index-navigation-sousuo">
                <div class="container">
                    <div class="main clearfix">
                        <div class="column">
                            <div id="sb-search" class="sb-search">
                                <form action="search.php" method="get">
                                    <input id="create-name-02" class="sb-search-input" name="seachall" type="text" />
                                    <input type="submit" id="selSubmitId"  class="sb-search-submit"value=""/>
                                    <span class="sb-icon-search"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        
        <div class="clear"></div>
    </div>
</div>
    
<script src="js/classie.js"></script>
<script src="js/uisearch.js"></script>

<script>
new UISearch( document.getElementById( 'sb-search' ) );
</script>